{% extends 'userena/base_userena.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Email changed!" %}{% endblock %}

{% block content_title %}<h2>{% trans 'New email' %}</h2>{% endblock %}
{% block content %}
<div id="content" class="row-fluid center">
  <img src="{% static 'sansa-logos/SANSA-logo.png' %}" class="gap-bottom"/>
  <p class="lead">{% blocktrans with site.name as site %}Your new email address is saved. You can continue using {{ site }} with this email.{% endblocktrans %}</p>
</div>
{% endblock %}
