{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<div id="content" class="row-fluid">
  <form id="email-change-form" class="form-horizontal span6" action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <fieldset>
      <legend>{% trans "Change Your Email Address" %}</legend>
      <div class="control-group">
        <label class="control-label" for="id_email">
          {% trans 'Your new e-mail address:' %}
        </label>
        <div class="controls">
          {{ form.email }}
          {% if form.email.errors %}
          <span class="help-inline text-error">
            * {{ form.email.errors|join:"; " }}
          </span>
          {% endif %}
        </div>
        {% if form.non_field_errors %}
        <p class="small text-error">
          {{ form.non_field_errors.as_ul }}
        </p>
        {% endif %}
      </div>
    </fieldset>
    <input id="form-submit-btn" class="btn btn-success" type="submit" value="{% trans 'Send confirmation' %}" />
  </form>
</div>
{% endblock %}
