{% extends 'userena/base_userena.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Email changed!" %}{% endblock %}

{% block content_title %}<h2>{% trans 'New email' %}</h2>{% endblock %}
{% block content %}
<div class="container" style="height: 100%;">
    <div class="custom-form-container" style="margin-top: 40px;">
  <p class="lead">{% blocktrans with site.name as site %}Your new email address is saved. You can continue using {{ site }} with this email.{% endblocktrans %}</p>
</div>
</div>
{% endblock %}
