{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  $("#id_email").focus();
  $("input[type='text']").addClass("text");
});
</script>
{% endblock %}
<div class="content">
    {% block content %}
    <div class="custom-form-container" style="margin-top: 40px;">
        <h1>{% trans "PASSWORD RESET" %}</h1>
  <p class="lead">
    {% trans "Forgotten your password? Enter your e-mail address, and we'll reset your password and e-mail the new one to you" %}.
  </p>
  <div class="span4 offset3">
    <form class="form-horizontal" action="" method="post" accept-charset="utf-8">
      {% csrf_token %}
      <fieldset>
        <div class="control-group {% if form.email.errors %}error{% endif %}">
          <label class="control-label" for="id_email">
            {% trans 'Your e-mail address' %}:
          </label>
          <div class="controls">
            {{ form.email }}
            {% if form.email.errors %}
            <span class="inline-help text-error">
              {{ form.email.errors|join:"; " }}
            </span>
            {% endif %}
          </div>
        </div>
        {% if form.non_field_errors %}
        <ul class="text-error unstyled">
          {{ form.non_field_errors.as_ul }}
        </ul>
        {% endif %}
      </fieldset>
     <div class="control-group">
      <div class="controls" style="text-align: center">
      <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}"/>
     </div>
     </div>
    </form>
  </div>
</div>
{% endblock %}
