{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="custom-form-container" style="margin-top: 40px;">  <h3>{% trans "Reset Your Password" %}</h3>
  <form id="reset-password-form" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="control-group">
      <label class="control-label" for="{{field.html_name}}">{{field.label}}:</label>
      <div class="controls">
        {{field}}
      </div>
    </div>
    {% endfor %}
    <input class="btn" type="submit" value="{% trans "Reset password" %}" />
  </form>
</div>
</div>
{% endblock %}
