{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}
<div id="content" class="row-fluid">
  <div class="span4 center">
    <h3>{% trans "Your Profile" %}</h3>
    <p class="lead">These are the personal details which we currently have on our system.</p>
    <a href="{% url "userena_profile_edit" user %}" class="btn btn-success">Edit Profile</a>
  </div>
    <div id="details" class="span6 offset1">
      {% block profile_details %}
        <div class="span6">
        {% block profile_definition_list %}
          {% if profile.user.get_full_name %}
            <strong>{% trans "Name: " %}</strong>
            {{ profile.user.get_full_name }}
          {% endif %}
          {% if profile.user.email and not hide_email %}
            <br /><strong>{% trans "Email: " %}</strong>
            {{ profile.user.email }}
          {% endif %}
          {% if profile.url %}
            <br /><strong>{% trans "Website: " %}</strong>
            {{ profile.url|urlize }}
          {% endif %}
          {% if profile.address1 %}
            <br /><strong>{% trans "Primary Address: " %}</strong>
            {{ profile.address1 }}
          {% endif %}
          {% if profile.address2 %}
            <br /><strong>{% trans "Secondary Address: " %}</strong>
            {{ profile.address2 }}
          {% endif %}
          {% if profile.organisation %}
            <br /><strong>{% trans "Organisation: " %}</strong>
            {{ profile.organisation }}
          {% endif %}
          {% if profile.contact_no %}
            <br /><strong>{% trans "Contact Telephone: " %}</strong>
            {{ profile.contact_no }}
          {% endif %}
        </div>
        <div class="span6">
            {% if profile.about %}
              <strong>{% trans "About Me:" %}</strong>
              <br />{{ profile.about }}
            {% endif %}
          {% endblock %}
        </div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
