{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Edit Profile" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="main-content">
<div id="layoutSidenav_content">
    <main>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    {% include  'account_header.html' %}
    <div class="row">
    <div class="col-xl-4">
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Profile</div>
            <div class="card-body">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "userena_profile_edit" user %}">{% trans "Edit profile" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "userena_email_change" user %}">
                            {% if email %}{% trans "Change your e-mail address" %}{% else %}{% trans "Change e-mail address" %}{% endif %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "userena_password_change" user %}">{% trans "Change password" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
    <!-- Edit Your Profile-->
    <div class="card mb-4">
    <div class="card-header">Edit Profile</div>
    <div id="error-msg" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
        Please fill out the form below before continuing 
      </div>
    <div class="card-body">
        <form action="" enctype="multipart/form-data" method="post">
            {% csrf_token %}
        {% for field in form.visible_fields|slice:":4" %}
            <div class="mb-3">
                <label class="small mb-1" for="{{field.html_name}}">{{field.label}}</label>
                <div class="controls">{{field}}</div>
            </div>
        {% endfor %}
      <div class="span5">
        {% for field in form.visible_fields %}
        {% if forloop.counter > 4 %}
        <div class="mb-3">
          <label class="small mb-1" for="{{field.html_name}}">{{field.label}}</label>
          <div class="controls">
            {{field}}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    <input class="btn sansa-blue-btn" type="submit" value="{% trans "Save changes" %}"/>
    <!-- Save changes button-->
  </form>
   </div>
    </div>
    </div>
    </div>
    </div>
    </main>

</div>
</div>
<script src="{% static "js/error_messages.js" %}?"></script>
{% endblock %}