{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!-- Header - set the background image for the header in the line below-->
    <header class="bg-image-full masthead">
        <div class="header-video-content">
            <iframe
                    src="https://www.youtube.com/embed/jL--9yWaQb0?smart=true&rel=0&wmode=opaque&html5=1&enablejsapi=1&version=3&rel=0&showinfo=0&controls=0&autoplay=1&mute=1&loop=1&playlist=jL--9yWaQb0"
                    frameborder="0" allowfullscreen height="100%" width="100%"></iframe>
        </div>

        <div class="text-center header-text-content">
            <h1 class="text-white fs-3 fw-bolder" >SANSA Earth Observation Online Catalogue</h1>
            <p class="text-white mb-5">The South African National Space Agency Earth Observation imagery archive for South Africa and SADC </p>
            <a class="btn-account btn-l  search" href="/search">SEARCH</a>
        </div>
    </header>
   <!-- Features section-->
        <section class="py-5" id="features" style="position: relative; background-color:#FFFFFF; width: 100%; margin-top: 70px">
            <div class="container px-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-gradient text-white rounded-3 mb-3"><br><img class="img-fluid rounded" src={% static 'images/qgis-icon64.png' %} alt="..." /><br></div>
                        <p>Download a special SANSA-branded version of the free, open-source Quantum GIS</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-gradient text-white rounded-3 mb-3"><br><h2 class="h4 fw-bolder">Fundisa Student Portal</h2><br></div>
                        <p>Be inspired by Earth Observation - Resources and a Student Forum for all your remote sensing questions.</p>

                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-gradient text-white rounded-3 mb-3"><img class="img-fluid rounded" src={% static 'images/Approved_Science_and_Innovation.jpg' %} alt="..." width="250px"/></div>
                        <p>This catalogue was funded by the Department of Science and Innovation</p>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}

