body{background:#133973 url(/media/images/backgrounds/glow.gif) top center repeat-y}
.container{background:#111e31 url(/media/images/backgrounds/bg1.jpg) no-repeat left bottom;min-height:800px}
#header{background:url(/media/images/sac_header.jpg) no-repeat center top;height:107px}
#logo{background:url(/media/images/ribbon.png) no-repeat left top;float:left;left:0;position:absolute;top:0}
#menu{background:#EEE}
#page{padding-bottom:2em;padding-top:2em}
.ui-datepicker{z-index:9999}
ul.errorlist{margin:0;padding:0}
.errorlist li{background-color:#FEF8F6;color:red;display:block;font-size:10px;margin:0 0 3px;padding:4px 5px}
.error{border:solid 10px red}
#results-table{height:200px;overflow-y:scroll}
th a:link,th a:hover,th a:active{background:transparent url(/media/images/help_16.png) no-repeat;color:#FFF;padding-left:18px;text-decoration:none}
#recordtooltip{background:transparent url(/media/images/tooltips/black_arrow.png);color:#fff;display:none;font-size:12px;height:70px;padding:25px;width:160px;z-index:999}
div.formRow{clear:both;padding-top:5px;text-align:left}
div.formRow span.formLabel{float:left;font-weight:700;text-align:left;width:200px}
div.formRow span.formWidth{clear:both;float:left;text-align:left}
#imgPreviewWithStyles{-moz-border-radius:10px;-webkit-border-radius:10px;background:#222;border:none;padding:15px;z-index:999}
#imgPreviewWithStyles span{color:#FFF;display:block;padding:10px 0 3px;text-align:center}
.slider-panel{float:left;height:40px;padding-top:20px;position:relative;width:180px}
.slider-reduce-label{background:url(/media/images/sun_16.png) no-repeat;background-position:50%;float:left;height:16px;overflow:hidden;width:16px}
.slider-increase-label{background:url(/media/images/sun2_16.png) no-repeat;background-position:50%;float:left;height:16px;overflow:hidden;padding-top:40px;width:16px}
.ui-slider-horizontal .ui-state-default{background:url(/media/images/slider-handle.png) no-repeat scroll;background-position:50%;border:none;height:50px;top:-20px}
.ui-slider-horizontal{background:url(/media/images/slider-bar.png) no-repeat;float:left;height:4px;position:relative;top:16px;width:160px;z-index:100}
.slider-bubble{background:url(/media/images/callout.gif) no-repeat;color:#202020;display:none;font-weight:700;height:46px;overflow:hidden;padding:8px 0 0;position:absolute;text-align:center;top:-14px;width:38px}
.button-link{text-align:center;text-decoration:none}
#map-panel{height:36px;margin-top:2px}
#map-panel div{border:solid 0;float:left;height:35px;margin:2px 3px}
#map-navigation-panel{width:256px}
#map-navigation-panel div{border:solid 0;float:left;height:24px;width:24px}
#map-scale{text-align:right}
#map-location{height:30px;text-align:center}
fieldset,form,label,legend{background:transparent;border:0;margin:0;outline:0;padding:0;vertical-align:baseline}
legend{font-size:1.167em;font-weight:700;padding:0 0 1.286em}
fieldset fieldset legend{font-size:1em;padding:0 0 1.5em}
form .field,form .buttons{clear:both;margin:0 0 1.5em}
form .field label{display:block}
form ul.fields{margin:0 0 1.5em;padding:0}
form ul.fields li{list-style-type:none;margin:0}
form ul.inline li,form ul.inline label{display:inline}
form ul.inline li{padding:0 .75em 0 0}
input.radio,input.checkbox{vertical-align:top}
label,button,input.submit,input.image{cursor:pointer}
textarea{overflow:auto}
input.text,input.password,textarea,select{font:1em/1.3 Helvetica, Arial, "Liberation Sans", "Bitstream Vera Sans", sans-serif;margin:0;vertical-align:baseline}
input.text,input.password,textarea{border:1px solid #444;padding:2px}
form.horizontal .field{padding-left:150px}
form.horizontal .field label{display:inline;float:left;margin-left:-150px;width:140px}
ul.dropdown{width:100%;z-index:999999}
ul.dropdown li.hover,ul.dropdown li:hover{background-color:#78baec;color:#fff}
ul.dropdown ul{width:100%}
#product-id-search-list li{display:inline;list-style-type:none;margin:0}
#product-id-search-list li label{display:none}
div.formSpacer,fieldset{clear:both}
* html legend,*+html legend{margin-left:-7px}
* html input.radio,* html input.checkbox,*+html input.radio,*+html input.checkbox{vertical-align:middle}
