<!-- MapServer Template -->
<p><b>Search GUID:</b> <a href="/searchresult/[guid]/">[guid]</a></p>
<!--
<p><b>Id:</b>[id]</p>
<p><b>User Id:</b>[user_id]</p>
<p><b>Keywords:</b>[keywords]</p>
<p><b>sensor_id:</b>[sensor_id]</p>
<p><b>Segment?:</b>[segment_or_scene]</p>
<p><b>jOrbitPath:</b>[jOrbitPath]</p>
<p><b>kFrameRow:</b>[kFrameRow]</p>
<p><b>geometry_file:</b>[geometry_file]</p>
<p><b>search_date:</b>[search_date]</p>
<p><b>start_date:</b>[start_date]</p>
<p><b>end_date:</b>[end_date]</p>
<p><b>deleted:</b>[deleted]</p>
<p><b>geometry:</b>[geometry]</p>
<p><b>ip_position:</b>[ip_position]</p>
-->
