georeferenced_thumbnails
imagery_mastercopies
*.pyc
.DS_Store
Thumb.db
desktop.ini
apache/apache-site-wsgi
apache/django.wsgi
scenes_out_projected/
settings_local.py
thumbs_out/
*.*~
*~
catalogue.log
media/avatars/
*.swp

# TS - docs related ignores
catalogue.log
index.aux
index.log
index.out
index.tex
index.toc
doc-src
SANSA-Catalogue-Manual.aux
SANSA-Catalogue-Manual.log
SANSA-Catalogue-Manual.out
SANSA-Catalogue-Manual.tex
SANSA-Catalogue-Manual.toc
_build


# ABP:
settings_local.py
ipy.py
*.sqlite
catalogue/tests/dims_packages
init_*.sql
nbproject/
imagery_mastercopies/
.directory
catalogue/tests/sample_files/misr/
docs/t2t/SANSA-Catalogue-Manual.aux
docs/t2t/SANSA-Catalogue-Manual.log
docs/t2t/SANSA-Catalogue-Manual.out
docs/t2t/SANSA-Catalogue-Manual.tex
docs/t2t/SANSA-Catalogue-Manual.toc
*.rc
*.dmp
*.orig
build
.idea/workspace.xml
.idea/vagrant.xml
GeoIP.dat
GeoLiteCity.dat
GeoLite2-Country.mmdb
GeoLite2-City.mmdb
python-dev
resources/server_config/mapserver/mapfiles/*.map
resources/server_config/mapserver/apache-include/*.map
venv
.vagrant
*.bak
.idea

# Working data not intended to be versioned
data_for_import
scrap.html
.pycharm_helpers
.sudo_as_admin_successful

deployment/static
deployment/media
deployment/backups
deployment/data
deployment/pg
deployment/logs
deployment/sites-enabled
latest.sql.gz
django_project/core/settings/secret.py
django_project/celerybeat-schedule
.env
django_errors.log
