*.pyc
.DS_Store
Thumb.db
desktop.ini
apache/apache-site-wsgi
apache/django.wsgi
scenes_out_projected/
settings.py
thumbs_out/
*.*~
*~
catalogue.log
media/avatars/


# ABP:
settings_local.py
ipy.py
*.sqlite
settings_test.py
catalogue/test/dims_packages/*.*
init_*.sql

