georeferenced_thumbnails
imagery_mastercopies
*.pyc
.DS_Store
Thumb.db
desktop.ini
apache/apache-site-wsgi
apache/django.wsgi
scenes_out_projected/
settings_local.py
thumbs_out/
*.*~
*~
catalogue.log
media/avatars/
*.swp

# TS - docs related ignores
catalogue.log
index.aux
index.log
index.out
index.tex
index.toc
doc-src
SANSA-Catalogue-Manual.aux
SANSA-Catalogue-Manual.log
SANSA-Catalogue-Manual.out
SANSA-Catalogue-Manual.tex
SANSA-Catalogue-Manual.toc
_build


# ABP:
settings_local.py
ipy.py
*.sqlite
catalogue/tests/dims_packages
init_*.sql
nbproject/
imagery_mastercopies/
.directory
catalogue/tests/sample_files/misr/
docs/t2t/SANSA-Catalogue-Manual.aux
docs/t2t/SANSA-Catalogue-Manual.log
docs/t2t/SANSA-Catalogue-Manual.out
docs/t2t/SANSA-Catalogue-Manual.tex
docs/t2t/SANSA-Catalogue-Manual.toc
*.rc
*.dmp
*.orig
build
