-r REQUIREMENTS.txt
django-debug-toolbar==0.9.4
werkzeug
sqlparse
# install 'subversion' system package
https://guppy-pe.svn.sourceforge.net/svnroot/guppy-pe/trunk/guppy
line_profiler
django_devserver
# Fabric related deps
git+git://github.com/timlinux/fabtools.git
fabgis==0.8.0
