Django==1.5.1
GDAL
PIL==1.1.7
Pygments==1.4
Sphinx
django-dag==1.1
docutils==0.7
gdata==2.0.17
html5lib==0.90
lxml==2.3
mercurial==1.8.1
pisa==3.0.33
psycopg2==2.2.2
pygooglechart==0.3.0
pysqlite==2.6.3
reportlab==2.5
coverage
DateUtils
git+https://github.com/kmmbvnr/django-jenkins.git@2f241bb6b7a111172f1e5bd26a1d21815f83d1e7
pylint
pyflakes
pep8
jslint
django-offline-messages==0.2.6
raven==2.0.6
django-nose==1.1
nose-exclude
git+https://github.com/cmheisel/nose-xcover.git#egg=nosexcover
selenium==2.28.0
django-userena==1.2.1
django-crispy-forms==1.3.2
git+https://github.com/dodobas/pycsw.git
SQLAlchemy==0.8.0b2
django-model-utils==1.2.0
django-extensions==0.4.1
factory-boy==2.1.1
elementsoap==0.6-20071224
