#Note 1.2.4 has broken routers / multidb support
django==1.2.1
django-registration
sorl-thumbnail
django-db-log
django-debug-toolbar
django-extensions
psycopg2
pil
gdata
GDAL
django-dag
html5lib==0.90
reportlab==2.5
pisa==3.0.33
pygooglechart==0.3.0
