{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <div class="row-fluid">
    <h2 class="center">Your Orders Summary</h2>
    <button onclick='location="{% url 'ordersSummary' %}?pdf"' class="btn">
      <i class="icon-download"></i>
    </button>
  </div>
  <div class="row-fluid">
    <h3>Order Status Summary Report</h3>
  </div>
  <div class="row-fluid">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Status</th>
          <th>Count</th>
        </tr>
        {% for record in myOrderStatus %}
        <tr>
          <td>{{ record.name }}</td>
          <td>{{ record.num_orders }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="row-fluid">
    <h3>Order Instrument Type Summary Report</h3>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Instrument Type</th>
          <th>Count</th>
        </tr>
        {% for record in myOrderInstrumentType %}
        <tr>
          <td>{{ record.name }}</td>
          <td>{{ record.num_orders }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="row-fluid">
    <h3>Order Satellite Summary Report</h3>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Satellite</th>
          <th>Count</th>
        </tr>
        {% for record in myOrderSatellite %}
        <tr>
          <td>{{ record.name }}</td>
          <td>{{ record.num_orders }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
