<form enctype="multipart/form-data" action="" method="post" accept-charset="utf-8" class="form-horizontal" id="order-form">
      	{% csrf_token %}
      	<div class="row">
			<div class="span4">
				<div class="control-group">
					<label class="control-label">Projection</label>
				  	<label class="controls radio inline" style="margin-left: 20px;">
				    	<input type="radio" name="projectionRadio" id="projectionRadio1" value="0" checked>
				    	UTM
				  	</label>
				  	<label class="controls radio inline">
				    	<input type="radio" name="projectionRadio" id="projectionRadio1" value="1">
				    	Geographic
				  	</label>
				</div>
			</div>
			<div class="span4">
				<button type="button" class="btn" onclick="triggerProjectionChange('projection')">Apply</button>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.datum.auto_id }}">{{ myOrderForm.datum.label }}</label>
					<div class="controls">
						{{ myOrderForm.datum }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<div class="control-group">
					<label class="control-label">Processing level</label>
				  	<label class="controls radio inline"  style="margin-left: 20px;">
				    	<input type="radio" name="processingRadio" id="processingRadio1" value="1">
				    	Raw
				  	</label>
				  	<label class="controls radio inline">
				    	<input type="radio" name="processingRadio" id="processingRadio1" value="0" checked>
				    	Standard default
				  	</label>
				</div>
			</div>
			<div class="span4">
				<button type="button" class="btn" onclick="triggerProjectionChange('processing')">Apply</button>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.resampling_method.auto_id }}">{{ myOrderForm.resampling_method.label }}</label>
					<div class="controls">
						{{ myOrderForm.resampling_method }}
					</div>
				</div>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.file_format.auto_id }}">{{ myOrderForm.file_format.label }}</label>
					<div class="controls">
						{{ myOrderForm.file_format }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.delivery_method.auto_id }}">{{ myOrderForm.delivery_method.label }}</label>
					<div class="controls">
						{{ myOrderForm.delivery_method }}
					</div>
				</div>
				<hr />
				<div class="control-group {% if myOrderForm.market_sector.errors %}error{% endif %}">
					<label class="control-label" for="{{ myOrderForm.market_sector.auto_id }}">{{ myOrderForm.market_sector.label }}</label>
					<div class="controls">
						{{ myOrderForm.market_sector }}
						<span class="help-inline">{{ myOrderForm.market_sector.errors }}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.subsidy_type_requested.auto_id }}">{{ myOrderForm.subsidy_type_requested.label }}</label>
					<div class="controls">
						{{ myOrderForm.subsidy_type_requested }}
					</div>
				</div>
				{% if user.is_staff %}
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.subsidy_type_assigned.auto_id }}">{{ myOrderForm.subsidy_type_assigned.label }}
					<br /><span class="staffonly">Staff only
					</span>
					</label>
					<div class="controls">
						{{ myOrderForm.subsidy_type_assigned }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.user.auto_id }}">{{ myOrderForm.user.label }}
					<br /><span class="staffonly">Staff only
					</span>
					</label>
					<div class="controls">
						{{ myOrderForm.user }}
					</div>
				</div>
				{% else %}
					{# user field is required for form to be valid #}
					{{ myOrderForm.user.as_hidden }}
				{% endif %}
			</div>
			<div class="span6">
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.notes.auto_id }}">{{ myOrderForm.notes.label }}</label>
					<div class="controls">
						{{ myOrderForm.notes }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<table class="table table-striped">
				<thead><tr>
					<th>Thumb</th>
					<th>Product</th>
					<th>Date</th>
					<th>Cloud</th>
					<th>Metadata</th>
					<th>Projection</th>
					<th>Processing level</th>
					<th>Cost</th>
					<th>Remove</th>
				</tr></thead>
				{% for record in myRecords %}
					<tr>
						<td><img src="/thumbnail/{{ record.product.id }}/small/"></td>
						<td>{{ record.product.productName }}</td>
						<td>{{ record.product.formated_date }}</td>
						<td>{{ record.product.getConcreteInstance.cloud_cover }}</td>
						<td><button class="btn btn-small metadata" data-id="{{ record.product.id }}" type="button"><i class="icon-list-alt"></i></button></td>
						{# we need to turn autoesacpe off for django not to encode json strings #}
						{% autoescape off %}
						{% comment %}
							widget expects:
							data - json with data for select fields
							id - id used to uniquely define widget and connect with other DOM elements for product
							type - must be either projection or processing
							value - option to select by default
						{% endcomment %}
						<td>
							<script>
								$(document.createElement('select')).deliveryOptions(
									{
										'data': $.parseJSON('{{ record.availableUTMZonesJSON }}'),
										'id': {{ record.product.id }},
										'type': 'projection',
										'value': '{{ record.projection.epsg_code }}'
									});
							</script>
						</td>
						<td>
							<script>
								$(document.createElement('select')).deliveryOptions(
									{
										'data': $.parseJSON('{{ record.availableProcessingLevelsJSON }}'),
										'id': {{ record.product.id }},
										'type': 'processing',
										'value': '{{ record.processing_level.id }}'
									});
							</script>
						</td>
						{% endautoescape %}
						<td id="{{ record.product.id }}_cost" name="{{ record.product.id }}_cost" data-id="{{ record.product.id }}">R 
							{% comment %}
								As we are displaying initial cost during render while DOM is not ready
								we are hooking via id to previously created widget to extract the price
								Widget is expected to be found in APP namespace with following name:
								widget_product.id_processing
							{% endcomment %}
							<script>
								document.write(APP['widget_{{ record.product.id }}_processing'].getCost());
							</script>
						</td>
						<td><button class="btn btn-small btn-danger remove" data-id="{{ record.id }}" type="button"><i class="icon-trash"></i></button></td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="pull-right">Total cost: <span id="product_total_cost">R 0</span></div>
			</div>
		</div>
		<div class="row">
			<div class="span2 offset10" style="padding-top: 20px;">
				<button type="submit" class="btn">Order now</button>
			</div>
		</div>
  </form>
  <div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>