{% extends "base.html" %}
{% load compressed %}

{% block extracss %}
	{{ block.super }}
	{% compressed_css 'orderpage' %}
{% endblock %}

{% block content %}
  <div class="row">
  	<div class="span12">
  		<h2>Order details</h2>
  	</div>
  </div>
  <div class="row">
  	<div class="span8">
  		<p><b>Order no.</b> {{ myOrder.orderNumber }}</p>
  	</div>
  	<div class="span4">
  		<p><b>Status:</b> {{ myOrder.order_status.name }}
  	</div>
  </div>
  <div class="row">
  	<div class="span12">
  		<h4>Client details</h4>
  	</div>
  </div>
  <div class="row">
  	<div class="span4">
  		<p>
  			<b>Full name:</b> {{ myOrder.user.first_name}} {{ myOrder.user.last_name}}
  		</p>
  	</div>
  	<div class="span8">
  		<p><b>Email:</b> {{ myOrder.user.email }}
  	</div>
  </div>
  <div class="row">
  	<div class="span4">
  		<p>
  			<b>Organisation:</b> {{ myOrder.user.get_profile.organisation}}
  		</p>
  	</div>
  	<div class="span8">
  		<p><b>Contact No:</b> {{ myOrder.user.get_profile.contact_no }}
  	</div>
  </div>
  <div class="row">
  	<div class="span1">
  		<p>
  			<b>Address:</b> 
  		</p>
  	</div>
  	<div class="span11">
  			<address>
			  {{ myOrder.user.get_profile.address1 }}<br>
			  {{ myOrder.user.get_profile.address2 }}<br>
			  {{ myOrder.user.get_profile.address3 }}<br>
			  {{ myOrder.user.get_profile.address4 }}<br>
			  {{ myOrder.user.get_profile.post_code }}
			</address>
  	</div>
  </div>
  <div class="row">
  	<div class="span12">
  		<h4>Order options</h4>
  	</div>
  </div>
  {% include "orderFormSearch.html" %}

	<div class="row">
		<div class="span12">
			<div class="centered">
			    <button onclick='location="{% url 'downloadClipGeometry' myOrder.id %}?shp";return false;'>SHP</button>
			    <button onclick='location="{% url 'downloadClipGeometry' myOrder.id %}?kml";return false;'>KML</button>
			    <button onclick='location="{% url 'downloadClipGeometry' myOrder.id %}?kmz";return false;'>KMZ</button>
			    <button onclick='location="{% url 'downloadOrderMetadata' myOrder.id %}";return false;'>XML metadata</button>
			    <button onclick='location="{% url 'downloadOrderMetadata' myOrder.id %}?html";return false;'>HTML metadata</button>
			</div>
		</div>
	</div>
  <div class="row">
  	<div class="span10">
  		<h4>Order history</h4>
  	</div>
  	<div class="span2">
  		<button type="button" id="statusFormBtn" class="btn">Update status</button>
  	</div>
  </div>
  <div class="row">
  	<div class="span8">
  		{% for myRecord in myHistory %}
			<div class="row">
				<div class="span4">
					<b>Old status</b> 
					{{ myRecord.old_order_status }}</div>
				<div class="span4">
					<b>New status</b> 
					{{ myRecord.new_order_status }}</div>
			</div>
			<div class="row">
				<div class="span2">
					<b>{{ myRecord.user }} notes:</b>
				</div>
				<div class="span6">
					{{ myRecord.notes }}
				</div>
			</div>
		{% endfor %}
  	</div>
  	<div class="span4">
  		<div class="row hide" id="statusForm">
  		<form id="updateStatusForm" method="POST">
	  		<div class="span4">
	  			<b>New status: </b>
	  			{{ myStatusForm.new_order_status }}
	  		</div>
	  		<div class="span1">
	  			<b>Notes: </b>
	  		</div>
	  		<div class="span3">
	  			{{ myStatusForm.notes }}
	  		</div>
	  		<div class="span4">
	  			<button type="submit" id="statusUpdate" class="btn">Set</button>
	  		</div>
	  	</form>
  		</div>
  	</div>
  </div>

  
  
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  {% compressed_js 'orderpage' %}
  <script>
	function triggerProjectionChange(option) {
		/*
		function is triggered by applying one of helper filters for either projection or
		processing level
		expected input is either "projection" or "processing"
		filter value (option element) can be:
		0 - default option
		1 - secondary selection
		logic is based on presumtion that default selection is first option in select
		and secondary option (GEO for projection and RAW for processing) is last option in select
		*/
		var type = $('input[name='+ option +'Radio]:radio:checked').val()
		if (type == 1) {
			var selector = 'option:last';
		} else {
			var selector = 'option:first';
		}
		$("select[name*='_"+option+"']").find(selector).attr("selected","selected");
		/* 
		we need to manually trigger change event for costs to get updated
		*/
		$("select[name*='_"+option+"']").trigger('change');
	}

	function setTotalCost() {
		/*
		function expects for DOM elements that hold costs have name attribute with _cost suffix
		and data-id attribute that holds product ID
		using product ID we lookup corresponding widget which has method that returns cost
		for curently selected process level
		*/
		var cost = 0;
		$('td[name*="_cost"]').each(function() {
			cost += APP['widget_' + $(this).data('id') + '_processing'].getCost();
		})
		$('#product_total_cost').html(cost);
	}

  	$( document ).ready(function() {
  		$('.metadata').click(function() {
			var id = $(this).data('id');
	        APP.$modal.load('/metadata/'+id, '', function(){
	            APP.$modal.modal();
	        });
		});

		$('#statusFormBtn').click(function() {
			var btn = $(this);
			var div = $('#statusForm')
			if (div.hasClass('hide')) {
				div.removeClass('hide');
				btn.html('Hide');
			} else {
				div.addClass('hide');
				btn.html('Update status')
			}
		});

		$('#updateStatusForm').ajaxForm({
			url: '/updateorderhistory/',
			data: { order: '{{ myOrder.id }}' },
			success: function() { 
		        location.reload(); 
		    },
		    error: function() {
		    	alert('There has been an error!')
		    } 
		});

		$('.remove').click(function() {
			if (confirm('You are about to remove product from cart, are you sure?')) {
			    uiBlock();
			    var elem = $(this);
			    var id = elem.data('id');
			    $.get("/removefromcart/" + id + "/?xhr")
			    .done(function () {
			    	elem.parent().parent().remove();
			        cartLayer.removeFeature(id);
			    })
			    .fail(function () {
			      alert('There has been a problem!');
			    });
				uiUnblock();
			}
		});
		// initial setup of total cost across all products
		setTotalCost();
    });
  </script>
{% endblock %}
