{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <script type="text/javascript">
      function showOrder(theId) {
        theUrl = '/vieworder/' + theId + '/';
        $('#content').load(theUrl,'', zebraTables );
      };
  </script>

{% if not myRecords %}
   <div class="row">
     <h2>No Report to Generate</h2>
   </div>
{% else %}
  <div class="row-fluid center">
  <span class="step-links btn-group">
    <button class="btn btn-small"
       onclick='location="{% url 'orderMonthlyReport' myPrevDate|date:'Y' myPrevDate|date:'m' %}"'>
      <i class="icon-chevron-left"></i> Previous Month
    </button>
    <button onclick='location="?pdf"' class="btn">
      <i class="icon-download"></i>
    </button>
    <button class="btn btn-small"
            onclick='location="{% url 'orderMonthlyReport' myNextDate|date:'Y' myNextDate|date:'m' %}"'>
      <i class="icon-chevron-right"></i>
    </button>
  </span>
  </div>
  <h2 class="chartTitle text-center">Order List for {{ myCurrentDate|date:'M, Y' }}</h2>
  <table class="table table-striped">
    <thead>
    </thead>
    <tbody>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Status</th>
        <th>Placed by</th>
        <th>View</th>
      </tr>
    {% for myOrder in myRecords %}
      <tr>
        <td>{{myOrder.id }}</td>
        <td>{{myOrder.order_date|date:"D, d M Y, H:m" }}</td>
        <td>{{myOrder.order_status}}</td>
        <td>{{myOrder.user.get_profile.first_name}} {{myOrder.user.get_profile.last_name}}</td>
        <td>
          <img src="{% static 'images/search_16.png' %}" 
               style="cursor: pointer;"
               onclick='
               $("#content").load("/vieworder/{{myOrder.id}}/","", zebraTables );
               return false;'
           / >
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
