{% extends "base.html" %}
{% load static from staticfiles %}
{% load pipeline %}

{% block extracss %}
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
	<link href="{% static "css/table.css" %}" rel="stylesheet">
{% endblock %}
{% block extraHeaders %}
    <script src="{% static "js/libs/jquery/jquery-3.6.0.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/libs/underscore-1.13.1/underscore-min.js" %}"></script>
    <script src="{% static "js/libs/openlayers-6.5.0/ol.js" %}"></script>
    <script src="{% static "js/widget.deliveryOptions.js" %}"></script>
    <script src="{% static "js/init_project.js" %}"></script>
{% endblock %}

{% block content%}
<div class="main-content">
    <div id="layoutSidenav_content">
        <main>
            <div class="card mb-4" style="margin-top: 10px">
            <div class="card-body">
            <div id="map" class="order-map map" style="width: 100%; height: 500px">
            </div>
            </div>
            </div>
        </main>
    </div>

  {% include "order_form_search.html" %}
    <div class="modal fade" tabindex="-1" role="dialog"
             id="confirmRemoveModal" data-id="">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Remove Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>You are about to remove product from cart, are you sure?'</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"
                                id="removeBtn">
                            Remove
                        </button>
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}

  <script>
  	var LayerSwitcherState = false;
    function toggleLayerSwitcher() {
	    if (LayerSwitcherState) {
	        $('#map-layerswitcher').hide();
	        $('#map-layerswitcher-control').css('color','#FFFFFF');
	        LayerSwitcherState = false;
	    } else {
	        $('#map-layerswitcher').show();
	        $('#map-layerswitcher-control').css('color','green');
	        LayerSwitcherState = true;
	    }
	}

	function triggerProjectionChange(option) {
		/*
		function is triggered by applying one of helper filters for either projection or
		processing level
		expected input is either "projection" or "processing"
		filter value (option element) can be:
		0 - default option
		1 - secondary selection
		logic is based on presumtion that default selection is first option in select
		and secondary option (GEO for projection and RAW for processing) is last option in select
		*/
		var type = $('input[name='+ option +'Radio]:radio:checked').val()
		if (type == 1) {
			var selector = 'option:last';
		} else {
			var selector = 'option:first';
		}
		$("select[name*='_"+option+"']").find(selector).attr("selected","selected");
		/*
		we need to manually trigger change event for costs to get updated
		*/
		$("select[name*='_"+option+"']").trigger('change');
	}

	function setTotalCost() {
		/*
		function expects for DOM elements that hold costs have name attribute with _cost suffix
		and data-id attribute that holds product ID
		using product ID we lookup corresponding widget which has method that returns cost
		for curently selected process level
		*/
		var cost = 0;
		$('td[name*="_cost"]').each(function() {
			cost += APP['widget_' + $(this).data('id') + '_processing'].getCost();
		})
		$('#product_total_cost').html('R ' + cost);
	}

  	$( document ).ready(function() {

        var cartRecords  = new ol.source.Vector({})
        {% for record in myRecords %}
            var format = new ol.format.WKT();
            var feat = format.readFeature("{{ record.product.spatial_coverage.wkt}}", {
                dataProjection: 'EPSG:4326',
                featureProjection: 'EPSG:3857',
            });
            feat.setProperties({'production': '{{ record.product.unique_product_id }}','id': '{{ record.id }}'})
            feat.setId({{ record.id }})
            cartRecords.addFeature(feat)
      	{% endfor %}
        const center = ol.extent.getCenter(cartRecords.getExtent())
  		let map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }),
                new ol.layer.Vector({
                    className: 'Cart Records',
                    source: cartRecords,
                    style: [
                        new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            color: 'blue',
                            width: 3
                        }),
                        fill: new ol.style.Fill({
                            color: 'rgba(0, 0, 255, 0.1)'
                        })
                    })]
                })
            ],
            view: new ol.View({
                zoom: 4,
                center: center
            })

        });

      	{#var cartLayer = new CartLayer(myMap, {'wkt': CartRecords});#}

		$('#map-layerswitcher-control').click(function() {
			toggleLayerSwitcher();
		});

		$('#id_uses_of_the_data').removeClass('form-control');
		$('#id_uses_of_the_data').addClass('form-select');


		$('.metadata').click(function() {
			var id = $(this).data('id');
	        $.ajax({
                type: 'GET',
                url: '/metadata/' + id,
            success: function (output) {
                const modal = $("#ajax-modal").html(output);
                {#const metadata = $("#metadataContent")#}
                {#metadata.append(output);#}
                modal.modal('show');
            },
            error: function(output){
                    alert("fail");
            }
        });
		})

		$('.remove').click(function() {
		    const modal = $('#confirmRemoveModal');
            const elem = $(this);
            const id = elem.data('id');
            modal.data('id', id);
            modal.data('elem', elem)

            modal.modal('show');
			{#	uiUnblock();#}
		});

		$('#removeBtn').click(function (){
            const modal = $('#confirmRemoveModal');
            let id = modal.data('id');
            let elem = modal.data('elem')
            $.get("/removefromcart/" + id + "/?xhr")
			    .done(function () {
			    	elem.parent().parent().remove();
			        cartRecords.removeFeature(cartRecords.getFeatureById(id));
			        setTotalCost();
			    })
			    .fail(function () {
			      console.log('There has been a problem!');
			    });
            }
        )
		// initial setup of total cost across all products
		{#setTotalCost();#}
    })
  </script>
{% endblock %}
