{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% block content %}
  <script type="text/javascript">
      function showOrder(theId) {
        theUrl = '/vieworder/' + theId + '/';
        $('#content').load(theUrl,'', zebraTables );
      };
  </script>

  <div class="row-fluid center">
    <span class="step-links btn-group">
      <button class="btn"
         onclick='location="{% url 'orderMonthlyReport' myPrevDate|date:'Y' myPrevDate|date:'m' %}"'>
        <i class="icon-chevron-left"></i> Previous Month
      </button>
      <button onclick='location="?pdf"' class="btn btn-success">
        <i class="icon-download"></i> PDF
      </button>
      <button class="btn"
              onclick='location="{% url 'orderMonthlyReport' myNextDate|date:'Y' myNextDate|date:'m' %}"'>
        Next Month <i class="icon-chevron-right"></i>
      </button>
    </span>
  </div>
  {% if not myRecords %}
     <div class="row">
       <h2>No Report to Generate</h2>
     </div>
  {% else %}
    <h2 class="chartTitle text-center">Order List for {{ myCurrentDate|date:'M, Y' }}</h2>
    <div class="row-fluid">
      {% render_table table 'django_tables2/custom-table.html' %}
    </div>
  {% endif %}
{% endblock %}
