{% load staticfiles %}
{% load render_table from django_tables2 %}
{% block extracss %}
    <link href="{% static "css/table.css" %}" rel="stylesheet">
{% endblock %}
<script type="text/javascript">
function showOrder(theId) {
  var theUrl = '/list-orders/?order_id=' + theId + ' #list-order-table';
  $('#list-order-table').load(theUrl);
}
</script>
{% block content %}
<div class="main-content">
<div id="layoutSidenav_content">
    <main>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-4">
        {% if  header  %}
            {% include  'account_header.html' %}
        {% endif %}
        <h1 class="mt-4">Orders</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                                Orders Table
                <div id="order-list-buttonset" class="btn-group pull-right">
                <a href="{{ myUrl }}?page={{ myRecords.number}}&pdf" download="proposed_file_name">
                    <button id="download-btn" class="btn">
                        <i class="icon-download"></i> Download as PDF
                    </button>
                </a>
                    {% if myUrl == '/list-orders/' %} {# can't use url template tag for if evaluation #}
                        <button class="btn monthly-btn"
                                onclick='location="{% url 'order-monthly-report' myCurrentMonth|date:'Y'  myCurrentMonth|date:'m' %}"'>
                            <i class="icon-calendar"></i> View Monthly Reports
                        </button>
                        <button class="btn summary-btn"
                                onclick='location="{% url 'orders-summary' %}"'>
                            <i class="icon-tasks"></i> View Orders Summary
                        </button>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                {% if myRecords %}
                    <div class=id="list-order-table">
                        {% render_table table 'django_tables2/custom-table.html' %}
                    </div>
                {% else %}
                    <div class="text-center" id="list-order-table">
                        <p class="lead">
                            No Order Founds.
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </main>
</div>
</div>
<div class="row-fluid center" style="width:20%; margin: auto">
  <form name="frmShowOrder" method="get" action="" class="row g-3" style="width: 100%;">
      <div class="col-auto">
        <label for="order_id_text" class="col-sm-2 col-form-label">Search orders:</label>
      </div>
      <div class="col-auto">
        <input name="order_id_text" type="text" size="6" maxlength="5" placeholder="Enter Order ID" class="form-control" id="order_id_text">
      </div>
      <div class="col-auto">
        <button class="btn mb-3 btn-primary"
                onclick="showOrder(forms['frmShowOrder'].order_id_text.value); return false;">
          Go
        </button>
      </div>

  </form>
</div>
<div class="row-fluid center gap-bottom">
  <div id="order-list-buttonset" class="btn-group">

  </div>
</div>
<script>
$('.monthly-btn').tooltip({
  placement:'top',
  title:'Monthly Orders'
});
$('.summary-btn').tooltip({
  placement:'top',
  title:'Orders Summary'
});
</script>
{% endblock %}
