{% extends "base.html" %}
{% load compressed %}

{% block extracss %}
	{{ block.super }}
	{% compressed_css 'orderpage' %}
{% endblock %}

{% block content%}
  <div class="row">
  	<div class="span12">
  		<div id="map" class="order-map">
	  		<div id="map-controls" class="blackalpha60">
			    <div id="map-layerswitcher-control">
			      <button class="btn btn-info btn-large right icon-globe"></button>
			    </div>
				<div id="map-navigation"></div>
			</div>
			<div id="map-controls2" class="blackalpha60">
			    <div id="map-control-position"></div>
				<div id="map-control-scalebar"></div>  
			</div>
			<div id="map-layerswitcher" class="drop-shadow"></div>
		</div>
  	</div>
  </div>
  <div class="row">
  	<div class="span12">
  		<h2>Order options</h2>
  	</div>
  </div>
  <form enctype="multipart/form-data" action="" method="post" accept-charset="utf-8" class="form-horizontal" id="order-form">
      	{% csrf_token %}
		<div class="row">
			<div class="span12">
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.datum.auto_id }}">{{ myOrderForm.datum.label }}</label>
					<div class="controls">
						{{ myOrderForm.datum }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.resampling_method.auto_id }}">{{ myOrderForm.resampling_method.label }}</label>
					<div class="controls">
						{{ myOrderForm.resampling_method }}
					</div>
				</div>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.file_format.auto_id }}">{{ myOrderForm.file_format.label }}</label>
					<div class="controls">
						{{ myOrderForm.file_format }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.delivery_method.auto_id }}">{{ myOrderForm.delivery_method.label }}</label>
					<div class="controls">
						{{ myOrderForm.delivery_method }}
					</div>
				</div>
				<hr />
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.market_sector.auto_id }}">{{ myOrderForm.market_sector.label }}</label>
					<div class="controls">
						{{ myOrderForm.market_sector }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.subsidy_type_requested.auto_id }}">{{ myOrderForm.subsidy_type_requested.label }}</label>
					<div class="controls">
						{{ myOrderForm.subsidy_type_requested }}
					</div>
				</div>
				{% if user.is_staff %}
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.subsidy_type_assigned.auto_id }}">{{ myOrderForm.subsidy_type_assigned.label }}</label>
					<div class="controls">
						{{ myOrderForm.subsidy_type_assigned }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.user.auto_id }}">{{ myOrderForm.user.label }}</label>
					<div class="controls">
						{{ myOrderForm.user }}
					</div>
				</div>
				{% endif %}
			</div>
			<div class="span6">
				<div class="control-group">
					<label class="control-label" for="{{ myOrderForm.notes.auto_id }}">{{ myOrderForm.notes.label }}</label>
					<div class="controls">
						{{ myOrderForm.notes }}
					</div>
				</div>
			</div>
		</div>
  </form>
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  {% compressed_js 'orderpage' %}
  <script>
  	var LayerSwitcherState = false;
    function toggleLayerSwitcher() {
	    if (LayerSwitcherState) {
	        $('#map-layerswitcher').hide();
	        $('#map-layerswitcher-control').css('color','#FFFFFF');
	        LayerSwitcherState = false;
	    } else {
	        $('#map-layerswitcher').show();
	        $('#map-layerswitcher-control').css('color','green');
	        LayerSwitcherState = true;
	    }
	}

  	$( document ).ready(function() {
  		var myMap = new APP.SansaMap('map');
  		APP.CartRecordsWTK = {};

  		{% for record in myRecords %}
        APP.CartRecordsWTK['{{ record.product.id }}'] = {
          'wkt': '{{ record.product.spatial_coverage.wkt }}',
          'id': '{{ record.product.unique_product_id }}'};
      	{% endfor %}
      	var cartLayer = new APP.CartLayer(myMap, {'wkt': APP.CartRecordsWTK});

		$('#map-layerswitcher-control').click(function() {
			toggleLayerSwitcher();
		});
    });
  </script>
{% endblock %}
