{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <div class="row-fluid text-center">
    <h2>Your Orders Summary</h2>
    <button onclick='location="{% url 'ordersSummary' %}?pdf"' class="btn">
      <i class="icon-download"></i> Download as PDF
    </button>
  </div>
  <div class="row-fluid text-center">
    <h3 class="gap-bottom gap-top">Order Status Summary Report</h3>
  </div>
  <div class="row-fluid">
    <div class="span8 offset2">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Status</th>
            <th>Count</th>
          </tr>
          {% for record in myOrderStatus %}
          <tr>
            <td>{{ record.name }}</td>
            <td>{{ record.num_orders }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row-fluid text-center">
    <h3 class="gap-bottom gap-top">
      Order Instrument Type Summary Report
    </h3>
    <div class="span8 offset2">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Instrument Type</th>
            <th>Count</th>
          </tr>
          {% for record in myOrderInstrumentType %}
          <tr>
            <td>{{ record.name }}</td>
            <td>{{ record.num_orders }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row-fluid text-center">
    <h3 class="gap-bottom gap-top">
      Order Satellite Summary Report
    </h3>
    <div class="span8 offset2">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Satellite</th>
            <th>Count</th>
          </tr>
          {% for record in myOrderSatellite %}
          <tr>
            <td>{{ record.name }}</td>
            <td>{{ record.num_orders }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
