{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  $("#id_old_password").focus();
  $("input[type='password']").addClass("text");
});
</script>
{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<div class="row-fluid">
<form class="form-horizontal span6" action="" method="post" id="password_change_form" accept-charset="utf-8">
  <fieldset>
    <legend>{% trans "Change Password" %}</legend>
    {% csrf_token %}
 <legend>{% trans 'Password change for' %} {{ user }}</legend>
   <div class="control-group">
    <label class="control-label {% if form.old_password.errors %}errors{% endif %}" for="id_old_password">{% trans "Old password" %}</label>
    <div class="controls">
      {{ form.old_password }}
      {% if form.old_password.errors %}
      <span class="inline-help"><br />{{ form.old_password.errors|join:"; " }}</span>
      {% endif %}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label {% if form.new_password1.errors %}errors{% endif %}" for="id_new_password1">{% trans "New password" %}</label>
    <div class="controls">
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
      <span class="inline-help"><br />{{ form.new_password1.errors|join:"; " }}</span>
      {% endif %}
    </div>
  </div>
  <div class="control-group {% if form.new_password2.errors %}error{% endif %}">
    <label class="control-label" for="id_new_password2">{% trans "Confirm password" %}</label>
    <div class="controls">
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
      <span class="quiet red"><br />{{ form.new_password2.errors|join:"; " }}</span>
      {% endif %}
    </div>
  </div>
  {% if form.non_field_errors %}
  <ul class="error">{{ form.non_field_errors.as_ul }}</ul>
  {% endif %}
  </fieldset>
  <input class="btn btn-success" type="submit" value="{% trans "Change password" %}" />
</form>
</div>
{% endblock %}
