{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  $("#id_email").focus();
  $("input[type='text']").addClass("text");
});
</script>
{% endblock %}

{% block content %}
<div id="content" class="row-fluid center">
  <h3>{% trans "Password Reset Form" %}</h3>
  <p class="lead">
    {% trans "Forgotten your password? Enter your e-mail address, and we'll reset your password and e-mail the new one to you" %}.
  </p>
  <div class="span4 offset3 center">
    <form class="form-horizontal" action="" method="post" accept-charset="utf-8">
      {% csrf_token %}
      <fieldset>
        <div class="control-group {% if form.email.errors %}error{% endif %}">
          <label class="control-label" for="id_email">
            {% trans 'Your e-mail address' %}:
          </label>
          <div class="controls">
            {{ form.email }}
            {% if form.email.errors %}
            <span class="inline-help text-error">
              {{ form.email.errors|join:"; " }}
            </span>
            {% endif %}
          </div>
        </div>
        {% if form.non_field_errors %}
        <ul class="text-error unstyled">
          {{ form.non_field_errors.as_ul }}
        </ul>
        {% endif %}
      </fieldset>
      <input class="btn btn-success" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
  </div>
</div>
{% endblock %}
