{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "User registration" %}{% endblock %}

{% block content %}
<div id="content" class="row-fluid">
    <form class="form-horizontal span6" action="" method="post" accept-charset="utf-8">
      {% csrf_token %}
      <fieldset>
        <legend>{% trans "User registration" %}</legend>
        {{ form.non_field_errors }}
        {% for field in form %}
        {{ field.errors }}
        {% comment %} Displaying checkboxes differently {% endcomment %}
        {% if field.name == 'tos' %}
        <p class="checkbox">
        <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
        </p>
        {% else %}
        <p>
        {{ field.label_tag }}
        {{ field }}
        </p>
        {% endif %}
        {% endfor %}
      </fieldset>
      <input class="btn" type="submit" value="{% trans "Signup"%}" />
    </form>
</div>
{% endblock %}
