{% extends 'productTypes/genericProduct.html' %}
{% block header %}
<h3 class="centered prepend-1 append-1 ">Generic Imagery Product details for</h3>
<p class="centered"><b>{{myObject.product_id}}</b></p>
<p class="centered prepend-1 append-1">Generic Imagery product is always a composite / aggregate product (i.e. it derives from more than one other product.</p>
{% endblock %}

{% block tableBody %}
{{ block.super }}
<tr><th colspan="2">Generic Imagery Product-Specific Properties</th></tr>
<tr><td class="loud">Imaging Mode</td><td class="quiet">{{ myObject.imaging_mode }}</td></tr>
<tr><td class="loud">Spatial Resolution</td><td class="quiet">{{ myObject.spatial_resolution}}</td></tr>
<tr><td class="loud">Spatial Resolution_x</td><td class="quiet">{{ myObject.spatial_resolution_x}}</td></tr>
<tr><td class="loud">Spatial Resolution_y</td><td class="quiet">{{ myObject.spatial_resolution_y}}</td></tr>
<tr><td class="loud">Radiometric Resolution</td><td class="quiet">{{ myObject.radiometric_resolution}}</td></tr>
<tr><td class="loud">Band Count</td><td class="quiet">{{ myObject.band_count}}</td></tr>
{% endblock %}
