{% extends "pdfpage.html" %}

{% block content %}

<h2>Order status summary report</h2>
<table>
  <thead>
    <tr>
      <th width="250px">Status</th>
      <th width="100px">Count</th>
    </tr>
  </thead>
  <tbody>
    {% for record in myOrderStatus %}
    <tr>
      <td>{{ record.name }}</td>
      <td align="right">{{ record.num_orders }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Order product type summary report</h2>
<table>
  <thead>
    <tr>
      <th width="250px">Product type</th>
      <th width="100px">Count</th>
    </tr>
  </thead>
  <tbody>
    {% for record in myOrderProductType %}
    <tr>
      <td>{{ record.name }}</td>
      <td align="right">{{ record.num_orders }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

