{% extends "pdfpage.html" %}

{% load graphtag %}


{% block content %}

{% if myScores %}

<div class="h2">Searches by country of AOI for {{ myCurrentDate|date:'F, Y' }}</div>
<center>
  <img src="{% gPieChart myScores myGraphLabel 0%}" />
</center>

<pdf:spacer height='1cm'/>

<div class="h2">All Countries</div>
<table>
  
  <thead>
    <tr>
      <th width="150px">Country</th>
      <th width="100px">Searches</th>
    </tr>
  </thead>
  <tbody>
    {% for myCountry in myScores %}
    <tr>
      <td align="left">{% filter capfirst %}{{myCountry.country}}{% endfilter %}</td>
      <td align="right">{{ myCountry.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>No reports to generate.</p>
{% endif %}
{% endblock %}
