{% extends "base.html" %}
{% load staticfiles %}
{% block content%}

<div id="title" class="row-fluid">
  <h2 class="centered">About Us</h2>
</div>
<div id="content" class="row-fluid">
  <div class="span4">
    <ul class="thumbnails">
      <li>
        <a href="#" class="thumbnail">
          <img src="{% static 'images/sac.png' %}" alt=""/>
        </a>
      </li>
    </ul>
  </div>
  <div class="span8">
    <p>
      <strong>SANSA Earth Observation &amp; SANSA Space Operations</strong> are key components of SANSA's efforts to maximise the benefit of information, communications and space technology for industry and society. SANSA Space Operations at Hartebeeshoek is located some 70 km west of Pretoria in the Magaliesberg mountain range and is ideally positioned to provide tracking, telemetry and command (TT&amp;C) services for geo-synchronous and polar orbiting spacecraft to the manufacturers, operators and users of satellites and launch vehicles. It is also ideally situated for satellite data acquisition and as such, delivers world-class earth observation data relayed from satellites to a range of stakeholders.
    </p>
    <p>
      <strong>SANSA Earth Observation</strong> is located at Hartebeeshoek and drives and coordinates space based earth observation activities to sustainably benefit all South Africans in an earth-friendly manner. Our objectives are to collect, process and distribute earth observation data to support South Africa's policy, decision-making, planning, resource & environmental management,  economic growth and sustainable development.
    </p>
    <p>
      You can find more information about SANSA at our <a href="http://www.sansa.org.za">home page</a>
    </p>
    <h3>Credits</h3>
    <p>
      This website was built using open source toolkits and components including:
    </p>
    <ul>
      <li>
        <a href="http://django.org" rel="_blank">Django</a>
      </li>
      <li>
        <a href="http://www.pixel-mixer.com" rel="_blank">Pixel Mixer Icons</a>
      </li>
      <li>
          This product includes GeoLite data created by MaxMind, available from
          <a href="http://www.maxmind.com">http://www.maxmind.com</a>.
      </li>
    </ul>
  </div>
</div>


{% endblock %}

