
  <div id="maptooltip">&nbsp;</div>
  <div class="row-fluid">
    <div id="map-container" style="position:relative;">
      <div id="map" style="height:500px;"></div>
      <div id="map-controls" class="blackalpha60">
        <div id="map-layerswitcher-control">
          <button class="btn btn-info btn-large right icon-globe"></button>
        </div>
        <div id="map-navigation"></div>
      </div>
      <div id="map-controls2" class="blackalpha60">
        <div id="map-control-position"></div>
        <div id="map-control-scalebar"></div>
      </div>
      <div id="map-layerswitcher" class="drop-shadow"></div>
    </div>
  </div>
  <div class="row-fluid gap-top">
    <form enctype="multipart/form-data" action="" method="post" accept-charset="utf-8" class="form-horizontal span12" id="add_form">
      {% csrf_token %}
      <h2 class="centered">{{ myTitle }}</h2>
      <p>{{  myMessage|safe }}</p>

      {# render forms based on context #}
      {% if myDeliveryDetailForm and myOrderForm %}

      {% for field in myDeliveryDetailForm %}
      <fieldset class="control-group {% if field.errors %}error{% endif %}">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}: </label>
        <div class="controls">
          {{ field }}
          {% if field.help_text %}
          <span class="help-inline ">{{ field.help_text }}</span>
          {% endif %}
          {% if field.errors %}
          <span class="help-inline ">{{ field.errors|striptags }}</span>
          {% endif %}
        </div>
      </fieldset>
      {% endfor %}
      {% for field in myOrderForm %}
      <fieldset class="control-group {% if field.errors %}error{% endif %}">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls">
          {{ field }}
          {% if field.help_text %}
          <span class="help-inline ">{{ field.help_text }}</span>
          {% endif %}
          {% if field.errors %}
          <span class="help-inline ">{{ field.errors|striptags }}</span>
          {% endif %}
        </div>
      </fieldset>
      {% endfor %}

      {% else %}

      {% if myTaskingDeliveryDetailsForm and myTaskingForm %}

      {% for field in myTaskingDeliveryDetailsForm %}
      <fieldset class="control-group {% if field.errors %}error{% endif %}">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls">
          {{ field }}
          {% if field.help_text %}
          <span class="help-inline ">{{ field.help_text }}</span>
          {% endif %}
          {% if field.errors %}
          <span class="help-inline ">{{ field.errors|striptags }}</span>
          {% endif %}
        </div>
      </fieldset>
      {% endfor %}
      {% for field in myTaskingForm %}
      <fieldset class="control-group {% if field.errors %}error{% endif %}">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls">
          {{ field }}
          {% if field.help_text %}
          <span class="help-inline ">{{ field.help_text }}</span>
          {% endif %}
          {% if field.errors %}
          <span class="help-inline ">{{ field.errors|striptags }}</span>
          {% endif %}
        </div>
      </fieldset>
      {% endfor %}
      {{ myTaskingForm.media }}

      {% else %}

      {% for field in myForm %}
      <fieldset class="control-group {% if field.errors %}error{% endif %}">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls">
          {{ field }}
          {% if field.help_text %}
          <span class="help-inline ">{{ field.help_text }}</span>
          {% endif %}
          {% if field.errors %}
          <span class="help-inline ">{{ field.errors|striptags }}</span>
          {% endif %}
        </div>
      </fieldset>
      {% endfor %}

      {% endif %}
      {% endif %}
      {% if mySubmitLabel %}
      <div class="control-group">
        <div class="controls">
          <button class="btn" type="submit" id="submitButton">{{ mySubmitLabel }}</button>
        </div>
      </div>
      {% else %}
      <div class="control-group">
        <div class="controls">
          <button class="btn" type="submit" id="submitButton">Save</button>
        </div>
      </div>
      {% endif %}
    </form>
  </div>
  <div class="row-fluid">
    {% if myShowCartContentsFlag %}
    <div id="cart" class="">
      {% include "cartContents.html" %}
    </div>
  </div>
  {% endif %}

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Help</h3>
        </div>
        <div class="modal-body" id="modalContainer">
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
<script>
$('select, input, textarea, .help-inline ').addClass('span8');
</script>

 <script type="text/javascript">
    {% if user.is_authenticated %}
      var UserLoged = true;
    {% else %}
      var UserLoged = false;
    {% endif %}
    var LayerSwitcherState = false;
    function toggleLayerSwitcher() {
    if (LayerSwitcherState) {
        $('#map-layerswitcher').hide();
        $('#map-layerswitcher-control').css('color','#FFFFFF');
        LayerSwitcherState = false;
    } else {
        $('#map-layerswitcher').show();
        $('#map-layerswitcher-control').css('color','green');
        LayerSwitcherState = true;
    }
  }

  </script>
  <script>
  $( document ).ready(function() {
    var UserID = '0';
    {% if user.is_authenticated %}
      UserID = '{{ user.username }}';
    {% endif %}

    var myMap = new APP.SansaMap('map');

    var CartRecordsWTK = {};

    {% if myShowMapFlag %}
      {% for record in myRecords %}
        CartRecordsWTK['{{ record.product.id }}'] = {
          'wkt': '{{ record.product.spatial_coverage.wkt }}',
          'id': '{{ record.product.unique_product_id }}'};
      {% endfor %}
      cartLayer = new APP.CartLayer(myMap, {'wkt': CartRecordsWTK});
    {% endif %}

    {% if myTaskingRequestFlag %}
      var geoSearchLayer = new APP.GeoSearchLayer(myMap);
    {% endif %}

    $('#map-layerswitcher-control').click(function() {
      toggleLayerSwitcher();
    });
  });
</script>
