{% load url from future %} {# https://docs.djangoproject.com/en/1.4/releases/1.3/#changes-to-url-and-ssi #}
{% load staticfiles %}
<div id="content" class="row-fluid">
  {% if myCartTitle %}
  <h2>{{ myCartTitle }}</h2>
  {% endif %}
  {% if myRecords %}
  <table id="cart-contents-table" class="table table-bordered">
    {% include "recordHeader.html" %}
    {% for myRecord in myRecords %}
    {% include "record.html" %}
    {% endfor %}
  </table>
  <div class="center">
    {% endif %}
    {% if not myRecords and not myMiniCartFlag %}
    <p>
      Your cart is currently empty. You need to add some items to the cart before you can place your order. To do this, use the <a href="/search">search</a> form to search for some data. Then from the search results, choose which items interest you and add them to your cart using the green cart icon.
    </p>
    {% endif %}
    {% if not myRecords and myMiniCartFlag %}
    <p>
      Your cart is currently empty. You need to add some items to the cart before you can place your order. To do this, click on the green cart icon <img class="icon" src="{% static 'images/buy_16.png' %}"> next to records in the table below.
    </p>
    {% endif %}
    {% if myDownloadOrderFlag %}
    <div id="cart-download-div">
      <p>Download order as:</p>
      <button onclick='location="{% url 'downloadOrder' myOrder.id %}?shp";return false;' class="btn">SHP</button>
      <button onclick='location="{% url 'downloadOrder' myOrder.id %}?kml";return false;' class="btn">KML</button>
      <button onclick='location="{% url 'downloadOrder' myOrder.id %}?kmz";return false;' class="btn">KMZ</button>
    </div>
    {% else %}
    {% if myRecords %}
    <div id="cart-download-div">
      <p>Download cart as:</p>
      <button onclick='location="{% url 'downloadCart' %}?shp";return false;' class="btn">SHP</button>
      <button onclick='location="{% url 'downloadCart' %}?kml";return false;' class="btn">KML</button>
      <button onclick='location="{% url 'downloadCart' %}?kmz";return false;' class="btn">KMZ</button>
      <button onclick='location="{% url 'downloadCartMetadata' %}";return false;' class="btn">XML</button>
      <button onclick='location="{% url 'downloadCartMetadata' %}?html";return false;' class="btn">HTML</button>
    </div>
    <div style="margin-top: 20px;">
      <a class="btn btn-success" onclick="addOrderClicked(); return false;" href="/addorder/">
          <i class="icon-shopping-cart"></i> Order Now!
      </a>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{# script for showing deliveryDetails#}
<script>
$(document).ready(function(){

  {% if myShowDeliveryDetailsFlag %}
  var show_delivery=$('a.show_delivery');
  show_delivery.bind('click', function (evt){
    var ref_id = $(this).attr('ref_id');
    $.ajax({
      url:"/showdeliverydetail/"+ref_id+"/",
      success: function (result){
        $(result).dialog({title:'Delivery details'});
      }
    });
    evt.preventDefault();
  })
  {% endif %}

  {% if myShowDeliveryDetailsFormFlag %}
  $('a.show_form').deliveryDetails();
  {% endif %}

  $('#cart_title').html('Cart (' + {{ myRecords.count }} + ')');
});
</script>

