{% extends "base.html" %}
{% block content%}
<div id="title" class="row-fluid">
  <h2>Contact Us</h2>
</div>
{% if data %}
{% for myItem in data %}
<div id="content" class="row-fluid">
  <div class="span6 center">
    <address>
      <strong>Earth Observation</strong><br>
      {{myItem.people_earth_obeservation}} <br>
      Email: <a href="mailto:{{myItem.email_earth_observation}}">{{myItem.email_earth_observation}}</a><br>
      <abbr title="Phone">Tel:</abbr> {{myItem.phone_earth_observation}}
    </address>
  </div>
  <div class="span6 center">
    <address>
      <strong>Data enquiries, quotes and sales</strong><br>
      Email: <a href="mailto:{{myItem.catalogue_email_enqueries}}">{{myItem.catalogue_email_enqueries}}</a><br>
      <abbr title="Phone">Tel:</abbr> {{myItem.catalogue_phone}}
    </address>
  </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}

