{% extends "base.html" %}
{% block content%}
<div class="row-fluid">
  <h2>Contact Us</h2>
</div>
<div class="row-fluid">
  <div class="span6 center">
    <address>
      <strong>Earth Observation</strong><br>
      Jane Olwoch<br>
      Email: <a href="mailto:jolwoch@sansa.org.za">jolwoch@sansa.org.za</a><br>
      <abbr title="Phone">Tel:</abbr> +27 12 842 7838
    </address>
  </div>
  <div class="span6 center">
    <address>
      <strong>Data enquiries, quotes and sales</strong><br>
      Email: <a href="mailto:customers-eo@sansa.org.za">customers-eo@sansa.org.za </a><br>
      <abbr title="Phone">Tel:</abbr> +27 12 334 5000
      <abbr title="Phone">Fax:</abbr> +27 12 334 5001
    </address>
  </div>
</div>

{% endblock %}

