{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!-- Header - set the background image for the header in the line below-->
    <header class="bg-image-full masthead">
        <div class="header-video-content">
            <video playsinline autoplay muted loop style="width: 100%"><source src="{% static 'video/SANSA-HomePageVideo.mp4' %}" type="video/mp4"></video>
        </div>
        <div class="text-center header-text-content">
            <h1 class="text-white fs-3 fw-bolder" >SANSA Earth Observation Online Catalogue</h1>
            <p class="text-white mb-5">The South African National Space Agency Earth Observation imagery archive for South Africa and SADC </p>
            <a class="btn-account btn-l  search" href="/search">SEARCH</a>
        </div>
    </header>
   <!-- Features section-->
        <section class="py-5" id="features" style="position: relative; background-color:#FFFFFF; width: 100%; padding-top: 56.25%;">
            <div class="container px-5">
                <div class="row gx-5">
                    <div class="col-lg-4 landing-page-link">
                         <a href="https://desa.sansa.org.za/" target="_blank">
                        <div class="feature bg-gradient text-white rounded-3 mb-3" style="margin-top: -2.4em;"><br><img class="img-fluid rounded" src={% static 'sansa-logos/desa_side@2x.png' %} alt="..." /><br></div>
                        <p>DESA turns raw high resolution satellite Earth observation data into actionable ready to use data.</p>
                    </a>
                    </div>
                    <div class="col-lg-4 landing-page-link">
                        <a href="http://fundisa.sansa.org.za/" target="_blank">
                        <div class="feature bg-gradient text-white rounded-3 mb-3"><br><h2 class="h4 fw-bolder mt-2">Fundisa Student Portal</h2><br></div>
                        <p>Be inspired by Earth Observation - Resources and a Student Forum for all your remote sensing questions.</p>
                        </a>
                    </div>
                    <div class="col-lg-4 landing-page-link">
                        <a href="https://www.dst.gov.za/" target="_blank">
                        <div class="feature bg-gradient text-white rounded-3 mb-3"><img class="img-fluid rounded" src={% static 'images/Approved_Science_and_Innovation.jpg' %} alt="..." width="250px"/></div>
                        <p>This catalogue was funded by the Department of Science and Innovation</p>
                        </a>
                    </div>

                </div>
            </div>
        </section>


{% endblock %}

