{% extends "base.html" %}
{% load url from future %} {# https://docs.djangoproject.com/en/1.4/releases/1.3/#changes-to-url-and-ssi #}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% block content %}
  {% box_start "box-orders-summary" %}
  <button onclick='location="{% url 'ordersSummary' %}?pdf"'><img src="/media/images/application-pdf.png" /> PDF</button>
<h2 class="centered">Order status summary report</h2>
<table>
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>Status</th>
      <th>Count</th>
    </tr>
    {% for record in myOrderStatus %}
    <tr>
      <td>{{ record.name }}</td>
      <td>{{ record.num_orders }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2 class="centered">Order product type summary report</h2>
<table>
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>Product type</th>
      <th>Count</th>
    </tr>
    {% for record in myOrderProductType %}
    <tr>
      <td>{{ record.name }}</td>
      <td>{{ record.num_orders }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  {% box_end %}
{% endblock %}

