{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% load staticfiles %}
<script type="text/javascript">
    // <![CDATA[
    $(function()
    {
      {# submit button not used when we are using ajax #}
      $("#submitButton").hide();
      $("#statusForm").dialog(
      {
        bgiframe: true,
        autoOpen: false,
        height: 'auto',
        width: 450,
        modal: true,
        title: 'Update Order status',
        buttons:
        {
          'Update': function()
          {
            submitHistory();
            $(this).dialog('close');
          },
          Cancel: function()
          {
            $(this).dialog('close');
          }
        }
      });
    });
    function submitHistory()
    {
      $("#formHeading").html("Updating status...<img src="{% static 'images/ajax-loader.gif' %}">");
      $("#orderHistory").hide();
      // validate and process form here
      var myDataString = 'order={{myOrder.id}}';
      {% for myField in myForm %}
      myDataString += "&";
      myDataString+="{{myField.html_name}}=" + $("#id_{{myField.html_name}}").val();
      {% endfor %}
      //alert(myDataString);
      $.post(
        "{% url 'updateOrderHistory' %}",
        myDataString,
        function(theResponseData)
        {
           {# alert(theResponseData); #}
           $("#orderHistory").html('');
           $("#orderHistory").slideDown('slow');
           $("#orderHistory").html(theResponseData);
           $("#formHeading").html('Status updated!');
        },
        "html");
      return false;
    };
  //]]>
</script>
{% box_start "box-order-details" %}
<h2 class="centered"><img class="icon" src="{% static 'images/briefcase_32.png' %}"> Order Details</h2>
<h3 class="centered">Order No: {{myOrder.id}}, Order Status: {{myOrder.order_status}}</h3>
<table>
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>Date</th>
      <th>Owner</th>
      <!-- <th>Level</th> -->
      <th colspan="3">Resampling</th>
    </tr>
    <tr>
      <td>{{myOrder.order_date}}</td>
      <td>{{myOrder.user}}</td>
      <!-- <td>{{myOrder.delivery_detail.processing_level}}</td> -->
      <td colspan="2">{{myOrder.delivery_detail.resampling_method}}</td>
    </tr>
    <tr>
      <th colspan="2">Projection</th>
      <th>Datum</th>
      <th>File Format</th>
    </tr>
    <tr>
      <td colspan="2">{{myOrder.delivery_detail.projection}}</td>
      <td>{{myOrder.delivery_detail.datum}}</td>
      <td>{{myOrder.delivery_detail.file_format}}</td>
    </tr>
    <tr>
      <th colspan="2">Full Name</th>
      <th colspan="2">Email</th>
    </tr>
    <tr>
      {% if myOrder.user.get_profile.first_name %}
        <td colspan="2">{{myOrder.user.get_profile.first_name}} {{myOrder.user.get_profile.last_name}}</td>
      {% else %}
        <td colspan="2">{{ myOrder.user.get_profile.email }}</td>
      {% endif %}
      <td colspan="2"><a href="mailto:{{myOrder.user.email}}">{{myOrder.user.email}}</a></td>
    </tr>
    <tr>
      <th colspan="1">Photo</th>
      <th colspan="3">Address</th>
    </tr>
    <tr>
      <td colspan="1">
        avatar:remove
      </td>
      <td colspan="3">
      {% if myOrder.user.get_profile.organisation%}
      {{ myOrder.user.get_profile.organisation}}<br />
      {% else %}
      Organisation Not set<br />
      {% endif %}
      {% if myOrder.user.get_profile.address1 %}
        {{ myOrder.user.get_profile.address1 }}<br />
      {% else %}
        Address1 Not set<br />
      {% endif %}
      {% if myOrder.user.get_profile.address2 %}
        {{ myOrder.user.get_profile.address2 }}<br />
      {% else %}
      Address2 Not set<br />
      {% endif %}
      {% if myOrder.user.get_profile.address3 %}
        {{ myOrder.user.get_profile.address3 }}<br />
      {% endif %}
      {% if myOrder.user.get_profile.address4 %}
        {{ myOrder.user.get_profile.address4 }}<br />
      {% endif %}
      {% if myOrder.user.get_profile.post_code%}
        {{ myOrder.user.get_profile.post_code }}<br />
      {% else %}
      Post Code Not set<br />
      {% endif %}
      {% if myOrder.user.get_profile.contact_no%}
      {{ myOrder.user.get_profile.contact_no}}<br />
      {% else %}
      Contact Number Not set<br />
      {% endif %}

      </td>
    </tr>
    <tr>
      <th colspan="2">Area of coverage</th>
      <th colspan="2">UTM Zone at coverage centroid</th>
    </tr>
    <tr>
      <td colspan="2">{{myCoverage.ProductArea}}</td>
      <td colspan="2">{{myCoverage.CentroidZone}}</td>
    </tr>
    <tr>
      <th colspan="4">Notes</th>
    </tr>
    <tr>
      <td colspan="4">{{myOrder.notes}}</td>
    </tr>
  </tbody>
</table>
<div class="centered">
    {% if myOrder.delivery_detail.geometry %}
    Download clip geometry:
    <button onclick='location="{% url 'downloadClipGeometry' myOrder.id %}?shp";return false;'>SHP</button>
    <button onclick='location="{% url 'downloadClipGeometry' myOrder.id %}?kml";return false;'>KML</button>
    <button onclick='location="{% url 'downloadClipGeometry' myOrder.id %}?kmz";return false;'>KMZ</button>
    {% endif %}
    Download ISO 19115 (SAC Profile)
    <button onclick='location="{% url 'downloadOrderMetadata' myOrder.id %}";return false;'>XML metadata</button>
    Download HTML Metadata
    <button onclick='location="{% url 'downloadOrderMetadata' myOrder.id %}?html";return false;'>HTML metadata</button>
</div>
{% box_end %}
<br />
<div id="items">
  {% include "cartContents.html" %}
</div>
<br />
{% box_start "box-order-history" %}
<h2 class="centered"><img class="icon" src="{% static 'images/clock_32.png' %}"> Order History</h2>
{% if myForm %}
<div style="margin:5px">
  <button id="statusFormLink" onclick="$('#statusForm').dialog('open'); return false;">Update status</button>
</div>
{% endif %}
<div id="orderHistory">
  {% if myHistory %}
    {% include "orderStatusHistory.html" %}
  {% endif %}
</div>
{% box_end %}
<br />
{% if myForm %}
  <div id="statusForm" style="display:none;">
      <h3 id="formHeading">Update Status</h3>
      <form enctype="multipart/form-data" action="{% url 'updateOrderHistory' %}" method="post" id="order_form">
        {% csrf_token %}
        <center>{{ myForm.as_p }}</center>
        <input id="id_order" name="order" type="hidden" value="{{myOrder.id}}" />
        <button type="submit" id="submitButton">Update</button>
      </form>
  </div>
{% endif %}

