{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{# Original code from Tim's SABIO project and copyright is retained by the original author #}

{% block content %}
<div class="row-fluid center gap-bottom">
  <div class="btn-group">
    <button id="user-origin-btn" onclick='location="{% url 'searchMonthlyReport' myCurrentMonth|date:'Y' myCurrentMonth|date:'m' %}"' class="btn"><i class="icon-calendar"></i> User Country of Origin</button>

    <button onclick='location="?pdf"' class="btn btn-success" id="download-btn"><i class="icon-download"></i> PDF</button>

    <button id="aoi-report-btn" onclick='location="{% url 'searchMonthlyReportAOI' myCurrentMonth|date:'Y' myCurrentMonth|date:'m' %}"' class="btn"><i class="icon-calendar"></i> Countries Searched</button>
  </div>
</div>

{% if mySearches %}
  <div class="row-fluid center">
    <h2>Recent Search History</h2>
    {% render_table table 'django_tables2/custom-table.html' %}
  </div>
{% else %}
  <div class="row-fluid center">
    <h2>No Recent Searches</h2>
  </div>
{% endif %}
<script>
$('#download-btn').popover({
  placement:'bottom',
  trigger:'hover',
  content:'Click to download the entire search history list in PDF format',
  title:'Download as PDF'
});
$('#user-origin-btn').popover({
  placement:'bottom',
  trigger:'hover',
  content:'Click to view the monthly user origin reports',
  title:'User Country of Origin Reports'
});
$('#aoi-report-btn').popover({
  placement:'bottom',
  trigger:'hover',
  content:'Click to view the monthly AOI reports',
  title:'AOI Reports'
});
$('.remove-btn').tooltip({
  placement:'right',
  title:'Delete'
});
$('.view-btn').tooltip({
  placement:'top',
  title:'View'
});
</script>
{% endblock %}
