{% extends 'base.html' %}
{# Original code from Tim's SABIO project and copyright is retained by the original author #}

{% block content %}
<div class="row-fluid center gap-bottom">
  <div class="btn-group">
    <button id="user-origin-btn" onclick='location="{% url 'searchMonthlyReport' myCurrentMonth|date:'Y' myCurrentMonth|date:'m' %}"' class="btn"><i class="icon-calendar"></i> User Country of Origin</button>

    <button onclick='location="?pdf"' class="btn" id="download-btn"><i class="icon-download"></i> Download as PDF</button>

    <button id="aoi-report-btn" onclick='location="{% url 'searchMonthlyReportAOI' myCurrentMonth|date:'Y' myCurrentMonth|date:'m' %}"' class="btn"><i class="icon-calendar"></i> Countries Searched</button>
  </div>
</div>

{% if mySearches %}
  <div class="row-fluid center">
    <h2>Recent Search History</h2>
    <table width="100%" class="table table-striped">
      <tr>
        <th>
          <b>Searched by</b>
        </th>
        <th>
          <b>Searched on</b>
        </th>
        <th class="center">
          <b>Sensor</b>
        </th>
        <th class="center">
          <b>Date range(s)</b>
        </th>
        <th class="center">
          <b>Actions</b>
        </th>
      </tr>
      {% for mySearch in mySearches %}
      <tr>
        <td>
          {{ mySearch.user.get_profile.first_name }} {{ mySearch.user.get_profile.last_name }}
        </td>
        <td>
          {{ mySearch.search_date|date:"D, d M Y, H:m" }}
        </td>
        <td class="center">
          {{ mySearch.satellite.operator_abbreviation }} - {{ mySearch.instrumenttype.operator_abbreviation }}
        </td>
        <td>
          {{ mySearch.datesAsString }}
        </td>
        <td class="center">
          <a href="{% url 'searchResultMap' mySearch.guid %}" class="view-btn">
            <i class="icon-search"></i>
          </a>
          <a href="{% url 'deleteSearch' mySearch.id %}" onclick='$.get("{% url 'deleteSearch' mySearch.id %}?xhr");$(this).parent().parent().remove();return false;' class="remove-btn">
            <i class="icon-remove"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% else %}
  <div class="row-fluid center">
    <h2>No Recent Searches</h2>
  </div>
{% endif %}
<script>
$('#download-btn').popover({
  placement:'bottom',
  trigger:'hover',
  content:'Click to download the entire search history list in PDF format',
  title:'Download as PDF'
});
$('#user-origin-btn').popover({
  placement:'bottom',
  trigger:'hover',
  content:'Click to view the monthly user origin reports',
  title:'User Country of Origin Reports'
});
$('#aoi-report-btn').popover({
  placement:'bottom',
  trigger:'hover',
  content:'Click to view the monthly AOI reports',
  title:'AOI Reports'
});
$('.remove-btn').tooltip({
  placement:'right',
  title:'Delete'
});
$('.view-btn').tooltip({
  placement:'top',
  title:'View'
});
</script>
{% endblock %}
