{% load url from future %} {# https://docs.djangoproject.com/en/1.4/releases/1.3/#changes-to-url-and-ssi #}
{% load staticfiles %}
<script type="text/javascript">
    // <![CDATA[
    $(function() 
    {
      {# submit button not used when we are using ajax #}
      $("#submitButton").hide();
      $("#statusForm").dialog(
      {
        bgiframe: true,
        autoOpen: false,
        height: 'auto',
        width: 450,
        modal: true,
        buttons: 
        {
          'Update': function() 
          {
            submitHistory();
            $(this).dialog('close');
          },
          Cancel: function() 
          {
            $(this).dialog('close');
          }
        }
      });
    });
    function submitHistory() 
    {
      $("#formHeading").html('Updating status...<img src="{% static 'images/ajax-loader.gif' %}">'); 
      $("#orderHistory").hide();
      // validate and process form here
      var myDataString = 'order={{myTaskingRequest.id}}';
      {% for myField in myForm %}
      myDataString += "&"; 
      myDataString+="{{myField.html_name}}=" + $("#id_{{myField.html_name}}").val();
      {% endfor %}
      //alert(myDataString);
      $.post(
        "{% url 'updateOrderHistory' %}", 
        myDataString,
        function(theResponseData)
        {
         {# alert(theResponseData); #}
         $("#orderHistory").html('');
         $("#orderHistory").slideDown('slow');
         $("#orderHistory").html(theResponseData);
         $("#formHeading").html('Status updated!'); 
       }, 
       "html");
      return false;
    };
  //]]>
  </script>
  <div class="row-fluid">
    <h2 class="centered">Tasking Request Details</h2>
    <h3 class="centered">Tasking Request No: {{myTaskingRequest.id}}, Order Status: {{myTaskingRequest.order_status}}</h3>
  </div>
  <div class="row-fluid">
    <table class="table table-striped">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th>Date</th>
          <th>Owner</th>
          <!-- <th>Level</th> -->
          <th colspan="2">Resampling</th>
        </tr>
        <tr>
          <td>{{myTaskingRequest.order_date|date:"Y-m-d H:i" }}</td>
          <td>{{myTaskingRequest.user}}</td>
          <!-- <td>{{myTaskingRequest.delivery_detail.processing_level}}</td> -->
          <td colspan="2">{{myTaskingRequest.delivery_detail.resampling_method}}</td>
        </tr>
        <tr>
          <th>Projection</th>
          <th colspan="2">Datum</th>
          <th>File Format</th>
        </tr>
        <tr>
          <td>{{myTaskingRequest.delivery_detail.projection}}</td>
          <td colspan="2">{{myTaskingRequest.delivery_detail.datum}}</td>
          <td>{{myTaskingRequest.delivery_detail.file_format}}</td>
        </tr>
        <tr>
          <th colspan="2">Full Name</th>
          <th colspan="2">Email</th>
        </tr>
        <tr>
          <td colspan="2">{{myTaskingRequest.user.get_profile.firstname}} {{myTaskingRequest.user.get_profile.surname}}</td>
          <td colspan="2"><a href="mailto:{{myTaskingRequest.user.email}}">{{myTaskingRequest.user.email}}</a></td>
        </tr>
        <tr>
          <th colspan="1">Photo</th>
          <th colspan="3">Address</th>
        </tr>
        <tr>
          <td colspan="1">
            avatar:remove
          </td>
          <td colspan="3">
            {% if myTaskingRequest.user.get_profile.organisation%}
            {{ myTaskingRequest.user.get_profile.organisation}}<br />
            {% else %}
            Organisation Not set<br />
            {% endif %}
            {% if myTaskingRequest.user.get_profile.address1 %}
            {{ myTaskingRequest.user.get_profile.address1 }}<br />
            {% else %}
            Address1 Not set<br />
            {% endif %}
            {% if myTaskingRequest.user.get_profile.address2 %}
            {{ myTaskingRequest.user.get_profile.address2 }}<br />
            {% else %}
            Address2 Not set<br />
            {% endif %}
            {% if myTaskingRequest.user.get_profile.address3 %}
            {{ myTaskingRequest.user.get_profile.address3 }}<br />
            {% endif %}
            {% if myTaskingRequest.user.get_profile.address4 %}
            {{ myTaskingRequest.user.get_profile.address4 }}<br />
            {% endif %}
            {% if myTaskingRequest.user.get_profile.post_code%}
            {{ myTaskingRequest.user.get_profile.post_code }}<br />
            {% else %}
            Post Code Not set<br />
            {% endif %}
            {% if myTaskingRequest.user.get_profile.contact_no%}
            {{ myTaskingRequest.user.get_profile.contact_no}}<br />
            {% else %}
            Contact Number Not set<br />
            {% endif %}

          </td>
        </tr>
        <tr>
          <th colspan="4">Notes</th>
        </tr>
        <tr>
          <td colspan="4">{{myTaskingRequest.notes}}</td>
        </tr>
        <tr>
          <th colspan="2">Sensor</th>
          <th colspan="2">Target Date</th>
        </tr>
        <tr>
          <td colspan="2">{{ myTaskingRequest.mission_sensor.name}}</td>
          <td colspan="2">{{ myTaskingRequest.target_date|date:"Y-m-d"  }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row-fluid">
    {% if myTaskingRequest.delivery_detail.geometry %}
    <div class="centered">
      Download tasking geometry:
      <button onclick='location="{% url 'downloadTaskingRequest' myTaskingRequest.id %}?shp"'>SHP</button>
      <button onclick='location="{% url 'downloadTaskingRequest' myTaskingRequest.id %}?kml"'>KML</button>
      <button onclick='location="{% url 'downloadTaskingRequest' myTaskingRequest.id %}?kmz"'>KMZ</button>
    </div>
    {% endif %}

    <br />
    <h2 class="centered">Order History</h2>

    {% if myForm %}
    <div style="margin:5px">
      <button class="btn" onclick="$('#statusForm').dialog('open'); return false;">Update status</button>
    </div>
    {% endif %}
    <div id="orderHistory">
      {% if myHistory %}
      {% include "orderStatusHistory.html" %}
      {% endif %}
    </div>
    <br />
    {% if myForm %}
    <div id="statusForm">
      <h1 id="formHeading">Update Status</h1>
      {% csrf_token %}
      <form enctype="multipart/form-data" action="{% url 'updateOrderHistory' %}" method="post" id="order_form">
        {{ myForm.as_p }}
        <input id="id_order" name="order" type="hidden" value="{{myTaskingRequest.id}}" />
        <button class="btn" type="submit" id="submitButton">Update</button>
      </form>
    </div>
    {% endif %}

  </div>
