{% extends "base.html" %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% load i18n %}

{% block title %}{% trans "Avatar selection finished" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}


{% block content %}
<div id="content">
{% box_start "box-" %}
  <p class="success large">
    {% trans "Your new avatar has been saved successfully" %}.
  </p>

{% box_end %}
{% box_start "box-" %}
    <h3>{% trans "Avatar selection page" %}</h3>
    <p>{% trans "You have several options to select the image you want as avatar on your profile" %}.</p>
  </div>

  {% load avatars %}
  <div class="center">
    <img class="border" id="avatarimg" src="{% avatar 96 %}" />

{% box_end %}
</div>
{% include "userprofile/menu.html" %}
{% endblock %}
