{% load i18n %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> <span class="hidden-phone hidden-tablet">Account</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
      {% if user.is_authenticated %}
        <li>
          <a href="{% url userena_profile_edit user %}">{% trans "Personal information" %}</a>
        </li>
        {% comment %}
        <li>
          <a href="{% url profile_detail %}">{% trans "Avatar" %}</a>
        </li>
        {% endcomment %}
        <li>
          <a href="{% url userena_password_change user %}">{% trans "Change password" %}</a>
        </li>
        <li>
          <a href="{% url userena_email_change user %}">
          {% if email %}{% trans "Change your e-mail address" %}{% else %}{% trans "Add your e-mail address" %}{% endif %}</a>
        </li>
        {% if not validated and email %}
        <li>
          <a href="{% url userena_email_confirm %}">{% trans "Resend validation e-mail" %}</a>
        </li>
        {% endif %}
        <li>
          <a href="{% url userena_signout %}">Logout</a>
        </li>
      {% else %}
        <li>
          <a href="{% url userena_sigin %}">Login</a>
        </li>
      {% endif %}
      </ul>
    </li>