<div class="row">
	<div class="span2">
		Datum
	</div>
	<div class="span3">
		{{ myOrder.datum }}
	</div>
</div>
<div class="row">
	<div class="span2">
		Resampling Algorithm
	</div>
	<div class="span3">
		{{ myOrder.resampling_method }}
	</div>
</div>
<div class="row">
<div class="span12">
	<hr />
</div>
</div>
<div class="row">
<div class="span6">
	<div class="row">
		<div class="span2">
			Data format
		</div>
		<div class="span3">
			{{ myOrder.file_format }}
		</div>
		<div class="span2">
			Delivery method
		</div>
		<div class="span3">
			{{ myOrder.delivery_method }}
		</div>
		<hr />
		<div class="span2">
			Market sector
		</div>
		<div class="span3">
			{{ myOrder.market_sector }}
		</div>
		<div class="span2">
			Subsidy application
		</div>
		<div class="span3">
			{{ myOrder.subsidy_type_requested }}
		</div>
		<div class="span2">
			Subsidy type approved
		</div>
		<div class="span3">
			{{ myOrder.subsidy_type_assigned }}
		</div>
	</div>
</div>
<div class="span6">
	<div class="row">
		<div class="span4">
			{{ myOrder.notes }}
		</div>
	</div>
</div>
</div>
<div class="row">
<div class="span12">
	<table class="table table-striped">
	<thead><tr>
		<th>Thumb</th>
		<th>Product</th>
		<th>Date</th>
		<th>Cloud</th>
		<th>Metadata</th>
		<th>Projection</th>
		<th>Processing level</th>
		<th>Cost</th>
	</tr></thead>
	{% for record in myRecords %}
		<tr>
			<td><img src="/thumbnail/{{ record.product.id }}/small/"></td>
			<td>{{ record.product.productName }}</td>
			<td>{{ record.product.formated_date }}</td>
			<td>{{ record.product.getConcreteInstance.cloud_cover }}</td>
			<td><button class="btn btn-small metadata" data-id="{{ record.product.id }}" type="button"><i class="icon-list-alt"></i></button></td>
			<td>{{ record.projection.name }}</td>
			<td>{{ record.processing_level.name }}</td>
			<td>{{ record.cost }}</td>
		</tr>
	{% endfor %}
	</table>
</div>
</div>
<div class="row">
<div class="span12">
	<div class="pull-right">Total cost: <span id="product_total_cost">0</span></div>
</div>
</div>
<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>