html{height:100%;}
.wrapper, body {
    background-color: #ffffff;
}
hr {display: block;position: relative;padding: 0;margin: 8px auto;height: 0;width: 100%;max-height: 0;font-size: 1px;line-height: 0;clear: both;border: none;border-top: 1px solid #aaaaaa;border-bottom: 1px solid #ffffff;}
.center{text-align:center!important;}
.main-content {
    width: 80%;
    margin: 0 auto;
}
.popover {
    min-width: 260px;
}
.big-map {
    left: 0;
    position: fixed;
    right: 0;
    top: 37px;
    margin: 0;
}
h2 {color:#525351; text-align:left;}
a {text-decoration: none}
h3 {color:#525351;}
.footer-text{font-size: 12px;line-height: 14px;text-align:center;padding-top:3px;}
.brand{padding:4px 20px 2px!important;}
.gap-bottom{padding-bottom:20px;}
.gap-top{margin-top:20px;}
.align-left{text-align:left;}
.custom-well{background-color:#f5f5f5; border: 1px solid #e3e3e3; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);}
.align-right{text-align:right;}
.blue{color:#002a80!important;}
.black{color:black!important;}
#home-slider{width:1210px;left:-20px;}
.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
background-color: #EDF1FC!important;
}
#fundisa{font-family: "StarJedi Special Edition"; font-size: 20px}
@media (min-width: 980px) and (max-width: 1370px) {
  .custom-hide{display:none;}
}
div#dr_container{
    width: 180px;
    border:solid 1px #999;
    background-color:white;
    line-height:1.5em;
    min-height:180px
}

div.dr_row .dr_input{
    display:none
}
div.dr_text{
    padding:0.25em;
    cursor:pointer
}
div.dr_row{
    border:solid 1px #DDD
}
.dr_row:hover{
    border:solid 1px #333;
    background-color:#ddd
}
.dr_row.selected{
    background-color:#00277B;
    color:white
}

.btn:focus {
    outline: none!important;
    outline-offset: 0!important;
}

.error-block {
    font-size: 10px;
    margin: 0;
    padding: 0;
    display: block;
    color: red;
}

.form-error {
    color: #B94A48;
}

.wrapperloading {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
}

.wrapperloading .loading.up {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 150px;
  border: 3px solid #fff;
  border-top-color: #fff;
  border-left-color: #555;
  border-right-color: #555;
  border-bottom-color: #fff;
  -webkit-animation: rotation 3s linear infinite;
  -moz-animation: rotation 3s linear infinite;
  -o-animation: rotation 3s linear infinite;
  animation: rotation 3s linear infinite;
}

.wrapperloading .loading.down {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  border-radius: 150px;
  border: 3px solid #fff;
  border-left-color: #fff;
  border-top-color: #555;
  border-bottom-color: #555;
  border-right-color: #fff;
  -webkit-animation: rotation 1s linear infinite;
  -moz-animation: rotation 1s linear infinite;
  -o-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}


@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.centered {
    text-align: center;
}

.loud {
    font-size: 10px;
    font-weight: bold;
    color: #228441;
    width: 200px;
    /* background-color: #228441; */
}

.quiet {
    font-size: 10px;
}

.white {
    color: #fff;
}

.noopacity {
    opacity: 1 !important;
}

svg {
    z-index: 10000;
}

line {
    z-index: 10000;
}

.focusedResultRow {
    background-color: #2f96b4!important;
    border-left: 2px solid #2f96b4;
    color:white!important;
}

.cartResultRow {
    background-color: rgb(13 110 253 / 11%);
    border-left: 2px solid rgb(13 110 253 / 11%);
}

#svg_layer {
    pointer-events:none;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    z-index: 102;
}

.red {
  color: red;
}

.sansa-white-btn{
        color: #1371a5;
        border-color: #1371a5
    }

.sansa-blue-btn{
    background-color: #1371a5;
    color: #FFFFFF
}


.text-light {
    color: #a6b0cf !important;
}

.text-dark {
    color: #262b3c !important;
}
