/*
 * Map size
 */

#map {
  /* width defined by blueprint.css */
  /*height: 100%;*/
  left: 0;
  right: 0;
  top: 37px;
  bottom:34px;
  position: fixed;
}

/*
 * Css required for map controls that are not rendered in the map widget
 */

.destroyFeatureItemInactive {
  cursor:pointer;
  margin-right: 5px;
  /*height: 24px;
  width: 24px;
  background:url(/media/images/delete_16.png) no-repeat;*/
}    

.olControlDrawFeaturePolygonItemActive
{
  color:#228441;
  margin-right: 5px;
  cursor:pointer;
  /*background:url(/media/images/draw_polygon_on.png) no-repeat;
  height:24px;
  width:24px;*/
}
.olControlDrawFeaturePolygonItemInactive
{
  margin-right: 5px;
  cursor:pointer;
  /*background:url(/media/images/draw_polygon_off.png) no-repeat;
  height:24px;
  width:24px;*/
}
.olControlModifyFeatureItemActive
{
  color:#228441;
  margin-right: 5px;
  cursor:pointer;
  /*background:url(/media/images/draw_line_on.png) no-repeat;
  height:24px;
  width:24px;*/
}
.olControlModifyFeatureItemInactive
{
  margin-right: 5px;
  cursor:pointer;
  /*background:url(/media/images/draw_line_off.png) no-repeat;
  height:24px;
  width:24px;*/
}
.olControlNavigationItemActive
{
  color:#228441;
  margin-right: 5px;
  cursor:pointer;
}
.olControlNavigationItemInactive
{
  margin-right: 5px;
  cursor:pointer;
  /*background:url(/media/images/pan_off.png) no-repeat;
  height:24px;
  width:24px;*/
}
.olControlZoomBoxInItemActive 
{
  color:#228441;
  margin-right: 5px;
  cursor:pointer;
  /*background:url(/media/images/zoom_in_24.png) no-repeat;
  height:24px;
  width:24px;*/
}
.olControlZoomBoxOutItemActive 
{
  color:#228441;
  margin-right: 5px;
  cursor:pointer;
  /*background:url(/media/images/zoom_out_24.png) no-repeat;
  height:24px;
  width:24px;*/
}
.olControlZoomBoxInItemInactive 
{
  margin-right: 5px;
  cursor:pointer;
  /*background:url(/media/images/zoom_in_off_24.png) no-repeat;
  height:24px;
  width:24px;*/
}
.olControlZoomBoxOutItemInactive 
{
  margin-right: 5px;
  cursor:pointer;
  /*background:url(/media/images/zoom_out_off_24.png) no-repeat;
  height:24px;
  width:24px;*/
}
.olControlMapHelpItemInactive
{
  margin-right: 5px;
  cursor:pointer;
  /* OL button control uses ItemInactive CSS class
  http://dev.openlayers.org/docs/files/OpenLayers/Control/Button-js.html
  */
  background:url(/media/images/maphelp-active.png) no-repeat;
  height:24px;
  width:24px;
}

.olControlNavigationHistory {
  margin-right: 5px;
  cursor:pointer;
   /*background-image: url("img/navigation_history.png");
   background-repeat: no-repeat;
   width:  24px;
   height: 24px;*/
}
.olControlNavigationHistoryPreviousItemActive {
  color:black;
  margin-right: 5px;
  cursor:pointer;
 /* background-position: 0px 0px;*/
}
.olControlNavigationHistoryPreviousItemInactive {
  margin-right: 5px;
  color:grey;
  cursor:pointer;
   /*background-position: 0px -24px;*/
}
.olControlNavigationHistoryNextItemActive {
  margin-right: 5px;
  color:black;
  cursor:pointer;
   /*background-position: -24px 0px;*/
}
.olControlNavigationHistoryNextItemInactive {
  margin-right: 5px;
  color:grey;
  cursor:pointer;
   /*background-position: -24px -24px;*/
}

/*
 * Scalebar
 */

.olImageLoadError { background-color: transparent !important; }

.olControlScaleBar {
    bottom: 10px;
    left: 15px;
    font-family: sans-serif;
}

.olControlScaleBarBar {
    height: 5px!important;
    top: 12px;
    background-color: #FFFFFF;
    background-position: 0 0;
    background-repeat: repeat-x;
}
.olControlScaleBarBarAlt {
    height: 5px!important;
    top: 12px;
    background-color: #000000;
    background-position: 0 0;
    background-repeat: repeat-x;
}

.olControlScaleBarMarkerMajor {
    height: 12px!important;
    width: 13px;
    top: 12px;
    color: #000000;
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 5000;
}

.olControlScaleBarMarkerMinor {
    height: 12px!important;
    width: 13px;
    top: 12px;
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 5000;
}

.olControlScaleBarNumbersBox {
    height: 17px!important;
    width: 40px;
    top: 18px;
    font-size: 9px;
}

.olControlScaleBarLabelBox {
    height: 17px!important;
    top: -6px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.olControlScaleBarLabelBoxSingleLine {
    height: 13px!important;
    width: 35px;
    top: 0px;
    left: 10px;
    font-size: 13px;
}

