.order-map {
    position: relative;
    height:500px;
}

#map-controls2 {
    width: 200px;
    height: 53px;
    z-index: 1000;
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: #ffffff;
    font-size: 10px;
}

#map-controls3 {
    width: 200px;
    height: 53px;
    z-index: 100;
    position: fixed;
    bottom: 50px;
    left: 10px;
    color: #ffffff;
    font-size: 10px;
    padding-left: 5px;
}

#map-control-position {
    position: relative;
    float:left;
    clear:left;
    margin-left: 50px;
    margin-bottom: 3px;
}

#map-control-scalebar {
    position: relative;
    margin-left: 15px;
    float:left;
    clear:left;
}

#map-controls {
    width: 300px;
    height: 35px;
    z-index: 1000;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -225px;
    color: #ffffff;
    padding-top: 12px;
    padding-left: 3px;
}

.blackalpha60 {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#map-navigation {
    position: absolute;
    top: 22px;
    left: 53px;
}

#map-layerswitcher {
    width: 823px;
    height: 110px;
    z-index: 1000;
    position: absolute;
    bottom: 55px;
    left: 50%;
    color: #000;
    background: #ffffff;
    display: none;
    padding-top: 2px;
    margin-left: -452px;
}

#map-layerswitcher-control {
    float: left;
    cursor: pointer;
    width: 50px;
}

#map-layerswitcher .layer-control {
    width: 80px;
    height: 108px;
    position: relative;
    float: left;
    margin: 0 0 0 2px;
}

#map-layerswitcher .layer-control:hover {
    cursor: pointer;
    text-shadow: 0 0 10px #c61a1a;
}

#map-layerswitcher img {
    width: 80px;
    height: 80px;
}

#map-layerswitcher p {
    font-size: 12px;
    line-height: 12px;
    margin-left: 5px;
}

#map-layerswitcher .visible  {
    background-color: LightGray;
    font-weight: bold;
}

.olTileImage {
    /*max-width: inherit;*/
    backface-visibility: inherit !important;
    transform: inherit !important;
}