{% extends "reportbody.html" %}
{% block report%}
{% if myLookupTableList %}
<h1>Synchronisation of Lookup Tables</h1>
<table id="gradient-style" summary="Available Sensors">
  <thead> 
    <th>Messages</td>
  </thead>
  <tfoot>
  </tfoot>
  <tbody>
    {% for myValue in myLookupTableList %}
    <tr> 
      <td>{{ myValue|safe }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h2>No lookup table sync was carried out.</h2>
{% endif %}


{% if myDataTableList %}
<h1>Synchronisation of Data Tables</h1>
<table id="gradient-style" summary="Available Sensors">
  <thead> 
    <th>Messages</td>
  </thead>
  <tfoot>
  </tfoot>
  <tbody>
    {% for myValue in myDataTableList %}
    <tr> 
      <td>{{ myValue|safe }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h2>No data table sync was carried out.</h2>
{% endif %}
{% endblock %}
