{% extends 'base.html' %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{%  block content %}
{% box_start "box-welcome" "span-22" %}
    <h1 class="centered">Collection List</h1>
    {% for item in collection %}
        <h1>Collection</h1>
        <p>Name: {{ item.name }}</p>
        <p>Description: {{ item.description }}</p>
        {% for satellite in item.relatedSatellites %}
             <h2>Satellite Instrument</h2>
            <p>Name: {{ satellite.name }}
             <a href='/satelliteDetails/{{ satellite.id }}/'>Details</a>
            </p>
             <p>Description: {{ satellite.description }}</p>
        {% endfor %}
    {% endfor %}
    {% box_end %}
{% endblock %}
