
    <h1>Satellite</h1>
    <p>Name: {{ satellite.name }}</p>
    <p>Description: {{ satellite.description }}</p>
    {% for satelliteInstrument in satellite.relatedSatelliteInstruments %}
        <h2>Satellite Instrument</h2>
        <p>Name: {{ satelliteInstrument.name }}</p>
        <p>Description: {{ satelliteInstrument.description }}</p>
        <h3>Instrument Type</h3>
        <p>Name: {{ satelliteInstrument.instrument_type.name }}</p>
        <p>Description: {{ satelliteInstrument.instrument_type.description }}</p>
        {% for type in satelliteInstrument.instrument_type.relatedScannerType %}
            <h3>Scanner Type</h3>
            <p>Name: {{ type.name }}</p>
            <p>Description: {{ type.description }}</p>
            <hr />
        {% endfor %}
        <h3>Spectral Mode</h3>
        {% for mode in satelliteInstrument.instrument_type.relatedSpectralModes %}
            <h4>Instrument Spectral Mode</h4>
            <p>Name: {{ mode.name }}</p>
            <p>Description: {{ mode.description }}</p>
            <h4>Generic Spectral Mode</h4>
            <p>Name: {{ mode.spectral_mode.name }}</p>
            <p>Description: {{ mode.spectral_mode.description }}</p>
            <hr />
        {% endfor %}
    {% endfor %}
