{% extends "base.html" %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% load i18n %}

{% block title %}{% if user.email %}{% trans "E-mail change" %}{% else %}{% trans "Add e-mail" %}{% endif %}{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
  $(function() {
    $("input#id_email").focus();
    $("input[type='text'], input[type='text']").addClass("text");
  });
</script>
{% endblock %}

{% block content %}
<div class="row-fluid">
{% box_start "box-" %}
  <form class="form-horizontal span6" action="" method="post" accept-charset="utf-8">
 {% csrf_token %}
    <legend>{% if user.email %}{% trans "E-mail change" %}{% else %}{% trans "Add e-mail" %}{% endif %}</legend>
    <div class="control-group">
      <label class="control-label" for="id_email">{% trans 'New e-mail address' %}</label>
      <div class="controls">{{ form.email }}
    {% if form.email.errors %}
      <span class="quiet red"><br />* {{ form.email.errors|join:"; " }}</span>
    {% endif %}
    </p>
    {% if form.non_field_errors %}
      <ul class="quiet red">{{ form.non_field_errors.as_ul }}</ul>
    {% endif %}
  <p><input type="submit" value="{% trans 'Send confirmation' %}" /></p>
  </form>
    <h3>{% trans "Add e-mail" %}</h3>
    <p>{% trans "Insert the new e-mail address. An e-mail will be send to it for testing and confirmation" %}.</p>
{% box_end %}
</div>
</div>
</div>

{% include "userprofile/menu.html" %}
{% endblock %}
