{% extends "base.html" %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}


{% block content %}
<div id="content">
{% box_start "box-" %}
  <p class="success large">
    {% trans "Your password has been set.  You may go ahead and log in now." %}
  </p>
{% box_end %}
{% box_start "box-" %}
    <h3>{% trans 'Password reset' %}</h3>
    <p>{% trans "Password reset utility page. Please enter your new password twice so we can verify you typed it in correctly" %}.</p>
{% box_end %}
</div>
{% include "userprofile/menu.html" %}
{% endblock %}
