{% extends "base2.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change for' %} {{ user }}{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  $("#id_old_password").focus();
  $("input[type='password']").addClass("text");
});
</script>
{% endblock %}

{% block content %}
<div class="row-fluid">
  <form class="form-horizontal span6" action="" method="post" accept-charset="utf-8">
   {% csrf_token %}
   <legend>{% trans 'Password change for' %} {{ user }}</legend>
   <div class="control-group">
    <label class="control-label {% if form.old_password.errors %}errors{% endif %}" for="id_old_password">{% trans "Old password" %}</label>
    <div class="controls">
      {{ form.old_password }}
      {% if form.old_password.errors %}
      <span class="inline-help"><br />{{ form.old_password.errors|join:"; " }}</span>
      {% endif %}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label {% if form.new_password1.errors %}errors{% endif %}" for="id_new_password1">{% trans "New password" %}</label>
    <div class="controls">
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
      <span class="inline-help"><br />{{ form.new_password1.errors|join:"; " }}</span>
      {% endif %}
    </div>
  </div>
  <div class="control-group {% if form.new_password2.errors %}error{% endif %}">
    <label class="control-label" for="id_new_password2">{% trans "Confirm password" %}</label>
    <div class="controls">
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
      <span class="quiet red"><br />{{ form.new_password2.errors|join:"; " }}</span>
      {% endif %}
    </div>
  </div>
  {% if form.non_field_errors %}
  <ul class="error">{{ form.non_field_errors.as_ul }}</ul>
  {% endif %}
  <p><input class="btn" type="submit" value="{% trans 'Change' %}" /></p>
</form>
  <div class="span6">
    <h3>{% trans 'Password change' %}</h3>
    <p>{% trans "Password change utility page. Please enter your new password twice so we can verify you typed it in correctly" %}.</p>
  </div>
</div>
{% endblock %}
