{% extends "base2.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validation.js"></script>
<script type="text/javascript">
$(function() {
  $("#id_email").focus();
  $("input[type='text']").addClass("text");
});
</script>
{% endblock %}

{% block content %}
<div class="row-fluid center">
  <h3>{% trans "Password reset form" %}</h3>
  <p class="lead">{% trans "Forgotten your password?<br/> Enter your e-mail address, and we'll reset your password and e-mail the new one to you" %}.</p>
  <div class="span4 offset4">
  <form class="form-horizontal" action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <div class="control-group {% if form.email.errors %}error{% endif %}">
      <label class="control-label" for="id_email">{% trans 'Your e-mail address' %}:</label>
      <div class="controls">{{ form.email }}
        {% if form.email.errors %}
        <span class="inline-help"><br />* {{ form.email.errors|join:"; " }}</span>
        {% endif %}
      </div>
    </div>
    {% if form.non_field_errors %}
    <ul class="error">{{ form.non_field_errors.as_ul }}</ul>
    {% endif %}
    <input class="btn" type="submit" value="{% trans 'Reset My Password' %}" />
  </form>
</div>
</div>
{% endblock %}
