{% extends "base.html" %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% load i18n %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}

{% block content %}
<div id="content">
{% box_start "box-" %}
  <div class="success">
    <h3>{% trans "Password reset successful" %}</h3>
    <p>{% trans "We've e-mailed you the instructions to obtain a new password. You should be receiving it shortly" %}.</p>
  </div>
    <h3>{% trans "Password reset form" %}</h3>
    <p>{% trans "Forgotten your password? Enter your e-mail address, and we'll reset your password and e-mail the new one to you" %}.</p>
{% box_end %}
</div>
{% include "userprofile/menu.html" %}
{% endblock %}
