{% extends "base.html" %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}
<div id="content">
{% box_start "" "" "" %}
  <p class="success large">
    {% trans "The password has been changed successfully" %}.
  </p>
{% box_end %}
{% box_start "" "" "" %}
  <div class="box">
    <h3>{% trans 'Password change' %}</h3>
    <p>{% trans "Password change utility page. Please enter your new password twice so we can verify you typed it in correctly" %}.</p>
  </div>
{% box_end %}
</div>
{% include "userprofile/menu.html" %}
{% endblock %}
