{% extends "mail/base.html" %}
{% block content %}

<p style="font-size:1.3em">
Tasking Request Notification: #{{ myTask.id }}
</p
<p>
Dear {{ myRecipient.get_profile.firstname }},
</p>
<p>
This message is to inform you about a change of status in the tasking request 
for {{ myOrder.user.first_name }} {{ myOrder.user.last_name }} made on <b>
{{ myOrder.order_date|date:"d F Y" }}</b> using the SANSA ONLINE Catalogue
(http://{{ domain }}).
</p>
<p style="text-align:center;font-size:1.1em">
Your tasking request status: {{ myTask.order_status }}
</p>

You can review your tasking request at any time by visiting the
<a id="link" href="http://{{ domain }}{% url 'viewTaskingRequest' myTask.id %}">
Tasking Request Page</a> If you have any problems or special
requests relating to this order, please contact our sales staff
at <a id="link"
href="mailto:customers-eo@sansa.org.za.za">customers-eo@sansa.org.za</a>. They will be more
than happy to assist you. Below you will find a summary of the order
options and products for this order (you may need to scroll down to
see it). If any of the products is available for immediate download,
you can click on the link provided in order to retrieve it.  Please
note that some products may be large and require lengthy download
times.
</p>
<p>
Our very best regards,
<br/><br/>
The SANSA-EO team.
</p>
<div style="background:white;padding:5px;margin:5px;color:black;">
<h2>Timeline</h2>
{% for myRecord in myHistory %}
<p>
<b>Who:</b> {{ myRecord.user.first_name}} {{myRecord.user.last_name}} <b>Date</b> {{ myRecord.order_change_date|date:"d F Y" }}<br/>
<b>Status change:</b> {{ myRecord.old_order_status }} -> {{ myRecord.new_order_status }}<br/>
<b>Notes:</b> {{ myRecord.notes }}
</p>
{% endfor %}
</div>
{% endblock %}
