# =================================================================
#
# Authors: Tom Kralidis <tomkralidis@gmail.com>
#          Ricardo Garcia Silva <ricardo.garcia.silva@gmail.com>
#
# Copyright (c) 2015 Tom Kralidis
# Copyright (c) 2017 Ricardo Garcia Silva
#
# Permission is hereby granted, free of charge, to any person
# obtaining a copy of this software and associated documentation
# files (the "Software"), to deal in the Software without
# restriction, including without limitation the rights to use,
# copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following
# conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
# OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
# HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
# =================================================================

[server]
home=/home/pycsw
url=${PYCSW_SERVER_URL}
mimetype=application/xml; charset=UTF-8
encoding=UTF-8
language=en-US
maxrecords=10
loglevel=DEBUG
logfile=
#ogc_schemas_base=http://foo
#federatedcatalogues=http://catalog.data.gov/csw
#pretty_print=true
#gzip_compresslevel=8
#domainquerytype=range
#domaincounts=true
#spatial_ranking=true
profiles=apiso
#workers=2
timeout=30

[manager]
transactions=false
allowed_ips=127.0.0.1
#csw_harvest_pagesize=10

[metadata:main]
identification_title=SANSA Geospatial Catalogue
identification_abstract=pycsw is an OARec and OGC CSW server implementation written in Python
identification_keywords=catalogue,discovery,metadata, sansa
identification_keywords_type=theme
identification_fees=None
identification_accessconstraints=None
provider_name=South African National Space Agency (SANSA)
provider_url=http://catalogue.sansa.org.za:8000/
contact_name=Maite Marageni
contact_position=Software Engineer
contact_address=Enterprise Building Mark Shuttleworth Street Innovation Hub
contact_city=Pretoria
contact_stateorprovince=Gauteng
contact_postalcode=0087
contact_country=South Africa
contact_phone=012 844-0500
contact_fax=012 844-0396
contact_email=earthobservation@sansa.org.za
contact_url=https://www.sansa.org.za
contact_hours=Hours of Service
contact_instructions=During hours of service.  Off on weekends.
contact_role=pointOfContact

[repository]
# sqlite
#database=sqlite:////home/pycsw/tests/functionaltests/suites/cite/data/cite.db
# postgres
database=postgresql://postgres:docker@db/gis
# mysql
#database=mysql://username:password@localhost/pycsw?charset=utf8
mappings=/etc/pycsw/mappings.py
table=catalogue_pycsw_view
#filter=type = 'http://purl.org/dc/dcmitype/Dataset'

[metadata:inspire]
enabled=true
languages_supported=eng,gre
default_language=eng
date=YYYY-MM-DD
gemet_keywords=Utility and governmental services
conformity_service=notEvaluated
contact_name=Maite Marageni
contact_email=mmarageni@sansa.org.za
temp_extent=YYYY-MM-DD/YYYY-MM-DD

