dateutils
Django>=2.0,<3.0
GDAL==2.4.0
pillow
Pygments
SQLAlchemy

django-allauth==0.41.0

Sphinx
coverage
django-crispy-forms==1.7.0
django-extensions==1.7.9
django-model-utils
django-nose
git+https://github.com/Fanevanjanahary/django-offline-messages.git
# fix for django 2
git+https://github.com/Fanevanjanahary/django-exchange.git@django-2
django-pipeline==2.0.6
django-guardian==2.3.0
django-tastypie
django-userena-ce
/libs/django-webodt-0.3.1.tar.gz
docutils
factory-boy
gdata
# Use my forked version because pip 1.4.1 requires non beta deps and pytz
# (dependency of dateutils) is a beta release.
# git+https://github.com/timlinux/python-dateutils.git@c67ee1932d678b82d65aa69ee35b07791d1c0364
/libs/Backbone-tastypie-0.2.tar.gz
git+https://github.com/cmheisel/nose-xcover.git#egg=nosexcover
pycsw
git+https://github.com/gak/pygooglechart.git
django-jenkins
html5lib
jslint
mercurial
nose-exclude
pep8
psycopg2-binary
pyflakes
pylint
python-mimeparse
pytz
raven
reportlab
selenium
django-tables2==2.4.1
jsmin
celery==4.4.6
geoip2==4.1.0
xhtml2pdf==0.2.5
djangorestframework==3.12.4
weasyprint==52.5
simplekml==1.3.6
djangorestframework-gis==0.18

