{% extends "base.html" %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% load i18n %}

{% block title %}{% blocktrans %}{{ user }}'s Dashboard{% endblocktrans %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block content %}
<div id="content">
{% box_start "box-" %}
  <p class="success large">
    {% trans "Your profile information has been updated successfully" %}.
  </p>
{% box_end %}
{% box_start "box-" %}
  <h3>{% trans "Location information" %}</h3>
    <p>{% trans "Define your location information" %}.</p>
</div>
{% box_end %}
</div>
{% include "userprofile/menu.html" %}
{% endblock %}
