{% extends 'base.html' %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{%  block content %}
    {% box_start "box-welcome" "span-22" %}
    <h1 class="centered">Satellite: {{ satellite.name }}</h1>
    <table>
        <thead>
            <tr></tr><td colspan='3'>{{ satellite.description }}</td></tr>
        </thead>
        <tbody>
        {% for satelliteInstrument in satellite.relatedSatelliteInstruments %}
            <tr>
                <th colspan='3'>{{ satelliteInstrument.name }}</th>
            </tr>
            <tr>
                <td colspan='3'>{{ satelliteInstrument.description }}</td>
            </tr>
            </tr>
                <td>{{ satelliteInstrument.instrument_type.name }}</td>
                <td colspan='3'>{{ satelliteInstrument.instrument_type.description }}</td>
            </tr>
            <tr>
                <td>Scanner: {{ satelliteInstrument.instrument_type.relatedScannerType.name }}</td>
                <td colspan='3'> {{ satelliteInstrument.instrument_type.relatedScannerType.description }}</td>
            </tr>
            {% for mode in satelliteInstrument.instrument_type.relatedSpectralModes %}
                <tr><td colspan='3'><b>Instrument Spectral Mode</b></td></tr>
                <tr>
                    <td>{{ mode.spectral_mode.name }}</td>
                    <td colspan='2'>{{ mode.spectral_mode.description }}</td>
                </tr>
                <tr>
                    <td>{{ mode.name }}</td>
                    <td colspan='2'>{{ mode.description }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% box_end %}
{% endblock %}



