{% extends "pdf_base.html" %}


{% block title %}
{% endblock %}
{% block content %}

<h2>Order status summary report</h2>
<table>
  <thead>
    <tr>
      <th width="250px">Status</th>
      <th width="100px">Count</th>
    </tr>
  </thead>
  <tbody>
    {% for record in myOrderStatus %}
    <tr>
      <td>{{ record.name }}</td>
      <td align="right">{{ record.num_orders }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Order product instrument summary report</h2>
<table>
  <thead>
    <tr>
      <th width="250px">Instrument type</th>
      <th width="100px">Count</th>
    </tr>
  </thead>
  <tbody>
    {% for record in myOrderInstrumentType %}
    <tr>
      <td>{{ record.name }}</td>
      <td align="right">{{ record.num_orders }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Order product satellite summary report</h2>
<table>
  <thead>
    <tr>
      <th width="250px">Satellite</th>
      <th width="100px">Count</th>
    </tr>
  </thead>
  <tbody>
    {% for record in myOrderSatellite %}
    <tr>
      <td>{{ record.name }}</td>
      <td align="right">{{ record.num_orders }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

