{% load staticfiles %}

    <div class="ui-widget" style="padding-left: 100px; padding-right: 100px;">
      <div class="ui-state-highlight ui-corner-all"  style="padding: 10px">
        <div>
          <center>
            <h2>
            404: We're sorry, the page you requested could not be found :-(
            </h2>
            <br/>
            <br/> 
            <img src="{% static 'images/warning_64.png' %}">
            <br/>
            <br/>
          </center>
        </div>
      </div>
    </div>
