{% load staticfiles %}
    <div class="ui-widget" style="padding-left: 100px; padding-right: 100px;">
      <div class="ui-state-highlight ui-corner-all"  style="padding: 10px">
        <div>
          <center>
          <h2>
            500: There was a problem with this request :-(
          </h2>
          <br/>
          <br/>
          <img src="{% static 'images/warning_64.png' %}">
          <br/>
          <br/>
          <p>Please contact <a href="mailto:customers-eo@sansa.org.za">
              customers-eo@sansa.org.za</a> if you would like to
              report this issue. Please provide details of what you were doing
              when the problem occurred.</p>
          </center>
        </div>
      </div>
    </div>
