{% extends "base-fluid.html" %}
{% load url from future %} {# https://docs.djangoproject.com/en/1.4/releases/1.3/#changes-to-url-and-ssi #}
{% load staticfiles %}
{% block body_load %}{% endblock %}

{% block content%}
  <div class="row-fluid">
    <div class="span12">
      <div id="search-panel">
        <div id="search-panel-search-button"><p class="fbtn fbtn-success drop-shadow" onclick="submitSearchForm();"><i class="icon-search"></i></p></div>
        <div id="search-panel-reset-button"><p class="fbtn fbtn-warning drop-shadow"><i class="icon-refresh"></i> </p></div>
        <div id="search-panel-toggle"><p onclick="toggleSearchPanel();"><i class="icon-search"></i> SEARCH</p></div>
        <section class="tabs">
          <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1 chk-hide" checked />
          <label for="tab-1" class="tab-label-1"><i class="icon-globe"></i></label>

          <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2 chk-hide" />
          <label for="tab-2" class="tab-label-2"><i class="icon-calendar"></i></label>

          <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3 chk-hide" />
          <label for="tab-3" class="tab-label-3"><i class="icon-cogs"></i></label>
<!--
          <input id="tab-4" type="radio" name="radio-set" class="tab-selector-4 chk-hide" />
          <label for="tab-4" class="tab-label-4"><i class="icon-picture"></i></label>

          <input id="tab-5" type="radio" name="radio-set" class="tab-selector-5 chk-hide" />
          <label for="tab-5" class="tab-label-5"><i class="icon-headphones"></i></label>

          <input id="tab-6" type="radio" name="radio-set" class="tab-selector-6 chk-hide" />
          <label for="tab-6" class="tab-label-6"><i class="icon-camera"></i></label>
-->
          <div class="clear-shadow"></div>

          <div class="content">
            <form class="form-horizontal">
              {% csrf_token %}
            <div class="content-1 content_div">
              <h2>SATTELITE</h2>
              <hr />
              <span id="sattelite_inline" class="help-inline"></span>
              <div id="listTree" class="listTree"></div>
              <hr />
              <div class="search-options">
                <span class="search-panel-input">
                  <input id="free_imagery" class="search-panel-input-chk" type="checkbox" value="SPOT 5 HRG"> Free imagery only
                </span>
                <span class="search-panel-input">
                  <input id="panchromatic_imagery" class="search-panel-input-chk" type="checkbox" value="SPOT 5 HRG" checked="checked"> Panchromatic images only
                </span>
              </div>
              <hr />
              <div class="search-options">
                <h3>Search summary</h3>
              </div>
            </div>
            <div class="content-2 content_div">
              <h2>DATE RANGE</h2>
              <hr />
              <span id="daterange_inline" class="help-inline"></span>
              <div id="date_from_cg" class="control-group">
                <label class="control-label" for="date_from">Date from</label>
                <div class="controls">
                  <input type="text" id="date_from" placeholder="">
                </div>
              </div>
              <div id="date_to_cg" class="control-group">
                <label class="control-label" for="date_to">Date to</label>
                <div class="controls">
                  <input type="text" id="date_to" placeholder="">
                  <span id="date_to_inline" class="help-inline"></span>
                </div>
              </div>
              <div class="date-range"><p onclick="addNewDateRange();" class="button"><i class="icon-plus"></i> Add new date range</p></div>
            <div id="date_range"></div>
            </div>
            <div class="content-3 content_div">
              <h2>CLOUD COVER</h2>
              <hr />
              <div class="control-group">
                <label class="control-label" for="cloud_cover">Cloud cover</label>
                <div class="controls">
                  <input id="cloud_cover" type="text" placeholder="Cloud cover">
                </div>
              </div>
              <h2>PATH & ROW</h2>
              <hr />
              <div class="control-group">
                <label class="control-label" for="path"> Path (K/orbit) </label>
                <div class="controls">
                  <input id="path" type="text" placeholder="Path (K/orbit)">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="row"> Row (J/frame)  </label>
                <div class="controls">
                  <input type="text" id="row" placeholder="Row (J/frame)">
                </div>
              </div>
              <h2>AREA OF INTEREST</h2>
              <hr />
              <div class="control-group">
                <label class="control-label" for="bbox"> Bounding Box/Circle  </label>
                <div class="controls">
                  <input type="text" id="bbox" placeholder="Bounding Box/Circle">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="geo_file">  Geometry file   </label>
                <div class="controls">
                  <input type="file" id="geo_file" placeholder="Geometry file">
                </div>
              </div>
              <h2>OTHER OPTIONS</h2>
              <hr />
              <div class="control-group">
                <label class="control-label" for="sensor_inc_start">  Sensor inclination angle start   </label>
                <div class="controls">
                  <input type="text" id="sensor_inc_start" placeholder="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="sensor_inc_end">  Sensor inclination angle end    </label>
                <div class="controls">
                  <input type="text" id="sensor_inc_end" placeholder="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="resolution">   Spatial resolution    </label>
                <div class="controls">
                  <select id="resolution">
              <option value="">--</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="band_count">   Band count     </label>
                <div class="controls">
                  <select id="band_count">
              <option value="">--</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4" >4</option>
              <option value="5">5</option>
            </select>
                </div>
              </div>
            </div>
          </form>
          </div>
        </section>
      </div>
      <div id="cart-panel">
        <div id="cart-panel-order-button"><p class="fbtn fbtn-success drop-shadow"><i class="icon-ok"></i></p></div>
        <div id="cart-panel-download-button"><p class="fbtn fbtn-info drop-shadow"><i class="icon-download-alt"></i></p></div>
        <div id="cart-panel-download-button-shp" class="downloadcartoptions"><p class="fbtn fbtn-info drop-shadow">SHP</p></div>
        <div id="cart-panel-download-button-kml" class="downloadcartoptions"><p class="fbtn fbtn-info drop-shadow">KML</p></div>
        <div id="cart-panel-download-button-kmz" class="downloadcartoptions"><p class="fbtn fbtn-info drop-shadow">KMZ</p></div>
        <div id="cart-panel-download-button-xml" class="downloadcartoptions"><p class="fbtn fbtn-info drop-shadow">XML</p></div>
        <div id="cart-panel-download-button-htm" class="downloadcartoptions"><p class="fbtn fbtn-info drop-shadow">HTM</p></div>
        <div id="cart-panel-toggle"><p onclick="toggleCartPanel();"><i class="icon-shopping-cart"></i> CART</p></div>
        <div id="cart-container">
        </div>
      </div>
      <div id="result-panel">
        <div id="result-panel-download-button"><p class="fbtn fbtn-info shadow"><i class="icon-download-alt"></i></p></div>
        <div id="result-panel-download-button-shp" class="downloadoptions"><p class="fbtn fbtn-info shadow">SHP</p></div>
        <div id="result-panel-download-button-kml" class="downloadoptions"><p class="fbtn fbtn-info shadow">KML</p></div>
        <div id="result-panel-download-button-kmz" class="downloadoptions"><p class="fbtn fbtn-info shadow">KMZ</p></div>
        <div id="result-panel-download-button-xml" class="downloadoptions"><p class="fbtn fbtn-info shadow">XML</p></div>
        <div id="result-panel-download-button-htm" class="downloadoptions"><p class="fbtn fbtn-info shadow">HTM</p></div>
        <div id="result-panel-toggle"><p onclick="toggleResultPanel();"><i class="icon-list"></i> RESULTS</p></div>
        <div class="navigation">
          <div id="searchPrev" class="fbtn button searchPrev"><i class="icon-chevron-left"></i></div>
          <div class="position" id="resultsPosition"></div>
          <div id="searchNext" class="fbtn button searchNext"><i class="icon-chevron-right"></i></div>
        </div>
        <div id="results-container">
        </div>
        <div class="summary" id="resultsSummary">
        </div>
      </div>
      <div id="map"></div>
      <div id="map-controls" class="blackalpha60">
        <div id="map-layerswitcher-control">
          <div class="right icon-globe icon-2x icon-border"></div>
        </div>
        <div id="map-navigation"></div>
      </div>
      <div id="map-layerswitcher" class="drop-shadow"></div>
    </div>
  </div>
  <div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>
{% endblock%}

{% block extrajs %}
  {{ block.super }}
  <script type="text/javascript">
    {% if user.is_authenticated %}
      var UserLoged = true;
    {% else %}
      var UserLoged = false;
    {% endif %}
  </script>
  <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
  <script>
  $( document ).ready(function() {
    initMap();
    defaultPanelState();
    $('.listTree').listTree(data, { "startCollapsed": true, "selected": [] });
    $('#results-container').perfectScrollbar( { wheelSpeed: 20 } );
    $('#cart-container').perfectScrollbar( { wheelSpeed: 20 } );
    $('#date_from').datepicker();
    $('#date_to').datepicker();
    $('#result-panel-download-button').click(function() {
      toggleResultDownloadButton();
    });
    $('#cart-panel-download-button').click(function() {
      toggleCartDownloadButton();
    });
    $('#map-layerswitcher-control').click(function() {
      toggleLayerSwitcher();
    });
    $('#result-panel-download-button-shp').click(function() {
      window.open(
        '/downloadsearchresults/' + APP.guid + '/?shp',
        '_blank'
      );
    });
    $('#result-panel-download-button-htm').click(function() {
      window.open(
        '/downloadsearchmetadata/' + APP.guid + '/?html',
        '_blank'
      );
    });
    $('#result-panel-download-button-kml').click(function() {
      window.open(
        '/downloadsearchresults/' + APP.guid + '/?kml',
        '_blank'
      );
    });
    $('#result-panel-download-button-kmz').click(function() {
      window.open(
        '/downloadsearchresults/' + APP.guid + '/?kmz',
        '_blank'
      );
    });
    $('#result-panel-download-button-xml').click(function() {
      window.open(
        '/downloadsearchmetadata/' + APP.guid + '/',
        '_blank'
      );
    });

    $('#cart-panel-download-button-shp').click(function() {
      window.open(
        '/downloadcart/?shp',
        '_blank'
      );
    });
    $('#cart-panel-download-button-htm').click(function() {
      window.open(
        '/downloadcartmetadata/?html',
        '_blank'
      );
    });
    $('#cart-panel-download-button-kml').click(function() {
      window.open(
        '/downloadcart/?kml',
        '_blank'
      );
    });
    $('#cart-panel-download-button-kmz').click(function() {
      window.open(
        '/downloadcart/?kmz',
        '_blank'
      );
    });
    $('#cart-panel-download-button-xml').click(function() {
      window.open(
        '/downloadcartmetadata/',
        '_blank'
      );
    });
  });
  </script>
{% endblock %}
