{# included in search.html or pulled in by ajax #}
{% load url from future %} {# https://docs.djangoproject.com/en/1.4/releases/1.3/#changes-to-url-and-ssi #}
{% load crispy_forms_tags %}
{% crispy myForm %}

{{myForm.media}}

<script>
    $('#id_collection').multiselect({
            buttonClass: 'btn btn-small'
        });
    $('#id_satellite').multiselect({
            buttonClass: 'btn btn-small'
        });
    $('#id_instrumenttype').multiselect({
            buttonClass: 'btn btn-small'
        });
    $('#id_spectral_group').multiselect({
            buttonClass: 'btn btn-small'
        });
    $('#id_license_type').multiselect({
            buttonClass: 'btn btn-small'
        });
    function createOptions(theOptions, theSelectedOptions, addEmpty){
      // add empty options, default true
      addEmpty = addEmpty !== undefined ? addEmpty : false;
      var options = '';
      if (addEmpty === true) {
        options += '<option value="">---------</option>';
      }
      $(theOptions).each(function (i,option){
        if (typeof(theSelectedOptions) === "object") {
          // use indexOf on complex object
          if (theSelectedOptions.indexOf(option[0]) != -1){
            options += '<option selected=selected value="' + option[0] + '">' + option[1] + '</option>';
          } else {
            options += '<option value="' + option[0] + '">' + option[1] + '</option>';
          }
        } else {
          if (option[0] == theSelectedOptions) {
            options += '<option selected=selected value="' + option[0] + '">' + option[1] + '</option>';
          } else {
            options += '<option value="' + option[0] + '">' + option[1] + '</option>';
          }
        }
      });
      return options
    }

    function getSelectedOptions(){
      var sel_collections = [];
      $('#id_collection option:selected').each(function(i, selected) {
        sel_collections[i] = parseInt($(selected).val());
      });

      var sel_satellite = [];
      $('#id_satellite option:selected').each(function(i, selected) {
        sel_satellite[i] = parseInt($(selected).val());
      });

      var sel_insttypes = [];
      $('#id_instrumenttype option:selected').each(function(i, selected) {
        sel_insttypes[i] = parseInt($(selected).val());
      });

      var sel_specgroups = [];
      $('#id_spectral_group option:selected').each(function(i, selected) {
        sel_specgroups[i] = parseInt($(selected).val());
      });

      var sel_licensetypes = [];
      $('#id_license_type option:selected').each(function(i, selected) {
        sel_licensetypes[i] = parseInt($(selected).val());
      });

      return [sel_collections, sel_satellite, sel_insttypes, sel_specgroups, sel_licensetypes]
    }


    function getSelectOptionsForCollection() {
      block();

      var selected_options = getSelectedOptions()

      var getData = {
        'collections': selected_options[0]
      };

      $.getJSON('{% url "updateSelectOptions" %}', $.param(getData, true)).done(function(data){
        $("#id_satellite").html(createOptions(data.satellites, selected_options[1]));

        $("#id_instrumenttype").html(createOptions(data.instrumenttypes, selected_options[2]));

        $("#id_spectral_group").html(createOptions(data.spectralgroups, selected_options[3]));

        $("#id_license_type").html(createOptions(data.licensetypes, selected_options[4]));
      });
      unblock();
    }

    function getSelectOptionsForSatellite() {
      block();

      var selected_options = getSelectedOptions()

      var getData = {
        'collections': selected_options[0],
        'satellites': selected_options[1]
      };

      $.getJSON('{% url "updateSelectOptions" %}', $.param(getData, true)).done(function(data){

        // $("#id_collection").html(createOptions(data.collections, selected_options[0]));

        // $("#id_satellite").html(createOptions(data.satellites, selected_options[1]));

        $("#id_instrumenttype").html(createOptions(data.instrumenttypes, selected_options[2]));

        $("#id_spectral_group").html(createOptions(data.spectralgroups, selected_options[3]));

        $("#id_license_type").html(createOptions(data.licensetypes, selected_options[4]));
      });
      unblock();
    }

    function getSelectOptionsForInstrumentType() {
      block();

      var selected_options = getSelectedOptions()

      var getData = {
        'collections': selected_options[0],
        'satellites': selected_options[1],
        'instrumenttypes': selected_options[2]
      };

      $.getJSON('{% url "updateSelectOptions" %}', $.param(getData, true)).done(function(data){

        // $("#id_collection").html(createOptions(data.collections, selected_options[0]));

        // $("#id_satellite").html(createOptions(data.satellites, selected_options[1]));

        // $("#id_instrumenttype").html(createOptions(data.instrumenttypes, selected_options[2]));

        $("#id_spectral_group").html(createOptions(data.spectralgroups, selected_options[3]));

        $("#id_license_type").html(createOptions(data.licensetypes, selected_options[4]));
      });
      unblock();
    }

    function getSelectOptionsForSpectralGroup() {
      block();

      var selected_options = getSelectedOptions()

      var getData = {
        'collections': selected_options[0],
        'satellites': selected_options[1],
        'instrumenttypes': selected_options[2],
        'spectralgroups': selected_options[3]
      };

      $.getJSON('{% url "updateSelectOptions" %}', $.param(getData, true)).done(function(data){
        // $("#id_collection").html(createOptions(data.collections, selected_options[0]));

        // $("#id_satellite").html(createOptions(data.satellites, selected_options[1]));

        // $("#id_instrumenttype").html(createOptions(data.instrumenttypes, selected_options[2]));

        // $("#id_spectral_group").html(createOptions(data.spectralgroups, selected_options[3]));

        $("#id_license_type").html(createOptions(data.licensetypes, selected_options[4]));
      });
      unblock();
    }

    function check_sensor_inclination_angles() {
        var sv = parseInt($("#id_sensor_inclination_angle_start").val());
        var ev = parseInt($("#id_sensor_inclination_angle_end").val());
        if (sv && ev && (sv > ev)) {
            alert ("The sensor inclination angle start value is greater than the end.");
        };
    };

    function submitSearchForm(){
      block();
      $('#search_form').ajaxForm({
        success: function(data) {
          loadSearchResults( 1, data.guid );
        },
        error: function(data) {
          $('#search-form-container').html(data.responseText);
          displaySearchFormErrors();
          unblock();
        }
      });

      $("#search_form").submit();
    }

    function resetSearchForm() {
      block();
      $('#search-form-container').load('/rendersearchform/', "", unblock);
    }

    $('#dr_container').sansa_daterangecontainer();
    $('#id_start_datepicker, #id_end_datepicker').datepicker({
      'autoclose':true
    });

    //$("#id_instrumenttype, #id_satellite, #id_spectral_mode").bind('change', function (){
    $("#id_collection").bind('change', function (){
      getSelectOptionsForCollection();
    });

    $("#id_satellite").bind('change', function (){
      getSelectOptionsForSatellite();
    });

    $("#id_instrumenttype").bind('change', function (){
      getSelectOptionsForInstrumentType();
    });

    $("#id_spectral_group").bind('change', function (){
      getSelectOptionsForSpectralGroup();
    });

    // 'Reset selection' button handler
    $("#reset_dict_selections").click(function (evt){
      // remove selected options
      $("#id_collection option").removeAttr('selected');
      $("#id_satellite option").removeAttr('selected');
      $("#id_instrumenttype option").removeAttr('selected');
      $("#id_spectral_group option").removeAttr('selected');
      $("#id_license_type option").removeAttr('selected');
      // repopulate selection boxes
      getSelectOptionsForCollection();

      evt.preventDefault();
      return null;
    })
</script>