{% extends "base-fluid.html" %}
{% load staticfiles %}
{% block body_load %}{% endblock %}

{% block content%}
      <div id="map" class="search-map"></div>
      <div id="map-controls">
        <div id="map-layerswitcher-control">
          <button class="btn btn-info btn-large right icon-globe" data-toggle="tooltip"
                      data-title="Select layers"
                      data-placement="top"></button>
        </div>
        <div id="map-navigation"></div>
      </div>
      <div id="map-controls2" class="blackalpha60">
        <div id="map-control-position"></div>
        <div id="map-control-scalebar"></div>
      </div>
      <div id="map-layerswitcher" class="drop-shadow"></div>
{% endblock%}

{% block extrajs %}
  {{ block.super }}
  <script type="text/javascript">
    {% if user.is_authenticated %}
      var UserLoged = true;
    {% else %}
      var UserLoged = false;
    {% endif %}
  </script>
  <script type="text/javascript" src="{% static 'js/backbone-pagination.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
  <script>
  $( document ).ready(function() {
    $('button[data-toggle="tooltip"]').tooltip();
    myMap = new APP.SansaSearchesMap('map');

    $(".olButton").tooltip({"placement": "top"});
    $('#map-layerswitcher-control').click(function() {
      toggleLayerSwitcher();
    });
  });
  </script>
{% endblock %}
