{# included in search.html or pulled in by ajax #}
{% load url from future %} {# https://docs.djangoproject.com/en/1.4/releases/1.3/#changes-to-url-and-ssi #}
{% load crispy_forms_tags %}
{% crispy myForm %}
<button onClick="submitSearchForm();" class="btn btn-success" class="default" name="_search" title="Click here to execute your search.">Search</button>
{{myForm.media}}

<script>

    function getSelectOptions() {
      block();
      var sel_insttypes = [];
      $('#id_instrumenttype option:selected').each(function(i, selected) {
        sel_insttypes[i] = $(selected).val();
      });

      var sel_satellite = $('#id_satellite option:selected').val();
      var sel_spectralmode = $('#id_spectral_mode option:selected').val();
      console.log(sel_insttypes);
      var getData = {
        'instrumenttypes': sel_insttypes,
        'satellite': sel_satellite,
        'spectralmode': sel_spectralmode
      };

      $.getJSON('{% url "updateSelectOptions" %}', $.param(getData, true)).done(function(data){
        console.log('instrument_types');
        $(data.instrumenttypes).each(function (i,option){
          console.log(option);
        });
        console.log('satellites');
        $(data.satellites).each(function (i,option){
          console.log(option);
        });
        console.log('spectral_modes');
        $(data.spectralmodes).each(function (i,option){
          console.log(option);
        });
      })
      unblock();
    }

    function check_sensor_inclination_angles() {
        var sv = parseInt($("#id_sensor_inclination_angle_start").val());
        var ev = parseInt($("#id_sensor_inclination_angle_end").val());
        if (sv && ev && (sv > ev)) {
            alert ("The sensor inclination angle start value is greater than the end.");
        };
    };

    function submitSearchForm(){
      block();
      $('#search_form').ajaxForm({
        success: function(data) {
          loadSearchResults( 1, data.guid );
        },
        error: function(data) {
          $('#search-form-container').html(data.responseText);
          unblock();
        }
      });

      $("#search_form").submit();
    }

    $('#dr_container').sansa_daterangecontainer();
    $('#id_start_datepicker, #id_end_datepicker').datepicker({
      'autoclose':true
    });

    $("select").change(function (){
      getSelectOptions();
    });
</script>