      {% load url from future %} {# https://docs.djangoproject.com/en/1.4/releases/1.3/#changes-to-url-and-ssi #}
      {% load staticfiles %}
      <tr id="record-{{ myRecord.product.id }}" class="result-row">{#result-row used for row click callback - do not remove #}

        <td>{{ myRecord.product.product_profile.satellite_instrument.satellite_instrument_group.satellite.abbreviation }}</td>
        <td>{{ myRecord.product.product_profile.satellite_instrument.satellite_instrument_group.instrument_type.abbreviation }}</td>
        <td>{{ myRecord.product.path }}</td>
        <td>{{ myRecord.product.row }}</td>
        <td>{{ myRecord.product.product_acquisition_start|date:"d/m/Y H:i:s" }}</td>
        <td>{% if myRecord.product.cloud_cover < 0 %}
          Unknown
          {% else %}
          {{ myRecord.product.cloud_cover }}%
          {% endif %}</td>
        <td>
          <img src="{% static 'images/info_16.png' %}" alt="View Metadata" style="cursor: pointer;" class="metadata-icon" longdesc="{{ myRecord.product.id }}"/>
        </td>
        <td>
          {% if user.is_anonymous %}
            <img src="{% static 'images/buy_16.png' %}" alt="Add to Cart" style='cursor: not-allowed;' title="Login required"/>
          {% else %}
            <img src="{% static 'images/buy_16.png' %}" alt="Add to Cart" style='cursor: pointer;' onclick='addToCart("{{ myRecord.product.id }}");' />
          {% endif %}
        </td>
        <td class="center">
          <img src="/thumbnail/{{ myRecord.product.id }}/small/" class='mini-icon' alt="Thumbnail" id="miniPreview{{ myRecord.product.id }}" style="cursor: pointer;" longdesc="{{ myRecord.product.id }}" />
        </td>
