{% extends 'userena/base_userena.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Email Verification" %}{% endblock %}
{% block content_title %}<h2>{% trans 'Confirm your new email' %}</h2>{% endblock %}

{% block content %}
<div class="container" style="height: 100%;">
    <div class="custom-form-container" style="margin-top: 40px;">
  <p class="lead">{% blocktrans with viewed_user.userena_signup.email_unconfirmed as email %}We have sent an email to {{ email }}.{% endblocktrans %}</p>
  <p class="lead">{% blocktrans with viewed_user.username as username %}To associate this email address with your account ({{ username }}), click on the link provided in this email.{% endblocktrans %}</p>
</div>
</div>
{% endblock %}
