{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  $("#id_old_password").focus();
  $("input[type='password']").addClass("text");
});
</script>
{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<div class="main-content">
<div id="layoutSidenav_content">
    <main>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    {% include  'account_header.html' %}
    <div class="row">
    <div class="col-xl-4">
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Profile</div>
            <div class="card-body">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "userena_profile_edit" user %}">{% trans "Edit profile" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "userena_email_change" user %}">
                            {% if email %}{% trans "Change your e-mail address" %}{% else %}{% trans "Change e-mail address" %}{% endif %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "userena_password_change" user %}">{% trans "Change password" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
    <!-- Edit Your Profile-->
    <div class="card mb-4">
    <div class="card-header">{% trans 'Change Password for' %} {{ user }}</div>
    <div class="card-body">
  <form id="password_change_form" action="" method="post" accept-charset="utf-8">
    <fieldset>
      {% csrf_token %}
      <div class="control-group">
        <label class="control-label {% if form.old_password.errors %}errors{% endif %} small mb-1" for="id_old_password">
          {% trans "Old password:" %}
        </label>
        <div class="controls">
          {{ form.old_password }}
          {% if form.old_password.errors %}
          <span class="inline-help text-error">
            {{ form.old_password.errors|join:"; " }}
          </span>
          {% endif %}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label {% if form.new_password1.errors %}errors{% endif %} small mb-1" for="id_new_password1">
          {% trans "New password:" %}
        </label>
        <div class="controls">
          {{ form.new_password1 }}
          {% if form.new_password1.errors %}
          <span class="inline-help text-error">
            {{ form.new_password1.errors|join:"; " }}
          </span>
          {% endif %}
        </div>
      </div>
      <div class="control-group {% if form.new_password2.errors %}error{% endif %}">
        <label class="control-label small mb-1" for="id_new_password2">
          {% trans "Confirm password" %}
        </label>
        <div class="controls">
          {{ form.new_password2 }}
          {% if form.new_password2.errors %}
          <span class="inline-help text-error">
            {{ form.new_password2.errors|join:"; " }}
          </span>
          {% endif %}
        </div>
      </div>
      {% if form.non_field_errors %}
      <p class="text-error">{{ form.non_field_errors.as_ul }}</p>
      {% endif %}
    </fieldset>
    <input class="btn sansa-blue-btn" type="submit" value="{% trans "Submit" %}" />
  </form>
</div>
{% endblock %}
