{% extends 'userena/base_userena.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function () {
            $('input[id=id_password]').parent().append('' +
                '<div class="pull-right forgot-password" style="font-size: 12px;color: #3a3a3a">' +
                '<a href="{% url 'userena_password_reset' %}">{% trans "Forgot Password" %}</a></div>')
        })
$(function() {
  $("input[type='text'], input[type='password']").addClass("text");
  $("#id_identification").focus();
  var formHeight=$('#login-form').height();
  var halfFormHeight=formHeight / 2;
  var extrasHeight=$('#login-extras').height();
  var halfExtrasHeight = extrasHeight / 2;
  var topMargin = halfFormHeight - halfExtrasHeight;
      if(topMargin > 0){
        $('#login-extras').css("margin-top", topMargin);
      }
});
</script>
{% endblock %}
{% block content %}
<div id="content" class="row-fluid center">

    <div class="custom-form-container" style="margin-top: 40px;">
        <h1>{% trans "LOG IN" %}</h1>
        <form class="form-horizontal span6" action="" method="post" accept-charset="utf-8">
      {% csrf_token %}
      <fieldset>
      <div class="control-group">
        <label class="control-label" for="id_identification">{% trans "Username" %}</label>
        <div class="controls">
          {{ form.identification }}
          {% if form.identification.errors %}
          <span class="text-error">{{ form.identification.html_error_list }}</span>
          {% endif %}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_password">{% trans "Password" %}</label>
        <div class="controls">
          {{ form.password }}
          {% if form.password.errors %}
          <span class="text-error">{{ form.password.html_error_list }}</span>
          {% endif %}
        </div>
      </div>
      {% if form.non_field_errors %}
      <ul class="text-error">
        {{ form.non_field_errors.as_ul }}
      </ul>
      {% endif %}
    </fieldset>
    <div class="control-group">
      <div class="controls" style="text-align: center; margin-top: 15px">
        <input class="btn btn-primary"  type="submit" value="{% trans 'Login' %}" style="width: 50%" />
      </div>
    </div>
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
<div class="login-help" style="padding-top: 30px">
                            <p>If you have not created an account yet, then please
                                <a href="{% url 'userena_signup' %}">sign up</a> first.</p>

</div>
    </div>
{% endblock %}



