{% load url from future %} {# https://docs.djangoproject.com/en/1.4/releases/1.3/#changes-to-url-and-ssi #}

<div id="navbar" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="/"><img src="/media/sansa-logos/SANSA-whirl-small.png" height="20px"/></a>
    <ul class="nav">
      <li>
        <a href="/"><i class="icon-home"></i> <span class="hidden-phone hidden-tablet custom-hide">Home</span></a>
      </li>
      {% if not user.is_authenticated %}
      <li>
        <a href="{% url 'about' %}"><i class="icon-question-sign"></i> <span class="hidden-phone hidden-tablet">About</span></a>
      </li>
      {% endif %}
      <li>
        <a href="#"><i class="icon-share"></i> <span class="hidden-phone hidden-tablet">Archive Summary</span></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-circle-arrow-right"></i> <span class="hidden-phone hidden-tablet">Links</span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">SANSA</a>
          </li>
          <li>
            <a href="#">AFIS</a>
          </li>
          <li>
            <a href="#">WAMIS</a>
          </li>
          <li>
            <a href="#">Digital Globe</a>
          </li>
          <li>
            <a href="#">RapidEye</a>
          </li>
          <li>
            <a href="#">GeoEye</a>
          </li>
          <li>
            <a href="#">IRS</a>
          </li>
          <li>
            <a href="#">USGS</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{% url 'search' %}"><i class="icon-search"></i> <span class="hidden-phone hidden-tablet custom-hide">Search</span></a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a href="#"><i class="icon-wrench"></i> <span class="hidden-phone hidden-tablet">Tasking Requests</span></a>
      </li>
      <li>
        <a href="{% url 'showCartContents' %}" onclick='loadContent("{% url 'showCartContents' %}"); return false;'><i class="icon-shopping-cart"></i> <span class="hidden-phone hidden-tablet custom-hide">My Cart</span></a>
      </li>
      <li>
        <a href="{% url 'addOrder' %}"><i class="icon-plane"></i> <span class="hidden-phone hidden-tablet">Order Now!</span></a>
      </li>

      {# popular links #}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-thumbs-up"></i> <span class="hidden-phone hidden-tablet">Popular Links</span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'mapHelp' %}" onclick='loadContent("{% url 'mapHelp' %}"); return false;'>Using the map</a>
          </li>
          <li>
            <a href="{% url 'searchHistory' %}" onclick='loadContent("{% url 'searchHistory' %}"); return false;'>My Search History</a>
          </li>
          <li>
            <a href="{% url 'myOrders' %}" onclick='loadContent("{% url 'myOrders' %}"); return false;'>My Orders</a>
          </li>
          <li>
            <a href="{% url 'addTaskingRequest' %}">New Tasking Request</a>
          </li>
          <li>
            <a href="{% url 'myTaskingRequests' %}" onclick='loadContent("{% url 'myTaskingRequests' %}"); return false;'>My Tasking Requests</a>
          </li>
          <li><a href="{% url 'whereAmI' %}">Where am I?</a></li>
        </ul>
      </li>
      {% else %}
      <li>
        <a href="{% url 'userena_signup' %}"><i class="icon-road"></i> <span class="hidden-phone hidden-tablet">Register</span></a>
      </li>
      {% endif %}
      <li>
        <a href="{% url 'contact' %}"><i class="icon-envelope"></i> <span class="hidden-phone hidden-tablet custom-hide">Contact</span></a>
      </li>
    </ul>


    <ul class="nav pull-right">
      {% comment %}
      {% if myPartnerFlag %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-star"></i> <span class="hidden-phone hidden-tablet custom-hide">Partners</span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/clip">Clip Mosaic</a></li>
        </ul>
      </li>
      {% endif %}
      {% endcomment %}
      {% if user.is_staff %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-lock"></i> <span class="hidden-phone hidden-tablet custom-hide">Staff</span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'visitorMap' %}">Vistor Map</a></li>
          <li><a href="{% url 'visitorsKml' %}">Visitor KML</a></li>
          <li><a href="{% url 'visitorList' %}" onclick='loadContent("{% url 'visitorList' %}"); return false;'>Visitor List</a>
          </li>
          <li><a href="{% url 'visitorReport' %}">Visitor Stats</a></li>
          <li><a href="{% url 'searchesMap' %}">Searches Map</a></li>
          <li><a href="{% url 'recentSearches' %}" onclick='loadContent("{% url 'recentSearches' %}"); return false;'>Searches Table</a>
          </li>
          <li><a href="{% url 'listOrders' %}" onclick='loadContent("{% url 'listOrders' %}"); return false;'>Orders List</a>
          </li>
          <li><a href="{% url 'dataSummaryTable' %}">Data Summary</a></li>
          <li><a href="/admin/">Admin</a></li>
        </ul>
      </li>
      {% endif %}
      {% if user.is_authenticated %}
        {% include "useraccounts/menu_content.html" %}
      {% else %}
      <li>
        <a href="{% url 'userena_signin' %}"><i class="icon-user"></i> <span class="hidden-phone hidden-tablet">Login</span></a>
      </li>
      <li>
        <a href="{% url 'userena_password_reset' %}"><i class="icon-random"></i> <span class="hidden-phone hidden-tablet">Reset Password</span></a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
