{% load staticfiles %}

<div id="navbar" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="/"><img src="{% static 'sansa-logos/SANSA-whirl-small.png' %}" height="20px"/></a>
    <ul class="nav">
      <li>
        <a href="/"><i class="icon-home"></i> <span class="hidden-phone hidden-tablet custom-hide">Home</span></a>
      </li>
      <li>
        <a href="{% url 'dataSummaryTable' %}"><i class="icon-share"></i>
          <span class="hidden-phone hidden-tablet">Data Summary</span></a>
      </li>
      <li>
        <a href="{% url 'search' %}"><i class="icon-search"></i> <span class="hidden-phone hidden-tablet custom-hide">Search</span></a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'addOrder' %}"><i class="icon-plane"></i> <span class="hidden-phone hidden-tablet">Order Now!</span></a>
      </li>
      {% endif %}
      {% if not user.is_authenticated %}
      <li>
        <a href="{% url 'about' %}"><i class="icon-question-sign"></i> <span class="hidden-phone hidden-tablet">About</span></a>
      </li>
      {% endif %}
      {% if user.is_authenticated %}

      {# my history #}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-thumbs-up"></i> <span class="hidden-phone hidden-tablet">My History</span>
          <i class="icon-angle-down"></i></a>
        <ul class="dropdown-menu">
	        <li>
            <a href="{% url 'searchHistory' %}">My Search History</a>
          </li>
          <li>
	          <a href="{% url 'showCartContents' %}">My Cart</a>
          </li>
          <li>
            <a href="{% url 'myOrders' %}">My Orders</a>
          </li>
          {#<li><a href="{% url 'whereAmI' %}">Where am I?</a></li>#}
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-circle-arrow-down"></i> <span class="hidden-phone hidden-tablet">Downloads</span>
          <i class="icon-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li>
            <a href="ftp://eoftp.sansa.org.za/images/fundisa" target="_blank">Fundisa</a>
          </li>
        </ul>
      </li>

      {% endif %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-circle-arrow-right"></i> <span class="hidden-phone hidden-tablet">Links</span>
          <i class="icon-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li>
            <a href="http://www.sansa.org.za" target="_blank">SANSA</a>
          </li>
          <li>
            <a href="http://www.earthobservations.org/index.shtml" target="_blank">GEO</a>
          </li>
          <li>
            <a href="http://saeos.dirisa.org" target="_blank">SAEOS</a>
          </li>
          <li>
            <a href="http://afis.co.za" target="_blank">AFIS</a>
          </li>
          <li>
            <a href="http://wamis.meraka.org.za/" target="_blank">WAMIS</a>
          </li>
          <li>
            <a href="http://glovis.usgs.gov" target="_blank">USGS</a>
          </li>
          <li>
            <a href="https://geostore.astrium-geo.com/en-EMEA/2-home" target="_blank">Astrium</a>
          </li>
          <li>
            <a href="https://www.digitalglobe.com/" target="_blank">Digital Globe</a>
          </li>
          <li>
            <a href="http://www.satimagingcorp.com/" target="_blank">Satellite Imaging Corporation</a>
          </li>
          <li>
            <a href="http://eyefind.rapideye.com" target="_blank">RapidEye</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{% url 'contact' %}"><i class="icon-envelope"></i> <span class="hidden-phone hidden-tablet custom-hide">Contact</span></a>
      </li>
    </ul>


    <ul class="nav pull-right">
      {% comment %}
      {% if myPartnerFlag %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-star"></i> <span class="hidden-phone hidden-tablet custom-hide">Partners</span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/clip">Clip Mosaic</a></li>
        </ul>
      </li>
      {% endif %}
      {% endcomment %}
      {% if user.is_staff %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-lock"></i> <span class="hidden-phone hidden-tablet custom-hide">Staff</span>
          <i class="icon-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'listOrders' %}">Orders List</a></li>
          <li><a href="{% url 'addAdhocOrder' %}">Ad-hoc order</a></li>
          <li><a href="{% url 'recentSearches' %}">Searches Table</a></li>
          <li><a href="{% url 'searchesMap' %}">Searches Map</a></li>
          <li><a href="{% url 'visitorMap' %}">Vistor Map</a></li>
          <li><a href="{% url 'visitorsKml' %}">Visitor KML</a></li>
          <li><a href="{% url 'visitorList' %}">Visitor List</a></li>
          <li><a href="{% url 'visitorReport' %}">Visitor Stats</a></li>
          <li><a href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
      </li>
      {% endif %}
      {% if user.is_authenticated %}
        {% include "useraccounts/menu_content.html" %}
      {% else %}
      <li>
        <a id="login_register" href="{% url 'userena_signup' %}"><i class="icon-group"></i> <span class="hidden-phone hidden-tablet">Register</span></a>
      </li>
      <li>
        <a id="login_link" href="{% url 'userena_signin' %}"><i class="icon-user"></i> <span class="hidden-phone hidden-tablet">Login</span></a>
      </li>
      <li>
        <a href="{% url 'userena_password_reset' %}"><i class="icon-random"></i> <span class="hidden-phone hidden-tablet">Reset Password</span></a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
