{% extends "base.html" %}
{% load staticfiles %}
{% block extraHeaders %}
    <script src="{% static "js/libs/jquery/jquery-3.6.0.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/libs/underscore-1.13.1/underscore-min.js" %}"></script>
    <script src="{% static "js/libs/openlayers-6.5.0/ol.js" %}"></script>
    <link href="{% static "css/search-page-custom.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body_load %}onload="init()"{% endblock %}
{% block content%}
{# div for map tooltips - not shown until a map tool is hovered over #}
{#<div id="maptooltip">&nbsp;</div>#}
{# div for form tooltips (bigger than map tips)- not shown until a map tool is hovered over #}
     <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div id="map-container">
                    <div id="map" class="map">
                    </div>
                </div>
            </main>
        </div>
     </div>

{#  <div class="row-fluid center">#}
{#      {% if myMessages %}#}
{#  {% for myMessage in myMessages %}#}
{#    {{ myMessage|safe }}#}
{#  {% endfor %}#}
{#  {% endif %}#}
{#  </div>#}

{% endblock %}
{% block footer %}
      <script type="text/javascript">
        {#const myLayersList = {{myLayersList|safe}};#}


            /* <![CDATA[ */
   {#use init rather than jquery document.ready() for ie support! #}
  {#function init() {#}
  {##}
  {#  if (ol.Util.getBrowserName() == "msie" && !window.ieLoaded) {#}
  {#    window.ieLoaded = true;#}
  {#    setTimeout(init, 2000);#}
  {#    return;#}
  {#  }#}
  {##}
  {#  // Extra layer definitions passed in by view#}
  {#  {% if myLayerDefinitions %}#}
  {#    {% for myValue in myLayerDefinitions %}#}
  {#    {{ myValue|safe }}#}
  {#    {% endfor %}#}
  {#  {% endif %}#}
  {##}
  {#  // Here we use a predefined layer that will be kept up to date with URL changes#}
  {#  var layerMapnik = new ol.Layer.OSM.Mapnik("Open Street Map");#}
  {#  //myLayersList.unshift(layerMapnik); // add to start of array#}
  {#  myLayersList.push(layerMapnik); // add to end of array#}
  {##}
  {#  setupBaseMap();#}
  {#  mMap.addLayers( myLayersList );#}
  {#  mMap.setBaseLayer( {{ myActiveBaseMap }} );#}
  {#  //mMap.zoomToExtent( {{ myActiveBaseMap }}.getDataExtent());#}
  {#  //activate Navigation/DragPan by default#}
  {#  enableNavigation();#}
  {#  mMap.addControl(new ol.Control.LayerSwitcher());#}
  {#  {% if myExtents %}#}
  {#  var bounds = new ol.Bounds({{ myExtents }});#}
  {#  {% else %}#}
  {#  var bounds = new ol.Bounds(16.3477, -35.2411, 33.3984, -21.9727);#}
  {#  {% endif %}#}
  {#  bounds.transform(new ol.Projection("EPSG:4326"), new ol.Projection("EPSG:900913"));#}
  {#  mMap.zoomToExtent(bounds);#}
  {#  setupMapHelpDialog();#}
  {##}
  {#  $('#OpenLayers_Control_MaximizeDiv_innerImage').css({'height':'100px'});#}
  {##}
  {#  //dirty hack, OL sets 'style' element which cannot be overriden by CSS#}
  {#  $("#map-container").mapResizer({'map':mMap}); //activate mapresizer widget#}
  {#   //add tooltip div#}
  {#  $("#map-navigation-panel div[title],#resizer_toolbox img[title]").tooltip('#maptooltip');#}
  {#  $(":input").tooltip('#formtooltip');#}
  {#/* ]]> */#}
  {##}
   fetch('/visitors/geojson').then(
      response => response.json()
    ).then((data => {
        console.log(data)
       let map = new ol.Map({
           target: 'map',
           layers: [
               new ol.layer.Tile({
                   source: new ol.source.OSM()
               }),
               new ol.layer.Vector({
                   title: 'Visit by Country',
                   source: new ol.source.Vector({
                       features: new ol.format.GeoJSON().readFeatures(data,{
                           dataProjection: 'EPSG:4326',
                           featureProjection: 'EPSG:3857'
                       })
                   }),
                   style: new ol.style.Style({
                     image: new ol.style.Circle({
                       radius: 3 * 2,
                       fill: new ol.style.Fill({
                         color: [22, 106, 154, 1],
                       }),
                       stroke: new ol.style.Stroke({
                         color: [255, 255, 255, 1],
                         width: 3 / 2,
                       }),
                     }),
                     zIndex: Infinity,
                   }),
               })

           ],
           view: new ol.View({
               zoom: 3,
               center: [0, 0]
           })

       });
   }))
  </script>
{% endblock %}












