{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %} 

{% block title %}{% trans "Signin" %}{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  $("input[type='text'], input[type='password']").addClass("text");
  $("#id_identification").focus();
});
</script>
{% endblock %}

{% block content %}
<div id="content" class="row-fluid center">
<form class="span6 form-horizontal" method="post" accept-charset="utf-8">
  {% csrf_token %}
<fieldset>
  <legend>{% trans "User Signin" %}</legend>
    <div class="control-group">
      <label class="control-label" for="id_identification">{% trans "Username" %}</label>
      <div class="controls">
        {{ form.identification }}
        {% if form.identification.errors %}
        <span class="quiet red">{{ form.identification.html_error_list }}</span>
        {% endif %}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_password">{% trans "Password" %}</label>
      <div class="controls">
        {{ form.password }}
        {% if form.password.errors %}
        <span class="quiet red">{{ form.password.html_error_list }}</span>
        {% endif %}
      </div>
    </div>
    {% if form.non_field_errors %}
    <ul class="quiet red">
      {{ form.non_field_errors.as_ul }}
    </ul>
    {% endif %}
  </fieldset>
  <div class="control-group">
    <div class="controls">
      <input class="btn" type="submit" value="{% trans 'Login' %}" />
    </div>
  </div>
  </fieldset>
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
<div class="span6">
  <p>
    If you do not already have a user account, you'll need register before can access the catalogue.
    {# http://code.djangoproject.com/ticket/7239 #}
  </p>
  <a class="btn btn-success" href="{% url 'userena_signup' %}">{% trans "Sign up!" %}</a>
  <a class="btn btn-info" href="{% url 'userena_password_reset' %}">{% trans "Lost Your Password?" %}</a>
</div>
</div>
{% endblock %}
