<div class="accordion-body">
    <p class="text-center">
        Draw a polygon on the map using the map control buttons, or enter
        your geometry data here.
    </p>
    <div class="control-group">
      <label class="control-label"
             for="id_aoi_geometry">Bounding Box/Circle</label>
      <div class="controls">
        {{ searchform.aoi_geometry }}
        <span class="help-popover"
              data-title="Bounding Box/Circle"
              data-content="{{ search_form.aoi_geometry.help_text }}"
              data-trigger="hover"
              data-container="body">
          <i class="icon-question-sign"></i>
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"
             for="id_geometry_file">Geometry file</label>
      <div class="controls">
        {{ search_form.geometry_file }}
        <span class="help-popover"
              data-title="Geometry file"
              data-content="{{ search_form.geometry_file.help_text }}"
              data-trigger="hover"
              data-container="body">
          <i class="icon-question-sign"></i>
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"
             for="id_k_orbit_path">Path (K/orbit)</label>
      <div class="controls">
        {{ search_form.k_orbit_path }}
        <span class="help-popover"
              data-title="Path (K/orbit)"
              data-content="{{ search_form.k_orbit_path.help_text }}"
              data-trigger="hover"
              data-container="body">
          <i class="icon-question-sign"></i>
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"
             for="id_j_frame_row">Row (J/frame)</label>
      <div class="controls">
        {{ search_form.j_frame_row }}
        <span class="help-popover"
              data-title="Row (J/frame)"
              data-content="{{ search_form.j_frame_row.help_text }}"
              data-trigger="hover"
              data-container="body">
          <i class="icon-question-sign"></i>
        </span>
      </div>
    </div>
  </div>