<div id="content-2" class="form-horizontal accordion-body collapse">
  <div class="accordion-inner" style="padding-bottom: 10px;">
    <span id="daterange_inline" class="help-inline"></span>
    <div id="date_from_cg" class="control-group">
      <label for="id_start_datepicker" class="control-label">From: </label>
      <div class="controls">
        <input type="text" id="id_start_datepicker" placeholder="dd/mm/yyyy">
      </div>
    </div>
    <div id="date_to_cg" class="control-group">
      <label for="id_end_datepicker" class="control-label">To: </label>
      <div class="controls">
        <input type="text" id="id_end_datepicker" placeholder="dd/mm/yyyy">
      </div>
    </div>
    <p class="text-center">Format: dd/mm/yyyy</p>
    <div id="date_range">
      <div class="date-range">
        <button type="button" class="btn btn-mini btn-info" data-toggle="tooltip"
                      data-title="Add date range"
                      data-placement="top">
          <i class="icon-angle-down"></i> Add
        </button>
      </div>
      {{ dateformset.management_form }}
      <hr/>
      <table class="table table-striped" style="margin-top: 10px;">
        <thead>
          <th class="text-center">From Date</th>
          <th class="text-center">To Date</th>
          <th class="text-center">Actions</th>
        </thead>
        <tbody id="date-range-table">
          {% for form in dateformset.forms %}
            <tr class="date_range_row text-center">
              {{ form.start_date }}
              {{ form.end_date }}
              <td class="date_from">{{ form.start_date.value|date:"d/m/Y" }}</td>
              <td class="date_to">{{ form.end_date.value|date:"d/m/Y" }}</td>
              <td><a href="#"><i class="del_daterange icon-remove"></i></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
