{% extends "mail/base.html" %}
{% block content %}

<p style="font-size:1.3em">
Order Notification: #{{ myOrder.id }}
</p
<p>
Dear {{ myRecipient.get_profile.firstname }},
</p>
<p>
This message is to inform you about a change of status in the order
you made on <b>{{ myOrder.order_date|date:"d F Y" }}</b> on SANSA
ONLINE Catalogue (http://catalogue.sac.co.za).
</p>
<p style="text-align:center;font-size:1.1em">
Your order status: {{ myOrder.order_status }}
</p>

You can review your order at any time by visiting the
<a id="link" href="http://{{ domain }}/vieworder/{{ myOrder.id }}/">Order
Page</a> If you have any problems or special requests relating to this
order, please contact our sales staff
at <a id="link" href="mailto:sales@sac.co.za">sales@sac.co.za</a>. They will be
more than happy to assist you. Below you will find a summary of the
order options and products for this order (you may need to scroll down
to see it). If any of the products is available for immediate
download, you can click on the link provided in order to retrieve it.
Please note that some products may be large and require lengthy
download times.
</p>
<p>
Our very best regards,
<br/><br/>
The SANSA-EO team.
</p>
<div style="background:white;padding:5px;margin:5px;color:black;">
<h2>Timeline</h2>
{% for myRecord in myHistory %}
<p>
<b>Who:</b>{{ myRecord.user }} <b>Date</b> {{ myRecord.order_change_date|date:"d F Y" }}<br/>
<b>Status change:</b> {{ myRecord.old_order_status }} -> {{ myRecord.new_order_status }}<br/>
<b>Notes:</b>{{ myRecord.notes }}
</p>
{% endfor %}

<h2>Product List</h2>
{% for myRecord in myRecords %}
<p>
{{ myRecord.product.product_id }} 
{% if myRecord.product.imageUrl %}
Download: {{myRecord.product.imageUrl}}
{% endif %}
{% if myRecord.product.rawImageUrl %}
Download Raw: {{myRecord.product.rawImageUrl}}
{% endif %}
</p>
{% endfor %}


</div>
{% endblock %}
