html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

:root {
    --nav-width: 310px;
    --nav-width-minus: -310px;
}

.btn-search {
    color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.map, #map-container {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#layoutSidenav {
    height: 100%;
    padding-bottom: 60px; /* this is navbar height */
    position: relative;
}

#layoutSidenav_nav {
    height: 70%;
    left: 0;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: var(--nav-width);
}

#layoutSidenav_nav > div {
    height: 100%;
    width: 100%;
}

#layoutSidenav #layoutSidenav_nav {
     margin: 0.5rem;
    transform: unset;
}

#layoutSidenav #layoutSidenav_content {
    margin-left: 0;
}


.sidenav-toggled #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
}

.sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(var(--nav-width-minus));
}


#map-control-panel-element {
    transition: margin 0.15s ease-in-out;
    left: var(--nav-width);
}

.sidenav-toggled #map-control-panel-element {
    left: 0;
}

#map-control-panel-element {
    background: white;
    margin-top: 10px;
    margin-left: 0.5rem;
}

#map-control-panel-element > div {
    cursor: pointer;
}

#map-control-panel-element .sub-control-panel {
    transition: margin 0.15s ease-in-out;
}

#map-control-panel-element .sub-control-panel:hover {
    background: rgba(33, 40, 50, 0.2);
}

#map-control-panel-element .layer-switcher button {
    width: 100% !important;
}

#map-control-panel-element .layer-switcher button:hover {
    background-color: rgba(33, 40, 50, 0.2);
}

#sidebarToggle:focus,
#sidebarToggle:active {
    background: none;
    box-shadow: unset !important;
}

.sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    display: none;
}

#layoutRightSide .panel-wrapper {
    padding-top: 0;
    padding-bottom: 80px;
    margin-right: 0.5rem;
    margin-top: 50px
}

#layoutRightSide .navigation {
    border: 1px solid rgb(210, 208, 206);
    width: 100%;
}

#layoutRightSide .result-panel {
    flex-flow: column;
    align-items: stretch;
}

#layoutRightSide .well-small {
    flex: 1 1 auto;
    flex-flow: column;
    align-items: stretch;
    overflow-y: auto;
}

#result-sub-panel {
    margin: 0 !important;
    padding: 10px;
    flex: 0 1 auto;
}

#layoutRightSide .result-item {
    width: 100%;
    height: 40px;
}

.date_range_row{
    color: var(--bs-table-striped-color);
    background-color: #EDF1FC !important
}

.btn-search {
    width: 45%;
    color: #EDF1FC;
    border: 1px solid #EDF1FC
}

.table-header {
    color:#f6f6f6
}

.permalink-disabled {
    color: #d6d6d6;
}

.hide-delete-polygon {
    display: none;
}

.result-panel-header {
  font-size: 21px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  min-height: 3rem;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.sidebar-result{
    background-color: #272f3b;
    height: 2.2rem;
    width: 3rem;
    position: fixed;
    cursor: pointer;
    color: #f6f6f6;
    margin-right: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: .35rem;
    box-shadow: 0 .15rem 1.75rem 0 rgba(34,39,46,.15);
    right: 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 1200px) {
    html, body {
        margin: 0;
        height: auto;
        overflow-y: auto;
    }

    #layoutSidenav {
        position: unset;
        height: auto;
        display: block;
        padding-bottom: 0;
    }

    #layoutSidenav_content {
        height: 100%;
        width: 100%;
    }

    .map, #map-container {
        margin: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    #layoutSidenav #layoutSidenav_nav {
        transform: unset;
        position: unset;
        width: 100%;
    }

    .sidenav-toggled #layoutSidenav #layoutSidenav_nav {
        transform: unset;
    }

    #layoutSidenav #layoutSidenav_content {
        height: 50vh;
        min-height: 240px;
        margin-left: 0;
    }

    #layoutSidenav #layoutSidenav_content main {
        height: 100%;
        width: 100%;
    }

    #layoutSidenav #layoutSidenav_content .map-wrapper {
        height: 100%;
        width: 100%;
    }

    .sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
        display: none;
    }

    #map-control-panel-element {
        margin-top: 20px;
        left: 0;
    }

    #sidebarToggle {
        display: none;
    }

    #layoutRightSide .panel-wrapper {
        position: unset;
        height: auto;
        max-width: unset;
        max-height: unset;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 0;
        min-width: unset;
    }

    #layoutRightSide .result-panel {
        min-width: unset;
    }

    #layoutRightSide .result-item-info {
        height: auto;
    }

    #results-container {
        height: auto !important;
    }
}