{% load boxtag %} {# Custom tag defined in templatetags/ #}
  <script type="text/javascript">
    // <![CDATA[
    $.ui.dialog.prototype.options.bgiframe = true;
    function check_search_dates() { /* do nothing */ };
    function init() {
      if (OpenLayers.Util.getBrowserName() == "msie" && !window.ieLoaded) {
        window.ieLoaded = true;
        setTimeout(init, 2000);
        return;
      }  
      {% if myLayerDefinitions %}
        {% for myValue in myLayerDefinitions %}
        {{ myValue|safe }}
        {% endfor %}
      {% endif %}
      {% if myLayersList %}
        setupBaseMap();
      {% endif %}
      {% if myTaskingRequestFlag %}
        setupTaskingMap({{ myLayersList|safe }} );
      {% else %}
        mMap.addControl(new OpenLayers.Control.LayerSwitcher());
        mMap.addLayers( {{ myLayersList|safe }} );
        mVectorLayer = new OpenLayers.Layer.Vector("search_geometry");
        mMap.addLayer(mVectorLayer);
        // Add geometry specific panel of toolbar controls
        setupEditingPanel(mVectorLayer);

        mWKTFormat = new OpenLayers.Format.WKT();
        mVectorLayer.events.on({"featuremodified" : modifyWKT});
        mVectorLayer.events.on({"featureadded" : addWKT});

        var bounds = new OpenLayers.Bounds(16.3477, -35.2411, 33.3984, -21.9727);
        bounds.transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
        mMap.zoomToExtent(bounds);
      {% endif %}
/*
      {% for myField in myForm %}
        $("#{{myField.html_name}}Help").dialog({
        autoOpen: false, 
        bgiframe: true,
        modal: true,
        buttons: {
          Ok: function() {
            $(this).dialog('close');
          }
        }
      });
      $('#{{myField.html_name}}Button').click(function() 
      { 
        $('#{{myField.html_name}}Help').dialog('open'); 
        return false;
      }); 
      {% endfor %}
*/
{# // add tooltip #}
    $("#map-navigation-panel div[title]").tooltip('#maptooltip');
    $('#OpenLayers_Control_MaximizeDiv_innerImage').css({'height':'100px'}); {# //dirty hack, OL sets 'style' element which cannot be overriden by CSS #}
  };
  //]]>
  </script>
  <div id="maptooltip">&nbsp;</div>
  <form enctype="multipart/form-data" action="" method="post" accept-charset="utf-8" class="horizontal" id="add_form">
  {% box_start "box-map-container" "span-22" %}
    <h2 class="centered"><img src="/media/images/letter_32.png" /> {{ myTitle }}</h2>
    <div id="map-container" class="span-22 ui-widget-content ui-state-highlight ui-corner-all last"> {# thus nested jquery widget container #}
      <div id="map" class="span-22 last"></div>
      <div id="map-panel" class="span-22 last">
        <div id="map-navigation-panel" class="span-7 append-1"></div>
        <div id="map-location"  class="prepend-1 span-4 append-1 small"></div>{# small class from blueprint css #}
        <div class="olControlScalebar span-6 append-1" id="map-scale"></div>
      </div>
    </div>
    {{  myMessage|safe }}
  {% box_end %}
  <br />
  {% box_start "form-container" "span-22 prepend-top append-bottom" %}
    <table>
    {# render forms based on context #}
    {% if myDeliveryDetailForm and myOrderForm %}
            {{myDeliveryDetailForm}}

            {{myOrderForm}}
    {% else %}
      {% if myTaskingDeliveryDetailsForm and myTaskingForm %}
              {{ myTaskingDeliveryDetailsForm }}

              {{ myTaskingForm }}
              {{ myTaskingForm.media }}
      {% else %}
        {{ myForm }}
      {% endif %}
    {% endif %}
    </table>  
    {% if mySubmitLabel %}
    <button type="submit" id="submitButton">{{ mySubmitLabel }}</button>
    {% else %}
    <button type="submit" id="submitButton">Save</button>
    {% endif %}
  {% box_end %}
  <br />
  {% if myShowCartContentsFlag %}
    <div id="cart" class="span-22">
    {% include "cartContents.html" %}
    </div>
    </form>
  {% endif %}
  <!--
  {% for myField in myForm %}
    {# popup help for this field #}
    <div id="{{myField.html_name}}Help" title="{{ myField.label }}">
      <p>
        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
        {{ myField.help_text }}
      </p>
    </div>
    {# popup ends #}
  {% endfor %}
  -->
