{% extends "base.html" %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% block content%}
{% box_start "box-contact-us" "span-22" %}
  <h2 class="centered">Contact Us</h2>
  <div class="span-10 prepend-1">
    <p><b>Earth Observation</b><br>

    Jane Olwoch<br>
    Email: <a href="mailto:jolwoch@sansa.org.za">jolwoch@sansa.org.za</a><br> 
    Tel: +27 12 842 7838<br>
   

    <p><b>Data enquiries, quotes and sales</b><br>

    Email: <a href="mailto:customers-eo@sansa.org.za">customers-eo@sansa.org.za </a><br>
    Tel:  +27 12 334 5000
    Fax:  +27 12 334 5001
  </div>


 {% box_end %}
{% endblock %}

