{% extends "base.html" %}
{% block content%}
<div class="ui-widget">
  <div class="ui-state-highlight ui-corner-all"  style="padding: 10px">
    <h2>Contact Us</h2>
    <p><b>Earth Observation</b><br>

    Corn&eacute; Eloff<br>
    Email: <a href="mailto:CEloff@csir.co.za">CEloff@csir.co.za</a><br> 
    Tel: +27 12 334 5058<br>
    Fax: +27 12 334 5001

    <p><b>Data enquiries, quotes and sales</b><br>

    Email: <a href="mailto:customersac@csir.co.za">customersac@csir.co.za </a><br>
    Fax:  +27 12 334 5001


    <p><b>Telemetry, Tracking &amp; Command</b><br>
    Eugene Avenant<br>
    Email: <a href="mailto:eavenant@csir.co.za">eavenant@csir.co.za</a><br> 
    Tel: +27 12 334 5130<br>
    Fax: +27 12 334 5001
  </div>
</div>
{% endblock %}

