{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% box_start "" "" "" %}
<h2>Summary of all sensor based catalogue holdings</h2>
<p>Click on a sensor name for a detailed summary (including search interest) for that sensor.</p>
<table>
  <thead>
  </thead>
  <tbody>
    <tr><th>Sensor</th><th>Count</th></tr>
    {% for myRecord in myResultSet %}
    {% if myRecord.id__count != 0 %}
    <tr>
      <td>
        <a href="#" onclick="loadSummaryTable({{myRecord.id}});">
          {{myRecord.name}}</a>
      </td>
      <td>{{myRecord.id__count}}</td>
    </tr>
    {% endif %}
    {% endfor %}
    <tr><th>Total</th><th>{{myTotal}}</th></tr>
  </tbody>
</table>

You may also be interested in our sensor dictionary report <a href="#" onclick='loadContent("/dictionaryReport/");'>here</a>
{% box_end %}
