{% extends "base.html" %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% block content%}
  {% box_start "box-welcome" %}
    <center><img src="/media/images/overview.jpg" alt="overview" /></center>
    <h2 class="centered">Welcome to the SANSA Earth Observation Online Catalogue</h2>
    <p class="centered span-22">The development of this catalogue was funded by the <a
        href="http://www.dst.gov.za/">South African Department of Science and Technology.</a></p>
    <p class="span-10">This site provides the SANSA (South African National
      Space Agency) earth observation data catalogue for Landsat 4,5 MSS; Landsat
      5 TM; Landsat 7 ETM; SPOT 1,2,4; ERS 1,2 and NOAA sensors. SANSA (and in
      their former capacity as a part of the  CSIR) has been acquiring satellite
      earth observation data since the early 1980's when reception of Landsat-2
      MSS data commenced.</p>
    <p class="span-10 last"><b>A note on browser compatibility:</b> This web
      site works with Mozilla Firefox 3 or better, recent versions of Google
      Chrome, Opera, Safari and Internet Explorer 8. Users of older versions of
      Internet Explorer should upgrade to version 8 to get the best
      experience.</p>
    <p class="span-10"><b>Legacy Catalogue:</b> The old catalogue (that this
      catalogue aims to replace) is still <a href="http://196.35.94.9:8089">online here</a>.</p>
    <p class="span-10 last"><b>Catalogue Overview:</b> The video below provides
      a quick-start guide to using the catalogue.</p>
    <p class="centered span-22">
      <embed src="http://maps.sansa.org.za/sansa-catalogue-overview.mov" autostart="false" />
    </p>
  {% box_end %}

{% endblock %}

