{% extends "base.html" %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% block content%}
  {% box_start box-welcome "span-22 last flat-background" %}
    <h2 class="centered">Welcome to the SANSA Earth Observation Online Catalogue</h2>
    <center><a href="/search/"><img src="/media/images/overview.gif" alt="overview" /></a></center>
    
    <p class="span-9 prepend-1 append-1"><img class="paragraph-icon" src="/media/images/sac_32.png"><b>Welcome: </b>
      This site provides the SANSA (South African National
      Space Agency) Earth Observation data catalogue for South Africa and the SADC Region.
      </p>
    <p class="span-9  append-1 last"><img class="paragraph-icon" src="/media/images/tick_32.png"><b>Browser compatibility:</b> This web
      site works with Mozilla Firefox 3 or better, recent versions of Google
      Chrome, Opera, Safari and Internet Explorer 8. </p>
    <br/>
    <!-- <p class="span-20 prepend-1 append-1 last">
    {% for myMission in myMissions %}{{myMission.operator_abbreviation}} {% endfor %}.
    </p>
    <br/> -->
    <p class="span-9 append-1 prepend-1"><img class="paragraph-icon" src="/media/images/left_32.png"><b>Legacy Catalogue:</b> Still <a href="http://196.35.94.9:8089">online here</a>.</p>
      <p class="span-9 append-1 last"><img class="paragraph-icon" src="/media/images/movies.png"><b>Getting Started:</b> Watch our <a href='/video/'>short video</a> which provides
      a quick-start guide to using the catalogue.</p>
    <br/>
    <p class="span-20 prepend-1 append-1 last"><img class="paragraph-icon" src="/media/images/qgis_logo.png"><b>QGis download:</b>
     Free and Open Source SANSA branded special edition of Quantum GIS to view imagery. Click <a href="http://maps.sansa.org.za/QGIS-1-7-0-Sansa-Edition-Setup.exe">here</a> to download.
    </p>
  {% box_end %}

{% endblock %}

