{# Original code from Tim's SABIO project and copyright is retained by the original author #}
{% load url from future %} {# https://docs.djangoproject.com/en/1.4/releases/1.3/#changes-to-url-and-ssi #}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% box_start "box-search-history"%}
  <h2 class="centered"> My Search History</h2>
  <table width="100%" style="border-bottom: solid 1px; border-top: solid 1px; margin-top: 3px;">
    <tr>
      <th>
        <b>Searched on</b>
      </th>
      <th>
        <b>Sensor(s)</b>
      </th>
      <th>
        <b>Date ranges</b>
      </th>
      <th>
        <b>Results</b>
      </th>
      <th>
        <b>View</b>
      </th>
      <th>
      </th>
    </tr>
    {% for mySearch in mySearches %}
    <tr>
      <td>
        {{ mySearch.search_date|date:"D, d M Y, H:m" }}
      </td>
      <td>
        {{ mySearch.sensorsAsString }}
      </td>
      <td>
        {{ mySearch.datesAsString }}
      </td>
      <td>
        {% firstof mySearch.record_count 'N/D' %}
      </td>
      <td>
        <a href="/searchresult/{{mySearch.guid}}/"><img src="/media/images/search_16.png" style="cursor: pointer;"
          class="blocking-link"/></a>{# blocking link class used to trap clicks and show block ui while page redirect runs #}
      </td>
      <td>
        <a href="{% url 'deleteSearch' mySearch.id %}"
          onclick='
          $.get("{% url 'deleteSearch' mySearch.id %}?xhr");
          $(this).parent().parent().remove();
          return false;'
          >
          <img src="/media/images/delete_16.png">
          </a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% box_end %}
