{% extends "base.html" %}

{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% block content %}
  {% box_start "box-orders-summary" %}
<a class="button-link" href="/orderssummary/?pdf"><img src="/media/images/application-pdf.png" />PDF</a>
<h2>Order status summary report</h2>
<table>
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>Status</th>
      <th>Count</th>
    </tr>
    {% for record in myOrderStatus %}
    <tr>
      <td>{{ record.name }}</td>
      <td>{{ record.num_orders }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Order product type summary report</h2>
<table>
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>Product type</th>
      <th>Count</th>
    </tr>
    {% for record in myOrderProductType %}
    <tr>
      <td>{{ record.name }}</td>
      <td>{{ record.num_orders }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  {% box_end %}
<script>
  //button up links
  $(document).ready(function(){
  $('.button-link').button();
  });

</script>
{% endblock %}

