{# Original code from Tim's SABIO project and copyright is retained by the original author #}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% block content %}
  {% box_start "box-orders-list" %}
  <script type="text/javascript">
      function showOrder(theId) {
        theUrl = '/vieworder/' + theId + '/';
        $('#content').load(theUrl,'', zebraTables );
      };
  </script>
  <div class="span-22">
    <div class="span-7 centered">
      <h2>Orders List</h2>
    </div>
    <div class="span-6">
      <form name="frmShowOrder" method="get" action="">
        <label>Go to Order:</label>
        <input name="order_id_text" type="text" size="6" maxlength="5" />
        <input type="button" value="Go!" 
          onclick="showOrder(forms['frmShowOrder'].order_id_text.value); return false;" />
      </form>
    </div>
    <div class="span-9 centered last " id="order-list-buttonset">
      <button onclick='location="/{{ myUrl }}/?page={{ myRecords.number}}&pdf"'><img src="/media/images/application-pdf.png" />PDF</button>
      {% if myUrl = 'listorders' %}
      <button onclick='location="/ordermonthlyreport/{{ myCurrentMonth|date:'Y' }}/{{ myCurrentMonth|date:'m' }}/"'>Monthly reports</button>
      <button onclick='location="/orderssummary/"'>Orders summary</button>
      {% endif %}
    </div>
  </div>
  <table>
    <thead>
    </thead>               
    <tbody>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Status</th>
        <th>Placed by</th>
        <th>View</th>
      </tr>
      <tr>
        <td colspan="5" style="text-align: center;">
          <div class="pagination">
            <span class="step-links">
              Switch to:
              <button onclick='location="/listtaskingrequests/"'>Tasking Request View</button>
              {% if myRecords.has_previous %}
              <button onclick='$("#content").load("/{{myUrl}}/?page={{ myRecords.previous_page_number }}","",zebraTables)'>Previous</button>
              {% endif %}

              <span class="current">
                Page {{ myRecords.number }} of {{ myRecords.paginator.num_pages }}.
              </span>

              {% if myRecords.has_next %}
              <button onclick='$("#content").load("/{{myUrl}}/?page={{ myRecords.next_page_number }}","",zebraTables)'>Next</button>
              {% endif %}
            </span>
          </div>
        </td>
      </tr>
    {% for myOrder in myRecords.object_list %}
      <tr>
        <td>{{myOrder.id }}</td>
        <td>{{myOrder.order_date|date:"D, d M Y, H:m" }}</td>
        <td>{{myOrder.order_status}}</td>
        <td>{{myOrder.user.get_profile.firstname}} {{myOrder.user.get_profile.surname}}</td>
        <td>
          <img src="/media/images/search_16.png" 
               style="cursor: pointer;"
               onclick='
               $("#content").load("/vieworder/{{myOrder.id}}/","", zebraTables );
               return false;' 
           / >
        </td>
      </tr>
    {% endfor %}
      <tr>
        <td colspan="5" style="text-align: center;">
          <div class="pagination">
            <span class="step-links">
              {% if myRecords.has_previous %}
              <button onclick='$("#content").load("/{{myUrl}}/?page={{ myRecords.previous_page_number }}","",zebraTables)'>Previous</button>
              {% endif %}

              <span class="current">
                Page {{ myRecords.number }} of {{ myRecords.paginator.num_pages }}.
              </span>

              {% if myRecords.has_next %}
              <button onclick='$("#content").load("/{{myUrl}}/?page={{ myRecords.next_page_number }}","",zebraTables)'>Next</button>
              {% endif %}
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  {% box_end %}
{% endblock %}
