{# Original code from Tim's SABIO project and copyright is retained by the original author #}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% block content %}
  {% box_start "box-orders-list" %}
  <script type="text/javascript">
      function showOrder(theId) {
        theUrl = '/vieworder/' + theId + '/';
        $('#content').load(theUrl,'', zebraTables );
      };
  </script>
  <a class="button-link" href="/{{ myUrl }}/?page={{ myRecords.number}}&pdf"><img src="/media/images/application-pdf.png" />PDF</a>
  {% if myUrl = 'listorders' %}
  <a class="button-link" href="/ordermonthlyreport/{{ myCurrentMonth|date:'Y' }}/{{ myCurrentMonth|date:'m' }}/">Monthly reports</a>
  <a class="button-link" href="/orderssummary/">Orders summary</a>
  {% endif %}
  <h2>Orders List</h2>
  <table>
    <thead>
      <tr>
        <td colspan="5">
        <form name="frmShowOrder" method="get" action="">
          <label>Go to Order:</label>
          <input name="order_id_text" type="text" size="6" maxlength="5" />
          <input type="button" value="Go!" 
                onclick="showOrder(forms['frmShowOrder'].order_id_text.value); return false;" />
        </form>
        </td>              
      </tr>                
    </thead>               
    <tbody>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Status</th>
        <th>Placed by</th>
        <th>View</th>
      </tr>
      <tr>
        <td colspan="5" style="text-align: center;">
          <div class="pagination">
            <span class="step-links">
              {% if myRecords.has_previous %}
              <a href="#" onclick='$("#content").load("/{{myUrl}}/?page={{ myRecords.previous_page_number }}","",zebraTables)'>Previous</a>
              {% endif %}

              <span class="current">
                Page {{ myRecords.number }} of {{ myRecords.paginator.num_pages }}.
              </span>

              {% if myRecords.has_next %}
              <a href="#" onclick='$("#content").load("/{{myUrl}}/?page={{ myRecords.next_page_number }}","",zebraTables)'>Next</a>
              {% endif %}
            </span>
          </div>
        </td>
      </tr>
    {% for myOrder in myRecords.object_list %}
      <tr>
        <td>{{myOrder.id }}</td>
        <td>{{myOrder.order_date|date:"D, d M Y, H:m" }}</td>
        <td>{{myOrder.order_status}}</td>
        <td>{{myOrder.user}}</td>
        <td>
          <img src="/media/images/search_16.png" 
               style="cursor: pointer;"
               onclick='
               $("#content").load("/vieworder/{{myOrder.id}}/","", zebraTables );
               return false;' 
           / >
        </td>
      </tr>
    {% endfor %}
      <tr>
        <td colspan="5" style="text-align: center;">
          <div class="pagination">
            <span class="step-links">
              {% if myRecords.has_previous %}
              <a href="#" onclick='$("#content").load("/{{myUrl}}/?page={{ myRecords.previous_page_number }}","",zebraTables)'>Previous</a>
              {% endif %}

              <span class="current">
                Page {{ myRecords.number }} of {{ myRecords.paginator.num_pages }}.
              </span>

              {% if myRecords.has_next %}
              <a href="#" onclick='$("#content").load("/{{myUrl}}/?page={{ myRecords.next_page_number }}","",zebraTables)'>Next</a>
              {% endif %}
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  {% box_end %}
<script>
  $(document).ready(function(){
  //button up links
  $('.button-link').button();
  });
</script>
{% endblock %}
