{% extends "map.html" %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% block extrajs %}
  {{ block.super }}
  {% if theGuid %}
  <script type="text/javascript">

    // Set select options
    function set_form_options(options){
      $('#productIdForm select option').show();
      for (id in options) {
        try {
          //console.log('Checking ' + id);
          //console.log(options[id]);
          // To avoid hiding selected: " :not(:selected)"
          $('#id_' + id + ' option').each(function(e,e){
            if (e.value && $.inArray(parseInt(e.value), options[id]) == -1) {
              $(e).hide();
              //console.log('hiding ' + id + ' val:' + e.value);
            } else {
              //console.log('no match ' + id + ' val:' + e.value);
            }
          });
        } catch(e) {
        };
      };
    };

    $(function(){
      // TODO: remove the button and the following code
      $('#product-search-button').click(function(){
        $('#productIdForm').submit();
      });
      $('#product-clear-button').click(function(){
        $('#productIdForm select option').show();
      });

      // Form ajax handling
      $('#productIdForm').submit(function(){
        $(".working").html('<p>Searching, please wait...<img src="/media/images/ajax-loader.gif"></p>');
        $(".working").slideDown('slow');
        $.ajax({
          type: "POST",
          url: "/productIdSearch/{{ theGuid }}/",
          data: $('#productIdForm').serialize(),
          success: function(data) {
            // Just in case...
            $('#productIdForm select').css({border: 'none'});
            $('#messages').hide();
            $('#search-messages').html('<b>' + data.count + '</b> record found for ' + data.messages.join(', ') + '.');
            set_form_options(data.values);
            $('#results-table').parent().load('/searchpage/{{ theGuid }}/',revealTable);
            $(".working").slideUp('slow');
          },
          error: function(data) {
            var errors = $.parseJSON (data.responseText);
            var messages = '';
            for (e in errors) {
              try {
                $('#id_' + e).css({border: 'solid 1px red'});
                messages += '<p>Errors in field <b>' + e + '</b>:<ul><li>';
                messages += errors[e].join('</li><li>');
                messages += '</ul></p>';
              } catch(e) {};
            }
            if (errors['__all__']) {
                messages += '<p>Errors in form :<ul><li>';
                messages += errors['__all__'].join('</li><li>');
                messages += '</ul></p>';
            }
            $('#id_sensors').css({border: 'solid 1px red'});
            $('#messages').html(messages).show('slow');
            $(".working").slideUp('slow');
          }
        });
        return false;
      });

      $('#productIdForm select').change(function() {
        $('#productIdForm').submit();
      });
      {% if filterValues %}// Filter initial options
      set_form_options({{ filterValues|safe }});
      {% endif %}
    });
  </script>
  {% endif %}
{% endblock %}

{% block content %}
{% box_start "" "" "" %}
  <div id="messages" style="display:none;background:white"></div>
  <form id="productIdForm" action="/productIdSearch/{{ theGuid }}/">
  {% csrf_token %}
    <table>
      <tr>
        <th>{{ myForm.mission.label_tag}}</th>
        <th>{{ myForm.sensors.label_tag}}</th>
        <th>{{ myForm.acquisition_mode.label_tag}}</th>
        <th>{{ myForm.sensor_type.label_tag}}</th>
        <th>{{ myForm.j_frame_row.label_tag}}</th>
        <th>{{ myForm.k_orbit_path.label_tag}}</th>
        <th>{{ myForm.date_range.label_tag}}</th>
        <th>{{ myForm.processing_level.label_tag}}</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td>{{ myForm.mission }}</td>
        <td>{{ myForm.sensors }}</td>
        <td>{{ myForm.acquisition_mode }}</td>
        <td>{{ myForm.sensor_type }}</td>
        <td>{{ myForm.j_frame_row}}</td>
        <td>{{ myForm.k_orbit_path}}</td>
        <td>{{ myForm.date_range}}</td>
        <td>{{ myForm.processing_level}}</td>
        <td><input type="button" value="Clear!" id="product-clear-button" /><br /><input type="button" value="Search!" id="product-search-button" /></td>
      </tr>
    </table>
  </form>
  <div class="working"></div> {# used to display ajax status updates #}
{% box_end %}
{{ block.super }}
{% endblock %}
