{# Original code from Tim's SABIO project and copyright is retained by the original author #}
{% load url from future %} {# https://docs.djangoproject.com/en/1.4/releases/1.3/#changes-to-url-and-ssi #}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% box_start "box-recent-search-history"%}
  <div class="span-22 centered">

    <button onclick='location="{% url 'searchMonthlyReport' myCurrentMonth|date:'Y' myCurrentMonth|date:'m' %}"'>Monthly reports of user origin</button>
    <button onclick='location="{% url 'recentSearches' %}?pdf"'><img src="/media/images/application-pdf.png" /> PDF</button>
    <button onclick='location="{% url 'searchMonthlyReportAOI' myCurrentMonth|date:'Y' myCurrentMonth|date:'m' %}"'>Monthly reports of AOI geometry</button>
  </div>
  <h2 class="centered"><img class="icon" src="/media/images/clock_32.png"> Recent Search History</h2>
  <table width="100%" style="border-bottom: solid 1px; border-top: solid 1px; margin-top: 3px;">
    <tr>
      <th>
        <b>Searched by</b>
      </th>
      <th>
        <b>Searched on</b>
      </th>
      <th>
        <b>Sensor</b>
      </th>
      <th>
        <b>Date range(s)</b>
      </th>
      <th>
        <b>View</b>
      </th>
      <th>
      </th>
    </tr>
    {% for mySearch in mySearches %}
    <tr>
      <td>
        {{ mySearch.user.get_profile.firstname }} {{ mySearch.user.get_profile.surname }}
      </td>
      <td>
        {{ mySearch.search_date|date:"D, d M Y, H:m" }} 
      </td>
      <td>
        {{ mySearch.sensorsAsString }} 
      </td>
      <td>
        {{ mySearch.datesAsString }}
      </td>
      <td>
        <a href="/searchresult/{{ mySearch.guid }}/"
          >View
          </a>
      </td>
      <td>
        <a href="{% url 'deleteSearch' mySearch.id %}"
          onclick='
          $.get("{% url 'deleteSearch' mySearch.id %}?xhr");
          $(this).parent().parent().remove();
          return false;'
          >
          <img src="/media/images/delete_16.png">
          </a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% box_end %}

