  <thead>
    <tr>
      {% if myShowDetailFlag %}
      <th></th>
      {% endif %}
      {% if myShowSensorFlag %} 
      <th>Sensor</th>
      {% endif %}
      {% if myShowIdFlag %}
      <th>Id</th>
      {% endif %}
      {% if myShowSceneIdFlag %}
      <th>Scene Id <a href="#" id="scene-id-help"> - About</a></th>
      {% endif %}
      {% if myShowDateFlag %}
      <th>Date</th>
      {% endif %}
      {% if myShowRowFlag %}
      <th>
        Row  
      </th>
      {% endif %}
      {% if myShowPathFlag %}
      <th>
        Path
      </th>
      {% endif %}
      {% if myShowCloudCoverFlag %}
      <th>
        Mean Cloud Cover
      </th>
      {% endif %}
      {% if myShowMetadataFlag %}
      <th>
        Metadata
      </th>
      {% endif %}
      {% if myShowCartFlag %}
      <th>
        Add to Cart
      </th>
      {% endif %}
      {% if myShowRemoveIconFlag %}
      <th>
        Remove
      </th>
      {% endif %}
      {% if myShowPreviewFlag %}
      <th>
        Show Preview
      </th>
      {% endif %}

      {% if myShowDeliveryDetailsFormFlag %}
      <th>Add delivery details</th>
      {% endif %}

      {% if myShowDeliveryDetailsFlag %}
      <th>View delivery details</th>
      {% endif %}

    </tr>
</thead>