{% extends "base.html" %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% block extrajs %}
  {{ block.super }}

  <script type="text/javascript">
  /* <![CDATA[ */
  {# use init rather than jquery document.ready() for ie support! #}
  function init() {
    if (OpenLayers.Util.getBrowserName() == "msie" && !window.ieLoaded) {
      window.ieLoaded = true;
      setTimeout(init, 2000);
      return;
    }
    // Extra layer definitions passed in by view
    {% if myLayerDefinitions %}
      {% for myValue in myLayerDefinitions %}
      {{ myValue|safe }}
      {% endfor %}
    {% endif %}
    var myLayersList = {{myLayersList|safe}}
    // Here we use a predefined layer that will be kept up to date with URL changes
    layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Open Street Map");
    //myLayersList.unshift(layerMapnik); // add to start of array
    myLayersList.push(layerMapnik); // add to end of array

    {% if myLayersList %}
      setupSearchMap( myLayersList );
    {% endif %}
    mMap.setBaseLayer( {{ myActiveBaseMap }} );
    setupMapHelpDialog();
    {# //add tooltip div #}
    $("#map-navigation-panel div[title]").tooltip('#maptooltip');
  }
/* ]]> */

    function check_search_dates() {
        var sd = $("#id_start_date-widget").datepicker("getDate");
        var ed = $("#id_end_date-widget").datepicker("getDate");
        if (sd > ed) {
            alert ("The Start Date is later than the End Date.");
        };
    };

    {% if myAdvancedFlag %}{# activate advanced search tab #}
    $(function(){
        advSearchActivate({{ mySearchType }});
    });
    {% endif %}

    $(function(){
        $('#advSearchCombo select').change(function(e){
            advSearchActivate(e.currentTarget.value);
        });
    });

  </script>

{% endblock %}
{% block body_load %}onload="init()";{% endblock %}
{% block content%}
<div id="maptooltip">&nbsp;</div>
  {# layout done with blueprint.css we inherit 22 cols of space from base.html #}
  <div class="span-22 append-bottom last"> {# recommended to use blueprint divs only for layout ... #}
    <div class="span-22 ui-widget-content ui-state-highlight ui-corner-all last"> {# thus nested jquery widget container #}
      <div id="map" class="span-22 last"></div>
      <div id="map-panel" class="span-22 last">
        <div id="map-navigation-panel" class="span-6 append-1"></div>
        <div id="map-location"  class="span-6 append-1 small"></div>{# small class from blueprint css #}
        <div class="olControlScalebar span-6 append-1" id="map-scale"></div>
      </div>
    </div>
  </div>
  <div id="search-panel" class="span-22 ui-widget-content ui-state-highlight ui-corner-all last">
    {% include "searchPanel.html" %}
  </div>
{% endblock%}












