{# included in search.html or pulled in by ajax #}
{# we are using blueprint css too layout the form #}

  <div class="span-20 prepend-1 append-1 prepend-top last">
    <h3><img src="/media/images/search_16.png" alt="" />&nbsp;Search Criteria (you can optionally digitise a search area above)</h3>
  </div>
  <script type="text/javascript">
   $( function () {
       {#% if myAdvancedFlag %#}
       {# restyle the file choose using jquery stylefile plugin #}
       $("input[type=file]").filestyle({ image: "/media/images/choose-file.gif", imageheight : 22, imagewidth : 160, width : 0 });
       {#% endif %#}

      {% for myField in myForm %}
        {% ifnotequal myField.html_name "geometry" %}
        $("#{{myField.html_name}}Help").dialog({
        autoOpen: false,
        bgiframe: true,
        modal: true,
        buttons: {
          Ok: function() {
            $(this).dialog('close');
            }
          }
        });
        $('#{{myField.html_name}}Button').click(function() {
          $('#{{myField.html_name}}Help').dialog('open');
        });
        {% endifnotequal %}
      {% endfor %}
    });

    function cloneMore(selector, type, start_date, end_date) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
            $(this).attr('for', newFor);
        });
        newElement.find('.dr_delcb').remove();
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        var dates = newElement.find('input');
        $(dates[0]).val(start_date.split('-').reverse().join('-'));
        $(dates[1]).val(end_date.split('-').reverse().join('-'));
        newElement.find('.dr_text').html(start_date + ' - ' + end_date);
        return $(selector).after(newElement);
    }
    </script>

  {% if myForm %}
    <form enctype="multipart/form-data" action="/search/" method="post" id="search_form" class="inline">
      {{ myForm.non_field_errors }}
      <div id="simpleSearchDiv">
        <div class="span-6 prepend-2 append-bottom">
            <div class="span-6 last">
            <img id="{{myForm.start_datepicker.html_name}}Button"
                src="/media/images/info_16.png"
                style="cursor: pointer;"
                alt="Click for help"
                />
            {{ myForm.start_datepicker.label }}
            </div>
            <div class="span-6 last">
            {{ myForm.start_datepicker }}
            </div>
            {% if myForm.start_datepicker.errors %}
            <div class="span-6 last">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Alert:</strong> {{ myForm.start_datepicker.errors }} </p>
            </div>
            {% endif %}
        </div> {# end of column 1 #}
        <div class="span-6 append-bottom">
            <div class="span-6 last">
            <img id="{{myForm.end_datepicker.html_name}}Button"
                src="/media/images/info_16.png"
                style="cursor: pointer;"
                alt="Click for help"
                />
            {{ myForm.end_datepicker.label }}
            </div>
            <div class="span-6 last">
            {{ myForm.end_datepicker }}
            </div>
            {% if myForm.end_datepicker.errors %}
            <div class="span-6 last">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Alert:</strong> {{ myForm.end_datepicker.errors }} </p>
            </div>
            {% endif %}
        </div>
        <div class="span-6 append-bottom">
          <div><a id="dr_add" href="javascript:void(0)">&gt;&gt;</a></div>
          <div><a id="dr_del" href="javascript:void(0)">&lt;&lt;</a></div>
        </div>
        <div class="span-6 append-bottom">
          <h3>Date ranges</h3>
          {{ myFormset.management_form }}
          {% for form in myFormset.forms %}
              <div class='dr_row'>
                <div style="display:none;">{% if form.pk %}<span class="dr_delcb">{{ form.DELETE }}</span>{% endif %}{{ form.start_date }} - {{ form.end_date }}</div>
                <div class="dr_text"></div>
              </div>
          {% endfor %}
            {% if myFormset.non_form_errors %}
            <div class="span-6 last">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Alert:</strong> {{ myFormset.non_form_errors }} </p>
            </div>
            {% endif %}
          <script>
              $('#dr_add').click(function() {
                var sd_ob = $("#id_start_datepicker-widget").datepicker("getDate");
                var ed_ob = $("#id_end_datepicker-widget").datepicker("getDate");
                var sd = $("#id_start_datepicker").val();
                var ed = $("#id_end_datepicker").val();
                if(sd_ob && ed_ob) {
                  if (sd_ob <= ed_ob) {
                    cloneMore('.dr_row:last', 'searchdaterange_set',sd, ed, sd_ob, ed_ob);
                  } else {
                    alert('Please check the date range.')
                  }
                } else {
                  alert('Please select both start and end dates.');
                }
                return false;
              });
              $('#dr_del').click(function(){
                $('.dr_row.selected').each(function(){
                  // Has the cb for deletion ?
                  if($(this).find('.dr_delcb')) {
                    $(this).find('.dr_delcb').attr('checked', 'checked');
                    $(this).hide('slow');
                  } else {
                    $(this).remove();
                  }
                });
              });
              $('.dr_row').click(function(){
                $(this).toggleClass('selected');
              });
              $('.dr_row input:first-child').each(function(){
                $(this).closest('.dr_row').find('.dr_text').html($(this).val() + ' - ' + $(this).siblings().val());
              });
          </script>
        </div>

        <div class="span-6 append-bottom last">

          <div class="span-6 last adv_search_ui">
            <img id="{{myForm.aoi_geometry.html_name}}Button"
                src="/media/images/info_16.png"
                style="cursor: pointer;"
                alt="Click for help"
                />
            {{ myForm.aoi_geometry.label }}
            {{ myForm.aoi_geometry }}
          </div>
          {% if myForm.aoi_geometry.errors %}
          <div class="span-6 last">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Alert:</strong> {{ myForm.aoi_geometry.errors }} </p>
          </div>
          {% endif %}

          <div class="span-6 last adv_search_ui">
              <img id="{{myForm.geometry_file.html_name}}Button"
                  src="/media/images/info_16.png"
                  style="cursor: pointer;"
                  alt="Click for help"
                  />
              {{ myForm.geometry_file.label }}
              {{ myForm.geometry_file }}
          </div>
          {% if myForm.geometry_file.errors %}
          <div class="span-6 last adv_search_ui">
              <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
              <strong>Alert:</strong> {{ myForm.geometry_file.errors }} </p>
          </div>
          {% endif %}

          <div class="span-6 last adv_search_ui">
            <img id="{{myForm.license.html_name}}Button"
                  src="/media/images/info_16.png"
                  style="cursor: pointer;"
                  alt="Click for help"
                  />
            {{ myForm.license.label }}
            {{ myForm.license }}
            {% if myForm.license.errors %}
            <div class="span-6 last">
              <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
              <strong>Alert:</strong> {{ myForm.license.errors }} </p>
            </div>
            {% endif %}
          </div>

          <div class="">
              {{ myForm.isAdvanced }}
              <input type="button" value="{% if myAdvancedFlag %}Toggle Simple Search{% else %}Toggle Advanced Search{% endif %}" id="advancedSearch"/><br />
              <input type="submit" value="Search" class="default" name="_search" />&nbsp;&nbsp;<input type="button" value="Map Help" id="map-help-button"/><br />
              {{ myForm.geometry }}
          </div>

          <div class="clr"></div>
        </div>
    </div><!-- end of simpleSearchDiv -->

    <div id="advancedSearchDiv" class="adv_search_ui clr">

      <div id="advSearchCombo">{{ myForm.search_type.label }}: {{ myForm.search_type }}</div>


      <div class="span-6 append-bottom adv_search_1 adv_search_2 adv_fld">
        <div class="span-6 last">
          <img id="{{myForm.k_orbit_path_min.html_name}}Button"
               src="/media/images/info_16.png"
               style="cursor: pointer;"
               alt="Click for help"
               />
          {{ myForm.k_orbit_path_min.label }}
          {{ myForm.k_orbit_path_min }}
        </div>
        {% if myForm.k_orbit_path_min.errors %}
        <div class="span-6 last">
          <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
          <strong>Alert:</strong> {{ myForm.k_orbit_path_min.errors }} </p>
        </div>
        {% endif %}


        <div class="span-6 last">
          <img id="{{myForm.j_frame_row_min.html_name}}Button"
               src="/media/images/info_16.png"
               style="cursor: pointer;"
               alt="Click for help"
               />
          {{ myForm.j_frame_row_min.label }}
          {{ myForm.j_frame_row_min }}
        </div>
        {% if myForm.j_frame_row_min.errors %}
        <div class="span-6 last">
          <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
          <strong>Alert:</strong> {{ myForm.j_frame_row_min.errors }} </p>
        </div>
        {% endif %}

        <div class="span-6 last">
          <img id="{{myForm.k_orbit_path_max.html_name}}Button"
               src="/media/images/info_16.png"
               style="cursor: pointer;"
               alt="Click for help"
               />
          {{ myForm.k_orbit_path_max.label }}
          {{ myForm.k_orbit_path_max }}
        </div>
        {% if myForm.k_orbit_path_max.errors %}
        <div class="span-6 last">
          <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
          <strong>Alert:</strong> {{ myForm.k_orbit_path_max.errors }} </p>
        </div>
        {% endif %}


        <div class="span-6 last">
          <img id="{{myForm.j_frame_row_max.html_name}}Button"
               src="/media/images/info_16.png"
               style="cursor: pointer;"
               alt="Click for help"
               />
          {{ myForm.j_frame_row_max.label }}
          {{ myForm.j_frame_row_max }}
        </div>
        {% if myForm.j_frame_row_max.errors %}
        <div class="span-6 last">
          <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
          <strong>Alert:</strong> {{ myForm.j_frame_row_max.errors }} </p>
        </div>
        {% endif %}

      </div>

      <div class="span-6 append-bottom last adv_search_1 adv_search_2 adv_fld">
            <div class="span-6 last">
            <img id="{{myForm.sensors.html_name}}Button"
                src="/media/images/info_16.png"
                style="cursor: pointer;"
                alt="Click for help"
                />
            {{ myForm.sensors.label }}
            </div>
            <div class="span-6 last filter">
            {{ myForm.sensors }}
            </div>
            {% if myForm.sensors.errors %}
            <div class="span-6 last">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Alert:</strong> {{ myForm.sensors.errors }} </p>
            </div>
            {% endif %}
        </div>

        <!-- optical only -->
        <div class="span-6 append-bottom last adv_search_1 adv_fld">
            <div class="span-6 last">
            <img id="{{myForm.sensor_inclination_angle_start.html_name}}Button"
                src="/media/images/info_16.png"
                style="cursor: pointer;"
                alt="Click for help"
                />
            {{ myForm.sensor_inclination_angle_start.label }}
            </div>
            <div class="span-6 last">
            {{ myForm.sensor_inclination_angle_start }}
            </div>
            {% if myForm.sensor_inclination_angle_start.errors %}
            <div class="span-6 last">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Alert:</strong> {{ myForm.sensor_inclination_angle_start.errors }} </p>
            </div>
            {% endif %}
        </div>
        <div class="span-6 append-bottom last adv_search_1 adv_fld">
            <div class="span-6 last">
            <img id="{{myForm.sensor_inclination_angle_end.html_name}}Button"
                src="/media/images/info_16.png"
                style="cursor: pointer;"
                alt="Click for help"
                />
            {{ myForm.sensor_inclination_angle_end.label }}
            </div>
            <div class="span-6 last">
            {{ myForm.sensor_inclination_angle_end }}
            </div>
            {% if myForm.sensor_inclination_angle_end.errors %}
            <div class="span-6 last">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Alert:</strong> {{ myForm.sensor_inclination_angle_end.errors }} </p>
            </div>
            {% endif %}
        </div>

        <div class="span-6 append-bottom adv_search_1 adv_fld">
          <div class="span-6 last">
            <img id="{{myForm.use_cloud_cover.html_name}}Button"
                src="/media/images/info_16.png"
                style="cursor: pointer;"
                alt="Click for help"
                />
            {{ myForm.use_cloud_cover.label }}
            {{ myForm.use_cloud_cover }}
          </div>
          {% if myForm.use_cloud_cover.errors %}
          <div class="span-6 last">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Alert:</strong> {{ myForm.use_cloud_cover.errors }} </p>
          </div>
          {% endif %}
          <div class="span-6 last">
            <img id="{{myForm.cloud_mean.html_name}}Button"
                src="/media/images/info_16.png"
                style="cursor: pointer;"
                alt="Click for help"
                />
            {{ myForm.cloud_mean.label }}
          </div>
          <div class="span-6 last">
            {{ myForm.cloud_mean }}
          </div>
          {% if myForm.cloud_mean.errors %}
          <div class="span-6 last">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Alert:</strong> {{ myForm.cloud_mean.errors }} </p>
          </div>
          {% endif %}
        </div>
        <!-- end: optical only -->

        <!-- new generic sensor fields -->
        <div class="span-6 append-bottom last adv_search_1 adv_search_2 adv_fld">
          <div class="span-6 last">
          <img id="{{myForm.mission.html_name}}Button"
              src="/media/images/info_16.png"
              style="cursor: pointer;"
              alt="Click for help"
              />
          {{ myForm.mission.label }}
          </div>
          <div class="span-6 last filter">
          {{ myForm.mission }}
          </div>
          {% if myForm.mission.errors %}
          <div class="span-6 last">
          <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
          <strong>Alert:</strong> {{ myForm.mission.errors }} </p>
          </div>
          {% endif %}
        </div>

        <div class="span-6 append-bottom last adv_search_1 adv_search_2 adv_fld">
          <div class="span-6 last">
          <img id="{{myForm.sensor_type.html_name}}Button"
              src="/media/images/info_16.png"
              style="cursor: pointer;"
              alt="Click for help"
              />
          {{ myForm.sensor_type.label }}
          </div>
          <div class="span-6 last filter">
          {{ myForm.sensor_type }}
          </div>
          {% if myForm.sensor_type.errors %}
          <div class="span-6 last">
          <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
          <strong>Alert:</strong> {{ myForm.sensor_type.errors }} </p>
          </div>
          {% endif %}
        </div>

        <div class="span-6 append-bottom last adv_search_1 adv_search_2 adv_fld">
          <div class="span-6 last">
          <img id="{{myForm.geometric_accuracy_mean.html_name}}Button"
              src="/media/images/info_16.png"
              style="cursor: pointer;"
              alt="Click for help"
              />
          {{ myForm.geometric_accuracy_mean.label }}
          </div>
          <div class="span-6 last">
          {{ myForm.geometric_accuracy_mean }}
          </div>
          {% if myForm.geometric_accuracy_mean.errors %}
          <div class="span-6 last">
          <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
          <strong>Alert:</strong> {{ myForm.geometric_accuracy_mean.errors }} </p>
          </div>
          {% endif %}
        </div>
        <!-- end: new generic sensor fields -->

      <div class="clr"></div>
      </div><!-- end of advancedSearchDiv  -->
    </form>


    {% for myField in myForm %}
      {# popup help for this field #}
      {% ifnotequal myField.html_name "geometry" %}
      <div id="{{myField.html_name}}Help" title="{{ myField.label }}">
        <p>
          <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
          {{ myField.help_text }}
        </p>
      </div>
      {% endifnotequal %}
      {# popup ends #}
    {% endfor %}
  {% else %}
    Error search form could not be loaded.
  {% endif %}
