{% extends "base.html" %}
{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% block extrajs %}
  {{ block.super }}

  <script type="text/javascript">
  /* <![CDATA[ */
  {# use init rather than jquery document.ready() for ie support! #}
  function init() {
    if (OpenLayers.Util.getBrowserName() == "msie" && !window.ieLoaded) {
      window.ieLoaded = true;
      setTimeout(init, 2000);
      return;
    }

    // Extra layer definitions passed in by view
    {% if myLayerDefinitions %}
      {% for myValue in myLayerDefinitions %}
      {{ myValue|safe }}
      {% endfor %}
    {% endif %}
    var myLayersList = {{myLayersList|safe}}
    // Here we use a predefined layer that will be kept up to date with URL changes
    layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Open Street Map");
    //myLayersList.unshift(layerMapnik); // add to start of array
    myLayersList.push(layerMapnik); // add to end of array

    {% if myLayersList %}
      setupSearchMap( myLayersList );
    {% endif %}
    mMap.setBaseLayer( {{ myActiveBaseMap }} );
    setupMapHelpDialog();

    $('#OpenLayers_Control_MaximizeDiv_innerImage').css({'height':'100px'}); {# //dirty hack, OL sets 'style' element which cannot be overriden by CSS #}
    $("#map-container").mapResizer({'map':mMap});{# //activate mapresizer widget #}
    {# //add tooltip div #}
    $("#map-navigation-panel div[title],#resizer_toolbox img[title]").tooltip('#maptooltip');
  }

    function check_search_dates() {
        var sd = $("#id_start_date-widget").datepicker("getDate");
        var ed = $("#id_end_date-widget").datepicker("getDate");
        if (sd > ed) {
            alert ("The Start Date is later than the End Date.");
        };
    };

    function check_sensor_inclination_angles() {
        var sv = parseInt($("#id_sensor_inclination_angle_start").val());
        var ev = parseInt($("#id_sensor_inclination_angle_end").val());
        if (sv && ev && (sv > ev)) {
            alert ("The sensor inclination angle start value is greater than the end.");
        };
    };

    {% if myAdvancedFlag %}{# activate advanced search tab #}
    $(function(){
        advSearchActivate({{ mySearchType }});
    });
    {% endif %}

    $(function(){
        // for toggling advanced search on / off
        $('#advancedSearch').click(function(event)
        {
          $('.adv_search_ui').toggle('slow', function(){
              $('#id_isAdvanced').val($('#advancedSearchDiv').is(':visible'));
              if ($('#advancedSearchDiv').is(':visible')) {
                $('#advancedSearch').val('Toggle Simple Search');
              } else {
                $('#advancedSearch').val('Toggle Advanced Search');
              }
          });
        });
        {% if myAdvancedFlag %}{# activate advanced search tab #}
        advSearchActivate({{ mySearchType }});
        {% endif %}
        $('#id_search_type').change(function(e){
            advSearchActivate(e.currentTarget.value);
        });
        $('#id_sensor_inclination_angle_start').change(check_sensor_inclination_angles);
        $('#id_sensor_inclination_angle_end').change(check_sensor_inclination_angles);
    });


    // ABP: new Ajax filtering

    // Set select options
    function set_form_options(options){
      $('#search_form select option').show();
      for (id in options) {
        try {
          //console.log('Checking ' + id);
          //console.log(options[id]);
          // To avoid hiding selected: " :not(:selected)"
          // To avoid filtering when the select has a value: "!$(e).parent().val() && "
          // To avoid filtering on multiple: "!$(e).parent().attr('multiple')"
          // Current logic: hide the options if the select has no value(s)
          $('#id_' + id + ' option').each(function(e,e){
            if (e.value && $.inArray(parseInt(e.value), options[id]) == -1) {
              $(e).hide();
              $(e).attr('selected', false);
              //console.log('hiding ' + id + ' val:' + e.value);
            } else {
              //console.log('no match ' + id + ' val:' + e.value);
            }
          });
        } catch(e) {
        };
      };
    };

    /* Ajax call to get options for sensor dictionaries */
    function get_dictionary_options(){
      $("#working").slideDown('slow');
      $.ajax({
        type: "POST",
        url: "/sensordictionaries/",
        data: $('#search_form').serialize(),
        success: function(data) {
          // Just in case...
          $('#search_form select').css({border: 'none'});
          set_form_options(data);
          $("#working").slideUp('slow');
        },
        error: function(data) {
          var errors = $.parseJSON (data.responseText);
          var messages = '';
          for (e in errors) {
            try {
              $('#id_' + e).css({border: 'solid 1px red'});
              messages += '<p>Errors in field <b>' + e + '</b>:<ul><li>';
              messages += errors[e].join('</li><li>');
              messages += '</ul></p>';
            } catch(e) {};
          }
          if (errors['__all__']) {
              messages += '<p>Errors in form :<ul><li>';
              messages += errors['__all__'].join('</li><li>');
              messages += '</ul></p>';
          }
          $('#id_sensors').css({border: 'solid 1px red'});
          $('#messages').html(messages).show('slow');
          $("#working").slideUp('slow');
        }
      });
    };

    $(function(){
      // Next line: uncomment to add a blank option to multiple selects
      //$('#search_form select[multiple="multiple"]:first-child').prepend('<option value="">---------</option>');
      $('#search_form select').change(get_dictionary_options);
      {% if myGuid and myAdvancedFlag %}// Filter initial options
      get_dictionary_options();
      {% endif %}
    });


  /* ]]> */
  </script>

{% endblock %}
{% block body_load %}onload="init()"{% endblock %}
{% block content%}
<div id="maptooltip">&nbsp;</div>
  {# layout done with blueprint.css we inherit 22 cols of space from base.html #}
  <div class="span-22 append-bottom last"> {# recommended to use blueprint divs only for layout ... #}
    <div id="map-container" class="span-22 ui-widget-content ui-state-highlight ui-corner-all last"> {# thus nested jquery widget container #}
      <div id="map" class="span-22 last"></div>
      <div id="map-panel" class="span-22 last">
        <div id="map-navigation-panel" class="span-7 append-1"></div>
        <div id="map-location"  class="prepend-1 span-4 append-1 small"></div>{# small class from blueprint css #}
        <div class="olControlScalebar span-6 append-1" id="map-scale"></div>
      </div>
    </div>
  </div>
  <div id="search-panel" class="span-22 ui-widget-content ui-state-highlight ui-corner-all last">
    {% include "searchPanel.html" %}
  </div>
{% endblock%}












