{% load boxtag %} {# Custom tag defined in templatetags/ #}
<script type="text/javascript">
    // <![CDATA[
    $(function() 
    {
      {# submit button not used when we are using ajax #}
      $("#submitButton").hide();
      $("#statusForm").dialog(
      {
        bgiframe: true,
        autoOpen: false,
        height: 'auto',
        width: 450,
        modal: true,
        buttons: 
        {
          'Update': function() 
          {
            submitHistory();
            $(this).dialog('close');
          },
          Cancel: function() 
          {
            $(this).dialog('close');
          }
        }
      });
    });
    function submitHistory() 
    {
      $("#formHeading").html('Updating status...<img src="/media/images/ajax-loader.gif">'); 
      $("#orderHistory").hide();
      // validate and process form here
      var myDataString = 'order={{myTaskingRequest.id}}';
      {% for myField in myForm %}
      myDataString += "&"; 
      myDataString+="{{myField.html_name}}=" + $("#id_{{myField.html_name}}").val();
      {% endfor %}
      //alert(myDataString);
      $.post(
        "/updateorderhistory/", 
        myDataString,
        function(theResponseData)
        {
           {# alert(theResponseData); #}
           $("#orderHistory").html('');
           $("#orderHistory").slideDown('slow');
           $("#orderHistory").html(theResponseData);
           $("#formHeading").html('Status updated!'); 
        }, 
        "html");
      return false;
    };
  //]]>
</script>
{% box_start "box-tasking-request" %}
<h2 class="centered"><img class="icon" src="/media/images/tasking_32.png"> Tasking Request Details</h2>
<h3 class="centered">Tasking Request No: {{myTaskingRequest.id}}, Order Status: {{myTaskingRequest.order_status}}</h3>
<table>
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>Date</th>
      <th>Owner</th>
      <th>Level</th>
      <th>Resampling</th>
    </tr>
    <tr>
      <td>{{myTaskingRequest.order_date|date:"Y-m-d H:i" }}</td>
      <td>{{myTaskingRequest.user}}</td>
      <td>{{myTaskingRequest.delivery_detail.processing_level}}</td>
      <td>{{myTaskingRequest.delivery_detail.resampling_method}}</td>
    </tr>
    <tr>
      <th>Projection</th>
      <th colspan="2">Datum</th>
      <th>File Format</th>
    </tr>
    <tr>
      <td>{{myTaskingRequest.delivery_detail.projection}}</td>
      <td colspan="2">{{myTaskingRequest.delivery_detail.datum}}</td>
      <td>{{myTaskingRequest.delivery_detail.file_format}}</td>
    </tr>
    <tr>
      <th colspan="2">Full Name</th>
      <th colspan="2">Email</th>
    </tr>
    <tr>
      <td colspan="2">{{myTaskingRequest.user.get_profile.firstname}} {{myTaskingRequest.user.get_profile.surname}}</td>
      <td colspan="2"><a href="mailto:{{myTaskingRequest.user.email}}">{{myTaskingRequest.user.email}}</a></td>
    </tr>
    <tr>
      <th colspan="1">Photo</th>
      <th colspan="3">Address</th>
    </tr>
    <tr>
      <td colspan="1">
        {% load avatars %}
        <img id="avatarimg" src="{% avatar 96 %}" />
      </td>
      <td colspan="3">
      {% if myTaskingRequest.user.get_profile.organisation%}
      {{ myTaskingRequest.user.get_profile.organisation}}<br />
      {% else %}
      Organisation Not set<br />
      {% endif %}
      {% if myTaskingRequest.user.get_profile.address1 %}
        {{ myTaskingRequest.user.get_profile.address1 }}<br />
      {% else %}
        Address1 Not set<br />
      {% endif %}
      {% if myTaskingRequest.user.get_profile.address2 %}
        {{ myTaskingRequest.user.get_profile.address2 }}<br />
      {% else %}
      Address2 Not set<br />
      {% endif %}
      {% if myTaskingRequest.user.get_profile.address3 %}
        {{ myTaskingRequest.user.get_profile.address3 }}<br />
      {% endif %}
      {% if myTaskingRequest.user.get_profile.address4 %}
        {{ myTaskingRequest.user.get_profile.address4 }}<br />
      {% endif %}
      {% if myTaskingRequest.user.get_profile.post_code%}
        {{ myTaskingRequest.user.get_profile.post_code }}<br />
      {% else %}
      Post Code Not set<br />
      {% endif %}
      {% if myTaskingRequest.user.get_profile.contact_no%}
      {{ myTaskingRequest.user.get_profile.contact_no}}<br />
      {% else %}
      Contact Number Not set<br />
      {% endif %}

      </td>
    </tr>
    <tr>
      <th colspan="4">Notes</th>
    </tr>
    <tr>
      <td colspan="4">{{myTaskingRequest.notes}}</td>
    </tr>
    <tr>
      <th colspan="2">Sensor</th>
      <th colspan="2">Target Date</th>
    </tr>
    <tr>
      <td colspan="2">{{ myTaskingRequest.mission_sensor.name}}</td>
      <td colspan="2">{{ myTaskingRequest.target_date|date:"Y-m-d"  }}</td>
    </tr>
  </tbody>
</table>
    {% if myTaskingRequest.delivery_detail.geometry %}
  <div class="centered">
    Download tasking geometry:
    <button onclick='location="/downloadtaskingrequest/{{ myTaskingRequest.id }}/?shp"'>SHP</button>
    <button onclick='location="/downloadtaskingrequest/{{ myTaskingRequest.id }}/?kml"'>KML</button>
    <button onclick='location="/downloadtaskingrequest/{{ myTaskingRequest.id }}/?kmz"'>KMZ</button>
  </div>
    {% endif %}

{% box_end %}
<br />
{% box_start "box-" %}
<div class="span-22">
  <div class="span-11">
    <h2 class="centered" ><img class="icon" src="/media/images/clock_32.png"> Order History</h2>
  </div>
  <div class="span-11">
{% if myForm %}
  <button onclick="$('#statusForm').dialog('open'); return false;"'>Update status</button>
{% endif %}
  </div>
</div>
<div id="orderHistory">
  {% if myHistory %}
    {% include "orderStatusHistory.html" %}
  {% endif %}
</div>
{% box_end %}
<br />
{% if myForm %}
  <div id="statusForm">
      <h1 id="formHeading">Update Status</h2>
      <form enctype="multipart/form-data" action="/updateorderhistory/" method="post" id="order_form">
        {{ myForm.as_p }}
        <input id="id_order" name="order" type="hidden" value="{{myTaskingRequest.id}}" />
        <button type="submit" id="submitButton">Update</button>
      </form>
  </div>
{% endif %}

</script>
