{% load boxtag %} {# Custom tag defined in templatetags/ #}
{% box_start "box-visitors"%}
  {% if myRecords %}
      <table id="gradient-style" summary="Visitor Frequency List">
        <thead> 
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
          <tr>
            <th>User</th>
            <th>Count</th>
          </tr>
          {% for key, value in myRecords.items %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  {% else %}
  <p>No visitors are available.</p>
  {% endif %}
{% box_end %}
