{% extends "pdfpage.html" %}

{% block content %}
{% if myRecords %}
  <div class="h2">Monthly orders report for {{ myCurrentDate|date:'F Y' }}</div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Status</th>
        <th>Placed by</th>
      </tr>
    </thead>               
    <tbody>
    {% for myOrder in myRecords %}
      <tr>
        <td>{{myOrder.id }}</td>
        <td>{{myOrder.order_date|date:"D, d M Y, H:m" }}</td>
        <td>{{myOrder.order_status}}</td>
        <td>{{myOrder.user}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
<p>No reports to generate.</p> 
{% endif %}

{% endblock %}
