{% extends "pdfpage.html" %}

{% block content %}

  <h2>Recent Search History</h2>
  <table width="100%" style="border-bottom: solid 1px; border-top: solid 1px; margin-top: 3px;">
    <tr>
      <th>
        <b>Searched by</b>
      </th>
      <th>
        <b>Searched on</b>
      </th>
      <th>
        <b>Sensor</b>
      </th>
      <th>
        <b>Date range</b>
      </th>
    </tr>
    {% for mySearch in mySearches %}
    <tr>
      <td>
        {{ mySearch.user.get_profile.firstname}} {{mySearch.user.get_profile.surname}}
      </td>
      <td>
        {{ mySearch.search_date|date:"D, d M Y, H:m" }} 
      </td>
      <td>
        {{ mySearch.sensorsAsString }} 
      </td>
      <td>
        {{ mySearch.datesAsString }}
      </td>
      <td>
        {{ mySearch.end_date }} 
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
