{% extends "pdfpage.html" %}

{% load graphtag %}


{% block content %}

{% if myTopCountries and myScores %}

<div class="h2">Visits by country for {{ myCurrentDate|date:'F Y' }}</div>

<center>
<img src="{% gPieChart myScores myGraphLabel 0 %}" />
</center>

<pdf:spacer height='1cm'/>

<div class="h2">Visits by country for {{ myCurrentDate|date:'F Y' }}</div>
<table>
  <thead>
    <th width="150px">Country</th>
    <th width="100px">Visitors</th>
  </thead>
  <tbody>
    {% for myCountry in myScores %}
    <tr>
      <td align="left">{% filter force_escape|capfirst %}{{myCountry.country}}{% endfilter %}</td>
      <td align="right">{{ myCountry.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>No reports to generate.</p>
{% endif %}

{% endblock %}

